/* reset */

html, body, h2, h3, ul, p{
  margin:0;
}

html, body, ul {
  padding:0;
}

html, body {
  font-family:Helvetica;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background:rgba(0,0,0,0.65) url('../img/bg.png') repeat;
  width:1024px;
  height:768px;
}


.overflow {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
}

@font-face {  
  font-family: pacifico ;  
  src: url('../fonts/Pacifico.ttf') format("truetype");  
} 

/* utils */
.blue-light {
  background:#9ac9cd;
}

.blue-dark {
  background:#657B99;
}

.header, .list h3, .detail-header h2{
  font-family:pacifico;
  letter-spacing:1px;
}

/* may be ameliorate the .idea-edit .form input.input */
.header, .header .option, .idea-edit .form input.input {
  height:36px;
}

.header {
  position:relative;

  text-align:center;
  color:white;
}

.header .option {
  position:absolute;
  top:0;
  width:36px;
}

.left {
  left:0;
}

.right {
  right:0;
}

#dock, .list, .details, .idea-edit, .idea-sendmail{
  background:white;
}
#dock, .list, .details, .list ul{
  height:768px;
}

#dock, .list {
  /* is absolute position better? */
  float:left;
}

.details {
  position:absolute;
  width:630px;
  left:394px;
}

/* utils list */

.list {
  /* the position has to be relative to apply the shadow */
  position:relative;
  width:301px;
  overflow-y: scroll;
  /*factorize with every box-shadow */
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

}

.list-item{
  min-height: 85px;
  border-bottom: 1px solid #CCC;
  padding: 30px 20px 20px 30px;
}

.list-item div, .menu-item a{
  /* prevent events */
  pointer-events:none;
}

.list-item.selected {
  background-image:-webkit-linear-gradient(top, #88A5CC 0%, #657B99 80%);
  -webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.3);
}

.list-item.selected, .list-item.selected .date, .list-item.selected p, .menu-item.selected a{
  color:white;
}

.item-header span, .item-body p, .detail-header .date{
  color:gray;
  font-size: 12px;
}


.item-header {
  position:relative;
  height:30px;
}

.item-header h2 {
  display:inline;
  font-size: 18px;
  font-weight:normal;
}

.date {
  float:right;
  font-style:italic;
}

.item-body h3 {
  font-size: 14px;
}

.item-body p {
  margin-top:10px;
}

.tools {
  padding:15px;
}

.search  {
  border:0;
  outline:0;
  height:25px;
  padding:0 25px 0 10px;
  width:160px;
  border-radius:5px;
  background:#F2F2F2;
  font-size: 12px;
  background-image: url('../img/public/search.png');
  background-size: 15px 15px;
  background-position: 96%;
  background-repeat: no-repeat;
}

/* dock */

#dock {
  position:relative;
  background-image: -webkit-linear-gradient(left, #292929, #404040);
  -webkit-box-shadow: inset -5px 0 25px rgba(0,0,0,0.8);
}

#dock a {
  height:94px;
  width:93px;
}

.dock-item {
  display:block;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
  border-bottom: 1px solid black;

  /*width:93px;
  height:94px;*/
  background-size:93px 93px;
}

.dock-item[href="#public"]{
  background:url('../img/disablePublicWall.png');
}

.dock-item[href="#library"]{
  background:url('../img/disableLibrary.png');
}

.dock-item[href="#brainstorm"]{
  background:url('../img/disableBrainstorm.png');
}

.dock-item[href="#connect"]{
  background:url('../img/disableConnect.png');
}

.dock-item[href="#dashboard"]{
  background:url('../img/disableSettings.png');
}

.dock-item[href="#public"].selected{
  background:url('../img/activePublicWall.png');
}

.dock-item[href="#library"].selected{
  background:url('../img/activeLibrary.png');
}

.dock-item[href="#brainstorm"].selected{
  background:url('../img/activeBrainstorm.png');
}

.dock-item[href="#connect"].selected{
  background:url('../img/activeConnect.png');
}

.dock-item[href="#dashboard"].selected{
  background:url('../img/activeSettings.png');
}

.deedee {
  position:absolute;
  left:0;
  bottom:0;

  width:99px;
  height:144px;
  background:url('../img/littleGreyDeeDee.png') no-repeat center center;
  background-size:35%;
}

/* Dock submenus */
.sub-menu{
    position: absolute;
    left: 93px;
    width: 230px;
    border-radius: 5px;
    -webkit-box-shadow: -3px 0 5px rgba(0,0,0,0.5), inset 0 0 10px 1px rgba(255,255,255,0.1);
    z-index: 100;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#292929), to(#404040));
    background-image: -webkit-linear-gradient(91deg, #292929 0%, #404040 100%);
    list-style: none;
}

.left-caret{
    margin-left: -15px;
    margin-top: 40px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid #404040;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    float: left;
}

.menu-item{
    display: inline-block;
    width:230px;
}

.menu-item a{
    font-family: Pacifico;
    padding-left: 60px;
    height: 36px;
    line-height: 36px;
    color: #808080;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 40px 40px;
}

.menu-list .menu-item:nth-child(n+2) {
    border-top:1px solid #666666;
}

#library-menu{
    top: 141px;
    height: 110px;
    margin-top: -55px;   
}

.library-item[href="#ideas"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.library-item[href="#sessions"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.library-item[href="#decks"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .library-item[href="#ideas"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .library-item[href="#sessions"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .library-item[href="#decks"]{
    background-image: url('../img/libraryDeckActive40.png');
}

#connect-menu{
    position: absolute;
    top: 335px;
    height: 110px;
    margin-top: -55px;   
}

.connect-item[href="#connect-contacts"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.connect-item[href="#connect-messages"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.connect-item[href="#connect-twocents"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .connect-item[href="#connect-contacts"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .connect-item[href="#connect-messages"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .connect-item[href="#connect-twocents"]{
    background-image: url('../img/libraryDeckActive40.png');
}

#dashboard-menu{
    position: absolute;
    top: 429px;
    height: 110px;
    margin-top: -55px;   
}

.dashboard-item[href="#dashboard-profile"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.dashboard-item[href="#dashboard-settings"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.dashboard-item[href="#dashboard-about"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .dashboard-item[href="#dashboard-profile"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .dashboard-item[href="#dashboard-settings"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .dashboard-item[href="#dashboard-about"]{
    background-image: url('../img/libraryDeckActive40.png');
}

/* public */

#public .list {
   -webkit-transition: width 140ms ease-in;
   z-index:1000;
}

.mosaic .list{
  width:834px;
}

.list li {
  /* this is a test 
  -webkit-transition: -webkit-box-shadow 60ms ease-in;*/
}

.mosaic .list-item {
  /* */
  display:none;
}

/*#public .option {

}*/

#public-list .option.right {
  background:url('../img/public/plus.png') no-repeat center center;
  background-size:15px 15px;
}

#public-list .option.left {
  background:url('../img/public/mosaique.png') no-repeat center center;
  background-size:15px 15px;
}

/* public details */ 
#public-detail {
 -webkit-transition: opacity 480ms ease-out;
}

.mosaic #public-detail {
  opacity: 0.3;
}

/* factorize with other header buttons */
#public-detail .option.right {
  background:url('../img/public/vote.png') no-repeat center center;
  background-size:12px 15px;
}

#public-detail .option.left {
  background:url('../img/public/2cents.png') no-repeat center center;
  background-size:15px 15px;
}


.idea-detail {
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
min-height:200px;
}
.detail-header, .detail-body {
  margin-left:40px;
  margin-right:40px;
}

.detail-header {
  height:80px;
  padding-top:25px;
  border-bottom:1px solid #CCC;
}

.detail-header .avatar {
  float:left;
  width: 60px;
  height: 60px;
  margin-left:-20px;
  border-radius: 30px;
  background: red;
}
.detail-header h2{
  margin-left:15px;
  font-size:24px;
  font-weight:normal;
  display:inline;
}

.detail-header .date {
  margin-top:10px;
}

.detail-header .author {
  /* may be use an other display */
  display:table-caption;
  width:400px;

  margin-left:15px;
  font-weight : bold;
  font-size: 14 px;
  color: #F27B3D;
}

.detail-body {
  margin-top:12px;
  margin-bottom:20px;
  font-size:12px;
}

/* public detail stack */

/* refactor with .details position absolute */
.detail-stack {
  position:absolute;
  width:630px;
}

.form{
  /* may be set margin instead padding, in this way we don't have to set p margin */
  padding:20px;
}

.form p {
  /* may be try to amelioreate margin and padding to have less css */
  margin-bottom:20px;
}

.input {
  /* keep width 100% size of container with padding */
  -webkit-box-sizing:border-box;
  width:100%;
  padding:0 0 0 10px;
  border:0px;
  outline:0;
  background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
}

textarea.input {
  resize:none;
  padding-top:15px;
}

/* set input size...better solution*/
textarea.description {
  height:100px;
}

textarea.solution {
  height:175px;
}

/* may be create a class button ...they are label to stay in p*/

.submit label {
  -webkit-border-radius:4px;
  text-align:center;
  /* inline-block because labels are inline */
  display:inline-block;
  padding:6px 0;
  width:92px;
  font-weight:bold;
  font-size:12px;
  color:white;
}

.publish {
  background:#8CAB68;
  margin-right:15px;
}

.cancel {
  background:#E69B73;
}

/* detail stack send mail */
.idea-sendmail input.input {
  height:30px;
}

.idea-sendmail textarea {
  min-height:150px;
  padding:20px;
}

.sendmail-attach {
  border:1px solid #CCC;
  -webkit-border-radius:4px;
}


/* LIBRARY */

/*ideas*/
/*sessions*/
#session-list{
    width: 931px;
}

.session-sorting{
    margin-left: 20px;
    height: 65px;
    border-bottom: 1px solid #CCCCCC;
}

.session-tools .search{
    width: 400px;
    margin: 15px 0px 15px 20px;
}

.sort-button{
    border-radius: 5px;
    font-size: 14px;
    color: #B3B3B3;
    text-align: center;
    border: 1px solid #E6E6E6;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.selectsort{
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
    background: #666666;
}

#sbytitle{
    width: 110px;
    margin-left: 10px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#sbydate{
    width: 70px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#sbyidea{
    margin-left: 25px;
    width: 95px;
}

#sbyscore{
    width: 85px;
    margin-left: 465px;
}

.session-details{
    margin-left: 15px;
    width: 916px;
    height: 600px;
    
}

.session-details ul{
    list-style: none;
}

.session-item{
    width: 916px;
    font-size: 14px;
}

.session-item:nth-child(odd){
    background: #F2F2F2;
}

.session-item tr, .session-item td, .boxscore{
    padding: 0px;
    height: 61px;
    text-align: center; 
}

.session-type{
    width: 70px;
    background: url('../img/library/sessionQuick.png') no-repeat center center;
    background-size: 40px 40px;
}

.session-info{
    width: 135px;
    border-right: 1px solid #CCCCCC;
}

.session-date{
    color:gray;
    font-style: italic;
    font-size: 12px;
}

.session-idea{
    width: 415px;
    border-right: 1px solid #CCCCCC;
}

.avatarlist{
    text-align: right;
}

.session-item td.session-idea span{
    text-align: left;
}

.session-status{
    width: 145px;
    border-right: 1px solid #CCCCCC;
}

.session-score{
    width: 145px;
}

/*decks*/


/*BRAINSTORM*/

#brainstorm{
    float: left;
    height: 768px;
    background:#F2F2F2 url('../img/bg.png') no-repeat center center;
}

#brainstorm, .brainstorm-header{
    width: 931px;
}

.brainstorm-header .date{
    float: left;
    margin-left: 15px;
}

.brainstorm-header .clock{
    float: right;
    margin-right: 15px;
    padding-left: 26px;
    background: url('../img/brainstorm/bell14x16.png') no-repeat left 8px;
    background-size: 14px 16px;
}
