/* reset */

html, body, h2, h3, ul, p{
  margin:0;
}

html, body, ul {
  padding:0;
}

html, body {
  font-family:Helvetica;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background:rgba(0,0,0,0.65) url('../img/bg.png') repeat;
  width:1024px;
  height:748px;
}


.overflow {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
}

@font-face {  
  font-family: pacifico ;  
  src: url('../fonts/Pacifico.ttf') format("truetype");  
} 

/* utils */
.blue-light {
  background:#9ac9cd;
}

.blue-dark {
  background:#657B99;
}

.header, .list h3, .detail-header h2{
  font-family:pacifico;
  letter-spacing:1px;
}

/* may be ameliorate the .idea-edit .form input.input */
.header, .header .option, .idea-edit .form input.input {
  height:36px;
}

.header {
  position:relative;

  text-align:center;
  color:white;
}

.header .option {
  position:absolute;
  top:0;
  width:36px;
}

.left {
  left:0;
}

.right {
  right:0;
}

#dock, .list, .details, .idea-edit, .idea-sendmail{
  background:white;
}
#dock, .list, .details, .list ul{
  height:748px;
}

#dock, .list {
  /* is absolute position better? */
  float:left;
}

.details {
  position:absolute;
  width:630px;
  left:394px;
}

/* utils list */

.list {
  /* the position has to be relative to apply the shadow */
  position:relative;
  width:301px;
  overflow-y: scroll;
  /*factorize with every box-shadow */
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

}

.list-item{
  min-height: 85px;
  border-bottom: 1px solid #CCC;
  padding: 30px 20px 20px 30px;
}

.list-item div, .menu-item a{
  /* prevent events */
  pointer-events:none;
}

.list-item.selected {
  background-image:-webkit-linear-gradient(top, #88A5CC 0%, #657B99 80%);
  -webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.3);
}

.list-item.selected, .list-item.selected .date, .list-item.selected p, .menu-item.selected a{
  color:white;
}

.item-header span, .item-body p, .detail-header .date{
  color:gray;
  font-size: 12px;
}


.item-header {
  position:relative;
  height:30px;
}

.item-header h2 {
  display:inline;
  font-size: 18px;
  font-weight:normal;
}

.date {
  float:right;
  font-style:italic;
}

.item-body h3 {
  font-size: 14px;
}

.item-body p {
  margin-top:10px;
}

.tools {
  padding:15px;
}

.search  {
  border:0;
  outline:0;
  height:25px;
  padding:0 25px 0 10px;
  width:160px;
  border-radius:5px;
  background:#F2F2F2;
  font-size: 12px;
  background-image: url('../img/public/search.png');
  background-size: 15px 15px;
  background-position: 96%;
  background-repeat: no-repeat;
}

/* dock */

#dock {
  position:relative;
  background-image: -webkit-linear-gradient(left, #292929, #404040);
  -webkit-box-shadow: inset -5px 0 25px rgba(0,0,0,0.8);
}

#dock a {
  height:94px;
  width:93px;
}

.dock-item {
  display:block;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
  border-bottom: 1px solid black;

  /*width:93px;
  height:94px;*/
  background-size:93px 93px;
}

.dock-item[href="#public"]{
  background:url('../img/disablePublicWall.png');
}

.dock-item[href="#library"]{
  background:url('../img/disableLibrary.png');
}

.dock-item[href="#brainstorm"]{
  background:url('../img/disableBrainstorm.png');
}

.dock-item[href="#connect"]{
  background:url('../img/disableConnect.png');
}

.dock-item[href="#dashboard"]{
  background:url('../img/disableSettings.png');
}

.dock-item[href="#public"].selected{
  background:url('../img/activePublicWall.png');
}

.dock-item[href="#library"].selected{
  background:url('../img/activeLibrary.png');
}

.dock-item[href="#brainstorm"].selected{
  background:url('../img/activeBrainstorm.png');
}

.dock-item[href="#connect"].selected{
  background:url('../img/activeConnect.png');
}

.dock-item[href="#dashboard"].selected{
  background:url('../img/activeSettings.png');
}

.deedee {
  position:absolute;
  left:0;
  bottom:0;

  width:99px;
  height:144px;
  background:url('../img/littleGreyDeeDee.png') no-repeat center center;
  background-size:35%;
}

/* Dock submenus */
.sub-menu{
    position: absolute;
    left: 93px;
    width: 230px;
    border-radius: 5px;
    -webkit-box-shadow: -3px 0 5px rgba(0,0,0,0.5), inset 0 0 10px 1px rgba(255,255,255,0.1);
    z-index: 100;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#292929), to(#404040));
    background-image: -webkit-linear-gradient(91deg, #292929 0%, #404040 100%);
    list-style: none;
}

.left-caret{
    margin-left: -15px;
    margin-top: 40px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid #404040;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    float: left;
}

.menu-item{
    display: inline-block;
    width:230px;
}

.menu-item a{
    font-family: Pacifico;
    padding-left: 60px;
    height: 36px;
    line-height: 36px;
    color: #808080;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 40px 40px;
}

.menu-list .menu-item:nth-child(n+2) {
    border-top:1px solid #666666;
}

#library-menu{
    top: 141px;
    height: 110px;
    margin-top: -55px;   
}

.library-item[href="#ideas"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.library-item[href="#sessions"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.library-item[href="#decks"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .library-item[href="#ideas"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .library-item[href="#sessions"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .library-item[href="#decks"]{
    background-image: url('../img/libraryDeckActive40.png');
}

#connect-menu{
    position: absolute;
    top: 335px;
    height: 110px;
    margin-top: -55px;   
}

.connect-item[href="#connect-contacts"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.connect-item[href="#connect-messages"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.connect-item[href="#connect-twocents"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .connect-item[href="#connect-contacts"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .connect-item[href="#connect-messages"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .connect-item[href="#connect-twocents"]{
    background-image: url('../img/libraryDeckActive40.png');
}

#dashboard-menu{
    position: absolute;
    top: 429px;
    height: 110px;
    margin-top: -55px;   
}

.dashboard-item[href="#dashboard-profile"]{
    background-image: url('../img/libraryIdeaDisabled40.png');   
}

.dashboard-item[href="#dashboard-settings"]{
    background-image: url('../img/librarySessionDisabled40.png');
}

.dashboard-item[href="#dashboard-about"]{
    background-image: url('../img/libraryDeckDisabled40.png');
}

.menu-item.selected .dashboard-item[href="#dashboard-profile"]{
    background-image: url('../img/libraryIdeaActive40.png');   
}

.menu-item.selected .dashboard-item[href="#dashboard-settings"]{
    background-image: url('../img/librarySessionActive40.png');
}

.menu-item.selected .dashboard-item[href="#dashboard-about"]{
    background-image: url('../img/libraryDeckActive40.png');
}

/* public */

#public .list {
   -webkit-transition: width 140ms ease-in;
   z-index:1000;
}

.mosaic .list{
  width:834px;
}

.list li {
  /* this is a test 
  -webkit-transition: -webkit-box-shadow 60ms ease-in;*/
}

.mosaic .list-item {
  /* */
  display:none;
}

/*#public .option {

}*/

#public-list .option.right {
  background:url('../img/public/plus.png') no-repeat center center;
  background-size:15px 15px;
}

#public-list .option.left {
  background:url('../img/public/mosaique.png') no-repeat center center;
  background-size:15px 15px;
}

/* public details */ 
#public-detail {
 -webkit-transition: opacity 480ms ease-out;
}

.mosaic #public-detail {
  opacity: 0.3;
}

/* factorize with other header buttons */
#public-detail .option.right {
  background:url('../img/public/vote.png') no-repeat center center;
  background-size:12px 15px;
}

#public-detail .option.left {
  background:url('../img/public/2cents.png') no-repeat center center;
  background-size:15px 15px;
}


.idea-detail {
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
min-height:200px;
}
.detail-header, .detail-body {
  margin-left:40px;
  margin-right:40px;
}

.detail-header {
  height:80px;
  padding-top:25px;
  border-bottom:1px solid #CCC;
}

.detail-header .avatar {
  float:left;
  width: 60px;
  height: 60px;
  margin-left:-20px;
  border-radius: 30px;
  background: red;
}
.detail-header h2{
  margin-left:15px;
  font-size:24px;
  font-weight:normal;
  display:inline;
}

.detail-header .date {
  margin-top:10px;
}

.detail-header .author {
  /* may be use an other display */
  display:table-caption;
  width:400px;

  margin-left:15px;
  font-weight : bold;
  font-size: 14 px;
  color: #F27B3D;
}

.detail-body {
  margin-top:12px;
  margin-bottom:20px;
  font-size:12px;
}

/* public detail stack */

/* refactor with .details position absolute */
.detail-stack {
  position:absolute;
  width:630px;
}

.form{
  /* may be set margin instead padding, in this way we don't have to set p margin */
  padding:20px;
}

.form p {
  /* may be try to amelioreate margin and padding to have less css */
  margin-bottom:20px;
}

.input {
  /* keep width 100% size of container with padding */
  -webkit-box-sizing:border-box;
  width:100%;
  padding:0 0 0 10px;
  border:0px;
  outline:0;
  background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
}

textarea.input {
  resize:none;
  padding-top:15px;
}

/* set input size...better solution*/
textarea.description {
  height:100px;
}

textarea.solution {
  height:175px;
}

/* may be create a class button ...they are label to stay in p*/

.submit label {
  -webkit-border-radius:4px;
  text-align:center;
  /* inline-block because labels are inline */
  display:inline-block;
  padding:6px 0;
  width:92px;
  font-weight:bold;
  font-size:12px;
  color:white;
}

.publish {
  background:#8CAB68;
  margin-right:15px;
}

.cancel {
  background:#E69B73;
}

/* detail stack send mail */
.idea-sendmail input.input {
  height:30px;
}

.idea-sendmail textarea {
  min-height:150px;
  padding:20px;
}

.sendmail-attach {
  border:1px solid #CCC;
  -webkit-border-radius:4px;
}


/* LIBRARY */

/*ideas*/
/*sessions*/
#session-list{
    width: 931px;
}

.session-sorting{
    margin-left: 20px;
    height: 65px;
    border-bottom: 1px solid #CCCCCC;
}

.session-tools .search{
    width: 400px;
    margin: 15px 0px 0px 20px;
}


#sessionsearchresult{
    height: 15px;
    margin-left: 30px;
    font-size: 10px;
    font-style: italic;    
}

.sort-button{
    border-radius: 5px;
    font-size: 14px;
    color: #B3B3B3;
    text-align: center;
    border: 1px solid #E6E6E6;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.selectsort{
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
    background: #666666;
}

.sort-caret{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    margin-top: 10px;
    height: 0;
    width: 0;
    float: right;
    margin-right: 10px;
}

.sort-ascending{
    border-bottom: 10px solid #B3B3B3;
    border-top: none;    
}

.sort-descending{
    border-bottom: none;
    border-top: 10px solid #B3B3B3;     
}

.selectsort .sort-ascending{
    border-bottom: 10px solid white;
}

.selectsort .sort-descending{
    border-top: 10px solid white;
}

#sbytitle{
    width: 110px;
    margin-left: 10px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

#sbydate{
    width: 70px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#sbyidea{
    margin-left: 25px;
    width: 95px;
}

#sbyscore{
    width: 85px;
    margin-left: 465px;
}

.session-details{
    width: 931px;
    height: 600px;
}

.session-details ul{
    list-style: none;
    overflow-y: scroll;
}

.session-item table{
    width: 931px;
    font-size: 14px;
    border-spacing: 0px;
    border: none;
}

.session-item .actionbar{
    display: none;
    width: 931px;
    height: 61px;
    text-align: center;
    background-image: -webkit-gradient(linear,center bottom,center top,from(#292929) ,to(#404040));
    background-image: -webkit-linear-gradient(bottom,#292929,#404040);
    -webkit-box-shadow: 0 1px 0 white, inset 0 0 5px 1px rgba(0,0,0,0.8);
}

.actionbar .replaysession, .actionbar .deletesession{
    display: inline-block;
    width: 70px;
    height: 61px;
    background-size: 40px 40px;
}

.actionbar .replaysession{
    background: url('../img/library/25goToSession.png') no-repeat center center;    
}

.actionbar .deletesession{
    background: url('../img/library/25delete.png') no-repeat center center;    
}

/* -- removed - doesn't look good as outline shows
.replaysession.active{
    background: url('../img/library/25goToSessionActive.png') no-repeat center center;     
}

.deletesession.active{
    background: url('../img/library/25deleteActive.png') no-repeat center center;     
}
*/

.session-item:nth-child(odd){
    background: #F2F2F2;
}

.session-item tr, .session-item td, .boxscore{
    padding: 0px;
    height: 61px; 
}

.session-type{
    width: 70px;
    background: url('../img/library/sessionQuick.png') no-repeat center center;
    background-size: 40px 40px;
}

.session-item td.session-info{
    width: 150px;
    border-right: 1px solid #CCCCCC;
    text-align: left;
    overflow-x: hidden;
    padding-right: 2px;
    font-size: 12px;
}

.session-item td.session-date{
    color:#808080;
    font-style: italic;
}

.session-item td.session-idea{
    height: 61px;
    text-align: left;
    padding-left: 10px;
    width: 220px;
    font-family: Pacifico;
}

.session-item .avatarlist ul{
    text-align: right;
    width: 186px;
    max-height: 61px;
}

.avatarlist li{
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.session-status{
    width: 144px;
    font-style: italic;
    color: #F27B3D;
    border-left: 1px solid #CCCCCC; 
    border-right: 1px solid #CCCCCC;
    text-align: center;
}

.session-score{
    width: 145px;
    color: #666666;
    font-family: Pacifico;
    text-align: center;
}

.session-score .points{
    font-size: 21px;
}
/*decks*/


/*BRAINSTORM*/

#brainstorm{
    float: left;
    height: 748px;
/*    background:#F2F2F2 url('../img/bg.png') no-repeat center center;*/
    background: #CCCCCC;
    background-size: 4px 3px;
    background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%, rgba(255,255,255,.2) 75%,transparent 75%, transparent);
}

#brainstorm, .brainstorm-header{
    width: 931px;
}

.brainstorm-header .date, .brainstorm-header .clock{
    position: absolute;
    z-index: 200;
    line-height: 30px;        
}

.brainstorm-header .date{
    left: 15px;
}

.brainstorm-header .clock{
    right: 15px;
    top: 0;
    position: absolute;
    padding-left: 26px;
    background: url('../img/brainstorm/bell14x16.png') no-repeat left 8px;
    background-size: 14px 16px;
}

#ideafy-menu .brainstorm-header{
    margin-top: -36px;
}

#ideafy-menu ul{
    margin: 0 auto;
    margin-top: 195px;
    width: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(23,41,48,0.4);
    background: white;
    font-family: Pacifico;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4D4D4D;
    list-style: none;
}

#ideafy-menu ul>li{
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    background-size: 40px 40px;
    background-position: 10px center;
    background-repeat:no-repeat;
}

#ideafy-menu ul li:nth-child(n+2) {
    border-top:1px solid #CCCCCC;
}

#ideafy-menu .inactive{
    color: white;
    background-color: #E5E5E5;
}

/* quick brainstorming */

.progressbar{
    height: 36px;
    width: 871px;
    background: white;
    padding: 30px;
    text-align: center;
}

#quicksteplist{
    list-style: none;
    display: inline-block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    height: 34px;
    border: 1px solid #aeb9bf;
    border-radius: 5px;  
}

#quicksteplist .step{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: #B3B3B3;
    font-family: Helvetica;
    font-size: 12px;
    height: 34px;
    border-right: 1px solid #aeb9bf;   
}

#quicksteplist .step:nth-last-child{
    border-right: none;
}

#quicksteplist .step.pressed{
    color: white;
}

.inactive{
    color: #B3B3B3;
    background: #E5E5E5;
}

#quickstart .brainstorm-header, #quicksetup .brainstorm-header, #quickscenario .brainstorm-header, #quicktech .brainstorm-header, #quickidea .brainstorm-header, #quickwrapup .brainstorm-header{
    margin-top: -36px;
    line-height: 36px;
}

#quickscenario, #quickidea, #quickwrapup{
    background: white;
    width: 931px;
    height: 748px;
}

#quickstart .quickstart-form, #quicksetup .drawarea, #quicktech .drawarea{
    background: white;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(23,41,48,0.4);
}

.next-button{
    color: white;
    width: 56px;
    height: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    background: #94A3B8;
    border-radius: 5px;    
}

.previousbutton{
    position: absolute;
    width: 130px;
    height: 36px;
    top: 0px;
    margin-left: 15px;
    z-index: 1000;
    background: #9ac9cd;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px auto ;
    background-image: url('../img/brainstorm/previousstep.png');
}

.previousbutton.pressed{
    background-image: url('../img/brainstorm/previousactive.png');
    -webkit-box-shadow: none;
}

.drawarea{
    width: 441px;
    height: 425px;
    padding: 20px;
}

.drawok{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 58px;
    margin-right: 58px;
    background-size: contain;
    background: url('../img/brainstorm/lockdraw.png') no-repeat center center;
}

.drawok.pushed{
    background: url('../img/brainstorm/drawaccepted.png') no-repeat center center;
}

.leftarea{
    width: 167px;
    height: 732px;
    float: left;
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ffffff),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(left,#ffffff 0%,#f2f2f2 100%);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;   
}

.workarea{
        float: left;
    margin-left: 5px;
    width: 719px;
    height: 632px;
    background: white;    
}

.whiteboard{
    width: 717px;
    height: 438px;
    background: #F2F2F2;
    border: 1px dashed #CCCCCC;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;    
}

.whiteboard .defaultcontent{
    display: inline-block;
    color: #657B99;
    font-size: 12px;
    font-family: Helvetica;
    width: 567px;
    margin-left: 75px;
    margin-top: 150px;
}

.whiteboard .defaultcontent strong{
    color: #254066;
}

.whiteboard .doctor-deedee{
    float: left;
    width: 87px;
    height: 85px;
    background-image: url('../img/brainstorm/doctordeedee87x85.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;  
}

.whiteboard .help{
    float: left;
    width: 450px;
    padding-left: 30px;
}

.whiteboard div.help>p{
    margin-bottom: 5px;
}

.toolbox{
    margin: 0 159px;
    display: inline-block;
    height: 130px;
    width: 390px;
    padding: 30px 0px;
}

.toolbox-button{
    width:100px;
    height:130px;
    margin: 0px 15px;
    float: left;
}

.toolbox-button div{
    width: 100px;
    height: 100px;
    background-size: contain;
}

.toolbox-button legend{
    width: 100px;
    padding: 0px;
    text-align: center;
    font-family: Pacifico;
    margin-top: 15px;
    line-height: 15px;
    color: #808080;
}

.toolbox-button .postit-button{
    background-image: url('../img/brainstorm/postItDisable100.png');
}

.toolbox-button .importpic-button{
    background-image: url('../img/brainstorm/importDisable100.png');
}

.toolbox-button .drawingtool-button{
    background-image: url('../img/brainstorm/drawingDisable100.png');
}

.toolbox-button .postit-button.pushed{
    background-image: url('../img/brainstorm/postItActive100.png');
}

.toolbox-button .importpic-button.pushed{
    background-image: url('../img/brainstorm/importActive100.png');
}

.toolbox-button .drawingtool-button.pushed{
    background-image: url('../img/brainstorm/drawingActive100.png');
}

.finish-button{
    width: 145px;
    height: 34px;
    line-height: 34px;
    color: white;
    font-size: 12px;
    background: #94A3B8;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

/* quickstart */

#quickstart .quickstart-form{
    width: 590px;
    height: 370px;    
    padding:40px 20px 40px 20px;    
}

#quickstart .quickstart-form label{
    font-family: Pacifico;
    color: #657B99;
    font-size: 14px;
    letter-spacing: 1px;
}

#quickstart hr{
    border: none;
    background:#AEB9BF;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 10px;
    -webkit-margin-before: 0px;
    _webkit-margin-after: 0px;
}

#quickstart .quickstart-form textarea{
    font-size: 12px;
    background: #F2F2F2;
    border: none;
    width: 570px;
    padding: 10px;
    outline: 0px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);    
}

#quickstart .quickstart-title{
    height: 70px;
    margin-bottom: 40px;
}

#quickstart .quickstart-desc{
    height: 115px;
    margin-bottom: 20px;
}

#quickstart .next-button{
    margin-left: 534px;
}

/* quicksetup */

#quicksetup .drawbutton, #quicktech .drawbutton{
    display: inline-block;
    height: 107px;
    width: 107px;
    background-size: contain;
    border-radius: 50px;
    margin: 20px 20px 30px 20px;
}

.drawchar{
    background: url('../img/decks/charactersactive.png') no-repeat center center;
}

.drawcontext{
    background: url('../img/decks/contextactive.png') no-repeat center center;    
}

.drawproblem{
    background: url('../img/decks/problemactive.png') no-repeat center center;
}

.drawtech{
    background: url('../img/decks/technologyactive.png') no-repeat center center;
}

.drawchar.pushed{
    background: url('../img/decks/characters.png') no-repeat center center;
}

.drawcontext.pushed{
    background: url('../img/decks/context.png') no-repeat center center;    
}

.drawproblem.pushed{
    background: url('../img/decks/problem.png') no-repeat center center;
}

.drawtech.pushed{
    background: url('../img/decks/technology.png') no-repeat center center;
}



#quicksetup .next-button{
    margin-top: 20px;
    margin-left: 364px;
}

/* cards, reusable */
.card{
    display: inline-block;
    float: left;
    margin: 0px 20px 10px 20px;
    height: 155px;
    width: 107px;
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: center;
    background-size: 107px 155px;   
}

.card.highlighted{
    -webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.3);    
}

.card .cardpicture{
    display: inline-block;
    margin: 10px 10px 25px 10px;
    width: 87px;
    height: 87px;
}

.card .cardtitle{
    font-size: 14px;
    line-height: 14px;
    font-family: Pacifico;
    color: #808080;
}

/*default cards in case picture is missing */
.defaultchar{
    background: url('../img/decks/fullcards/activeCharacter.png') no-repeat;
} 

.defaultcontext{
    background: url('../img/decks/fullcards/activeContext.png') no-repeat;
}

.defaultproblem{
    background: url('../img/decks/fullcards/activeProblem.png') no-repeat;
}

.defaulttech{
    background: url('../img/decks/fullcards/activeTechnology.png') no-repeat;
}

.defaultscenario{
    background: url('../img/decks/fullcards/activeProblem.png') no-repeat;    
}

.defaultchar.highlighted{
    background: url('../img/decks/fullcards/disableCharacter.png') no-repeat;
} 

.defaultcontext.highlighted{
    background: url('../img/decks/fullcards/disableContext.png') no-repeat;
}

.defaultproblem.highlighted{
    background: url('../img/decks/fullcards/disableProblem.png') no-repeat;
}

.defaulttech.highlighted{
    background: url('../img/decks/fullcards/disableTechnology.png') no-repeat;
}

.defaultscenario.highlighted{
    background: url('../img/decks/fullcards/disableProblem.png') no-repeat;
}

/* quickscenario */

#quickscenario-left{
    padding-top: 93px;
    height: 639px;
    text-align: center;
}

#quickscenario-left .card{
    margin: 10px 30px;
}

#quickscenario-right{
 
}

#quickscenario .next-button{
    margin-left: 683px;
}

/* quicktech */

#quicktech-left .card{
    margin: 20px 30px 30px 30px;
}

#quicktech .drawarea{
    float: left;
    margin-left: 142px;
}

#quicktech .drawbutton{
    margin-left: 167px;
}

#quicktech .cards{
    overflow-x: scroll;
}

#quicktech .next-button{
    margin-top: 20px;
    margin-left: 364px;
}

/* quickidea */
#quickidea-left ul{
    list-style: none;
}

#quickidea-left{
    padding-top: 15px;
    height: 717px;
}

#quickidea-left .card{
    margin: 10px 30px 10px 30px;
}

/* quickwrapup */
#quickwrapup{
    text-align: center;
}

#quickwrapup .congrats{
    height: 92px;
    width: 445px; 
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 113px;
}

#quickwrapup .congrats .message{
    float: left;
    width: 330px;
    height: 72px;
    padding-top:15px;
    background: #F2F2F2;
    border: 1px dashed #CCCCCC;
    border-radius: 5px;
    color: #657B99;
    font-family: Pacifico;    
}

#quickwrapup .congrats .messagetitle{
    font-size: 18px;
    display: block;
}

#quickwrapup .congrats .sessioncompleted{
    display: block;
    font-size: 14px;
    line-height: 14px;   
}

#quickwrapup .congrats .enddeedee{
    display: inline-block;
    float: left;
    margin-left: 15px;
    width: 98px;
    height: 92px;
    background-image: url('../img/brainstorm/enddeedee.png');
    background-size: contain;
}

#quickwrapup .summary{
    width: 664px;
    height: 430px;
    padding-left: 8px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 5px;
    background: url('../img/brainstorm/book.png');
    background-size: contain;
}

#quickwrapup .storysummary, #quickwrapup .ideasummary{
    width: 262px;
    height: 385px;
    padding: 25px 0px 20px 25px;
    margin-left: 20px;
    float: left;
    text-align: left;
}

#quickwrapup .storyheader, #quickwrapup .storytitle, #quickwrapup .ideaheader, #quickwrapup .ideatitle{
    color: white;
    font-family: Pacifico;
    font-size: 16px;
    text-overflow: ellipsis;        
}

#quickwrapup .storyheader, #quickwrapup .ideaheader{
    padding-left: 25px;
    background-repeat: no-repeat;
}

#quickwrapup .storyheader{
    background-image: url('../img/brainstorm/iconStory16x14.png');
    background-position: left 10px;   
    background-size: 16px 14px;    
}

#quickwrapup .ideaheader{
    background-image: url('../img/brainstorm/iconIdea12x16.png');
        background-position: left 8px;    
}

#quickwrapup .storycontent, #quickwrapup .ideacontent{
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 323px;
}

#quickwrapup .storycontent .summaryheader, #quickwrapup .ideacontent .summaryheader{
    text-align: left;
    font-family: Pacifico;
    font-size: 14px;
    height: 25px;
}

#quickwrapup .storycontent .content, #quickwrapup .ideacontent .content{
    font-family: Helvetica;
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
}

#quickwrapup .sessionresults{
    width: 624px;
    display: inline-block;
}

#quickwrapup .sessiontime, #quickwrapup .sessionscore{
    float: left;
    display: inline-block;
    width: 252px;
    height: 40px;
    margin-left: 10px;
    padding-left: 50px;
    background-size: 40px 40px;
    background-position: left center;
    background-repeat: no-repeat;   
}

#quickwrapup .sessiontime span, #quickwrapup .sessionscore span{
    display: block;
    text-align: left;
    line-height:20px;
    font-family: Pacifico;
    color: #808080;
    font-size: 14px;
}

#quickwrapup .sessiontime{
    background-image: url('../img/brainstorm/yourTime40.png');    
}

#quickwrapup .sessionscore{
    background-image: url('../img/brainstorm/yourScore40.png');      
}

#quickwrapup .sessioncards{
    width: 931px;
    height: 191px;
    margin-top: 30px;
    overflow-y: scroll;
    padding-top: 15px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#ffffff),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(bottom,#ffffff 0%,#f2f2f2 100%);
    -webkit-box-shadow: inset 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#quickwrapup .sessioncards legend{
    font-family: Pacifico;
    font-size: 14px;
    margin: 0 auto;
    color: #666666;
}
