  #public {
    height:768px;

  }

  #public .lists {
    float:left;
    background:white;

    /* for the expand animation */
    overflow-x: hidden;
  }

   #public .details {
     -webkit-transition: opacity 480ms ease-out;
    position:absolute;
    left:301px;
   }

  #public .lists {
    -webkit-transition: width 140ms linear;
    position:relative;
    z-index:10;
    width:301px;
   height:768px;

   -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);

  }

  #public  .lists.expand{
    width:834px;
  }

  #public .details.expand {
    opacity:0.3;
  }

  #public .lists .ideas {
    height:732px;
    position:relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 

    /* for the expand back animation */
    width:301px;
  }
  
  #public .searchfield {
      border: none;
      background: #F2F2F2;
      border-radius: 5px;
      height: 25px;
      width: 70%;
      margin-top: 15px;
      margin-left: 15px;
      line-height: 25px;
      color: black;
      font-family: Helvetica;
      font-size: 12px;
      background-image: url('../img/wall/search.png');
      background-size: 15px 15px;
      background-position: 96%;
      background-repeat: no-repeat;
  }

  #public .lists .ideas li {
    min-height:80px;
    border-bottom:1px solid #CCCCCC;

    padding:20px;

  }

  #public .lists .ideas li.selected {
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88A5CC), color-stop(80%, #657B99));
     background: -webkit-linear-gradient(top, #88A5CC 0%, #657B99 80%);
      color: white;
    /*-webkit-box-shadow: inset 0 -1px 5px 1px rgba(0,0,0,0.3);*/
  }
  
  #public .lists .ideas li.selected .date{
      color: white;
  }
  #public .lists .ideas li.selected p{
      color: white;
  }
  #public .lists .ideas li.selected .rating{
      color: white;
  }

  #public .lists .ideas li .author {
    /* put ... when author is too long */
    float:left;
    /*compresser ça? */
    font-size: 14px;
    text-overflow: ellipsis;
    font-family: Helvetica;
  }

  #public .date {
    color:#808080;
    font-size: 12px;
    font-style:italic;
    font-family: Helvetica;
  }
  
  #public .lists .ideas li .date {
    float:right;
    line-height:21px;
    margin-right:5px;
  }

    #public .lists .ideas li .title {
      margin-top:25px;
    /*compresser ça? */
    font-size: 14px;
    font-family: Pacifico;
  }

  #public .lists .ideas li p  {
    color:#808080;
    font-family:Helvetica;
    font-size:12px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top:10px;
    margin-bottom:10px;
   /*max-height: 30px;*/
  }

  #public .lists img {
    height:15px;
  }

  #public .lists .type {
      display:inline-block;
      width: 15px;
      height: 15px;
    background-image: url('../img/wall/publicForList.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  
  #public .lists .type .selected {
    background-image: url('../img/wall/publicForList.png');
  }

  #public .lists .acorn {
   display: inline-block;
    margin-left:5px;
    width: 15px;
    height: 15px;
    background-image: url('../img/wall/rateForList.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  
  #public .lists .acorn .selected {
    background-image: url('../img/wall/vote.png');
  }

  #public .lists .rating {
    display:inline-block;
    font-family:Helvetica;
    font-size:12px;
    color:#B3B3B3;
  }

  .truncate {
    text-overflow:ellipsis;
    text-align:justify;
    white-space: nowrap;
    overflow: hidden;
  }


  #public .header {
    height:36px;
    color:white;
    font-size:16px;
    font-family:pacifico;
    text-align:center;

    letter-spacing: 1px;
  }

  #public .lists .header {
    background-color:#9ac9cd;
    position:relative;
  }


  #public .lists .header .headerTitle {
    /*width:60%;*/
  }

  #public .mosaic {
    background:url('../img/wall/mosaique.png') no-repeat center center;
    background-size:15px 15px;
    height:36px;
    width:36px;
    position:absolute;
    left:0;
  }

    #public .plus {
    background:url('../img/wall/plus.png') no-repeat center center;
    background-size:15px 15px;
    height:36px;
    width:36px;
    position:absolute;
    right:0;
    top:0;
  }

  #public .details {
    width:630px;
  }

  #public .details .header {
    background-color:#657B99;
  }
  
  #public .details .twocentbutton {
    background:url('../img/wall/2cents.png') no-repeat center center;
    background-size:15px 15px;
    height:36px;
    width:36px;
    position:absolute;
    left:0;
  }

    #public .details .rate {
    background:url('../img/wall/vote.png') no-repeat center center;
    background-size:12px 15px;
    height:36px;
    width:36px;
    position:absolute;
    right:0;
    top:0;
  }

  #public .details .content {
    height:732px;
    background:white;
    overflow-y: scroll;
    /*background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);*/
    /*-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);*/
  }

#public .lists.expand .ideas {
  width:834px;
}
/* expand mode */
#public .lists.expand li {
  width:188px;
  float:left;
  border:1px solid #CCCCCC;
  margin-left:15px;
  margin-top:15px;
  padding:0;
}

#public .lists.expand .ideaHeader {
  height:40px;
  padding:7px;
}

#public .lists.expand .author {
  font-size:14px;
  width: 120px;
  height: 18px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  margin-left:10px;
}

#public .lists.expand .ideas li .title {
  margin-top:0;
}

#public .lists.expand .avatar {
  width:40px;
  height:40px;
  border-radius:20px;
  float:left;
  background:url('../img/wall/60blueProfile.png');
  background-size:cover;
}

#public .lists.expand .truncate {
    text-align:left;
    height: 60px;
}

#public .lists.expand .ideas li .date {
  float:none;
  display: inline-block;
    margin-left: 10px;
}

#public .lists.expand .ideaContent {
  background:#F2F2F2;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
    padding:20px 20px 15px 15px;
}

#public .lists.expand .rating, #public .lists.expand .acorn {
  display:none;
}

#public .lists .ratingExpand {
  display:none;
}

#public .lists.expand .ratingExpand {
  display:block;
  float: right;
 display: inline;
}

.ratingExpand img {
  margin-left:5px;
}

/*details */
#public .details .detailsHeader {
  padding:25px 40px 30px 20px;
  position:relative;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
  height: 260px;
  overflow-y:scroll;
  background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
}

#public .details .detailsTitle {
  display:block;
  font-size:24px;
  line-height: 24px;
  margin-bottom: 10px;
  font-family:pacifico;
  max-width: 450px;
  text-overflow: ellipsis;
  margin-left:70px;
}

#public .details .detailsAuthor {
  font-size:14px;
  font-family:Helvetica;
  font-weight:bold;
  color:#F27B3D;
  margin-left:70px;
  float: left;
  max-width: 400px;
  text-overflow: ellipsis;
}

#public .detailsHeader .commentLabel{
    color: black;
    margin-left: 2px;
    float: left;
    font-size: 14px;
    font-family:Helvetica;
    color: black;
}

#public .details .detailsDate {
top: 35px;
right: 40px;
position: absolute;
}

#public .details .detailsAvatar {
  position: absolute;
  top:25px;
  left: 20px;
  width:60px;
  height:60px;
  background-size: cover;
  border-radius:30px;
  background:url('../img/userpics/deedee0.png');
}

#public .details .detailsType {
position:absolute;
top: 65px;
right: 40px;
height: 15px;
}

#public .details .detailsDescription{
    border-top: 1px solid #CCCCCC;
    margin-top: 30px;
    padding-top: 12px;
}

#public .details .detailsDescription, #public .details .detailsSolution {
  font-size:13px;
  line-height: 120%;
  font-family:Helvetica;
  margin-bottom:20px;
  margin-left: 20px;
}

#public .details hr {
height: 1px;
margin: 20px 0;
background-color: #CCCCCC;
border: 0;
margin-bottom:12px;
}

#public .details .ratingExpand {
  display:block;
  position: absolute;
  bottom: 25px;
  right: 40px;
  display: inline;
}

#public .details .ratingExpand img {
  margin-left:5px;
  height: 20px;
}

/*two cents */
.twocents{
    overflow-y: scroll;
}

.writeTwocent {
    padding: 20px;
}

.writeTwocent textarea{
    padding: 10px;
    width: 500px;
    margin-left: 20px;
    border: none;
    border-radius: 0;
    height: 120px;
    overflow-y: scroll;
    font-family: Helvetica;
    font-size: 12px;
    color: #808080;
    /*background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5))*/
    background-image: -webkit-linear-gradient(top, #F2F2F2, #F2F2F2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3); 
}

.twocents .writeFooter{
    width:520px;
    height: 60px;
    margin-top:15px;
    margin-left: 60px;
}

.writeTwocent .twocentContext{
    width: 300px;
    float: left;
    text-overflow: ellipsis;
}


.writeTwocent .twocentContext .user, .writeTwocent .twocentContext .creadate, .writeTwocent .twocentContext .moddate{
    background-repeat:no-repeat;
    background-position: left 0.2em;
    line-height: 20px;
    margin-bottom: 2px;
    background-size: 12px 12px;
}

.writeTwocent .twocentContext .user{
    background-image: url('../img/wall/authoredBy14.png');
}

.writeTwocent .twocentContext .creadate{
    background-image: url('../img/wall/creationDate14.png');
}

.writeTwocent .twocentContext .moddate{
    background-image: url('../img/wall/lastModified14-01.png');
}

.writeTwocent .twocentContext .userlbl, .writeTwocent .twocentContext .creadatelbl, .writeTwocent .twocentContext .moddatelbl{
    margin-left: 20px;
    font-size: 12px;
    font-family: Helvetica;
}

.writeTwocent .twocentContext .userlbl{
    color: #F27B3D;
}

.writeTwocent .twocentPublish, .writeTwocent .twocentCancel{
    height: 26px;
    width: 92px;
    border-radius: 5px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: white;
    float: right;
}

.writeTwocent .twocentPublish{
    background: #8cab68;
}

.writeTwocent .twocentCancel{
    margin-left: 15px;
    background: #e69b73;
}


#public .details .twocentList{
    overflow-y: scroll;
    font-family: Helvetica;
}

#public .details .twocent{
    padding: 20px 40px 20px 30px;    
}

#public .twocentAvatar, #public .replyAvatar{
  width:40px;
  height:40px;
  border-radius:20px;
  float:left;
  background-size:cover;
}

#public .twocentAvatar{
  background:url('../img/wall/60redProfile.png'); 
}

#public .replyAvatar{
  background:url('../img/wall/60yellowProfile.png'); 
}

#public .twocentAuthor, #public .twocent .commentLabel{
    float: left;
    font-size: 14px;
}

#public .twocentAuthor{
    margin-left: 10px;
    color: #657B99;
}

#public .twocent .commentLabel{
    color: black;
    margin-left: 2px;
}

#public .twocent .twocentDate{
    float: none;
    line-height: 15px;
    max-width: 150px;
    margin-left: 50px;
}

#public .twocentMenu{
    float: right;
    width: 120px;
    text-align: center;
    height: 15px;
    margin-top: -20px;
}

#public .twocentButton{
    display: inline;
    float: right;
    height: 15px;
    width: 25px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
}

#public .twocentEditButton{
    background: url('../img/wall/25modify.png') no-repeat;   
}

#public .twocentDeleteButton{
    background: url('../img/wall/25delete.png') no-repeat;   
}

#public .twocentReplyButton{
    background: url('../img/wall/25x35reply.png') no-repeat;    
}

#public .twocentMessage{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
    padding-top: 12px;
    border-top: 1px solid #CCCCCC;
    font-size: 12px;
}

#public .replies{
    max-height: 260px;
    overflow-y: scroll;
}

#public .twocentReply{
    padding: 20px 30px 20px 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
}

#public .replyMessage{
    max-height: 50px;
    font-size: 12px;
}

