/* Idea Attachments */

#newidea-popup .form textarea, #newidea-popup .form .newideatitle{
    margin-bottom: 10px;
    font-size: 14px;
}

#newidea-popup .form{
font-size: 14px;
}

#newidea-popup .visibility-input{
    text-align: center;
    margin-top: 15px;
}

#newidea-popup .a-legend{
    color: #657b99;
}

#newidea-popup .attachments{
    height: 50px;
    border-radius: 5px;
    border: 1px solid #657b99;
    padding: 15px 5px;
}

#newidea-popup .a-list{
    display: block;
    height: 568px;
    width: 250px;
    background: #e5e5e5;
    position: absolute;
    left: 480px;
    top: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}

.attachments select{
    -webkit-appearance: none;
    width: 140px;
    padding-left: 5px;
    padding-right: 30px;
    margin-right: 10px;
    background: url('../img/profile/buttonMinSeeMoreDisable.png') no-repeat right center;
    background-size: 30px 30px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    border: 1px solid #CCC;
    color: #404040;
    font-family: Helvetica;
    font-size: 12px;    
}

.attachments input{
    font-size: 12px;
    line-height: 24px;
}

.input.custom-cat::-webkit-input-placeholder, .input.a-name::-webkit-input-placeholder{
    font-size: 12px;
}

#newidea-popup .custom-cat{
    margin-left: 5px;
    width: 115px;
}

#newidea-popup .a-name{
    display: block;
    margin-top: 5px;
    width: 270px;
}

#newidea-popup .a-tools{
    display: none;
    height: 50px;
    width: 165px;
    text-align: center;
    float: right;
    margin-top: -55px;    
}

#newidea-popup .a-tools .toolbox-button {
    width: 30px;
    height: 50px;
    margin: 0px 8px;
    float: none;
    display: inline-block;
}

#newidea-popup .a-tools .toolbox-button:first-child{
   margin-left: 0px;
}

#newidea-popup .a-tools .toolbox-button:last-child{
    margin-right: 0px;
}

#newidea-popup .a-tools .toolbox-button div{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 3px #404040;
}

#newidea-popup .a-tools .toolbox-button div.pressed{
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}

#newidea-popup .a-tools .toolbox-button legend{
    margin-top: 5px;
    width: 30px;
    color: #cccccc;
}

#newidea-popup .a-input{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.a-tools .upload-button{
    background-image: url('../img/brainstorm/importDisable100.png');
}

.a-tools .importpic-button{
    background-image: url('../img/r2/upload-picture.png');
}

#newidea-popup .a-preview{
    width: 148px;
    height: 63px;
    position: relative;
    margin-top: -65px;
    margin-left: 275px;
    background: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

#newidea-popup .a-preview .a-content{
    width: 100%;
    height: 40px;
    color: #292929;
    line-height: 40px;
    font-size: 10px;
    overflow: hidden;  
}

#newidea-popup .uploadbar{
    -webkit-appearance : none;
    height: 16px;
    background-color: #657b99;
    border-radius: 5px;
    padding: 2px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    width: 90%;
}

#newidea-popup .uploadval{
    float: lefty;
    margin-top: -20px;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    color: white;   
}

#newidea-popup .uploadbar{
    
}

#newidea-popup .uploadbar{
    
}

#newidea-popup .a-button{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: inset 0 -1px 1px #657b99;
    float: left;
    margin-top: 5px;
}

#newidea-popup .a-button.pressed{
    background: #ccc;
}

#newidea-popup .a-confirm{
    color: #5F8F28;
    margin-left: 83px;
}

#newidea-popup .a-cancel{
    color: red;
    margin-left: 15px;   
}

