#wrapper {
	width:1024px;
	height:768px;
}

#wrapper nav {
	position:relative;
	width:93px;
	height:768px;

	background-image: -webkit-gradient(linear, left center, right center,
		from(#292929), to(#404040));
	background-image: -webkit-linear-gradient(left, #292929, #404040);
	-webkit-box-shadow: inset -5px 0 25px rgba(0,0,0,0.8);
}

#wrapper nav a {
	float:left;

	box-shadow: 0 1px 0 rgba(255,255,255,0.3);

	border-bottom: 1px solid black;

	display:block;
	width:93px;
	height:94px;
	background-size:93px 93px;
}

#wrapper nav a[href="#public"]{
	background:url('../img/disablePublicWall.png');
}

#wrapper nav a[href="#library"]{
	background:url('../img/disableLibrary.png');
}

#wrapper nav a[href="#brainstorm"]{
	background:url('../img/disableBrainstorm.png');
}

#wrapper nav a[href="#connect"]{
	background:url('../img/disableConnect.png');
}

#wrapper nav a[href="#settings"]{
	background:url('../img/disableSettings.png');
}

#wrapper nav a[href="#public"].selected{
	background:url('../img/activePublicWall.png');
}

#wrapper nav a[href="#library"].selected{
	background:url('../img/activeLibrary.png');
}

#wrapper nav a[href="#brainstorm"].selected{
	background:url('../img/activeBrainstorm.png');
}

#wrapper nav a[href="#connect"].selected{
	background:url('../img/activeConnect.png');
}

#wrapper nav a[href="#settings"].selected{
	background:url('../img/activeSettings.png');
}

.deedee {
	position:absolute;
	left:0;
	bottom:0;
	width:99px;
	height:144px;
	background:url('../img/littleGreyDeeDee.png') no-repeat center center;
	background-size:35%;
}