/* reset */
html, body, ul {
  margin:0;
  padding:0;
}

html, body {
  font-family:Helvetica;
  background:black;
  width:1024px;
  height:748px;
}

ul {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
}

@font-face {  
  font-family: pacifico ;  
  src: url('../fonts/Pacifico.ttf') format("truetype");  
} 

/* utils */
.blue-light {
  background:#9ac9cd;
}

.blue-dark {
  background:#657B99;
}

.header {
  position:relative;
  height:36px;

  font-family:pacifico;
  text-align:center;
}

.header .option {
  position:absolute;
  height:36px;
  width:36px;
}

.left {
  left:0;
}

.right {
  right:0;
}


#dock, .list, .details {
  float:left;
  height:748px;
  background:white;
}

.list {
  /* the position has to be relative to apply the shadow */
  position:relative;
  width:301px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.details {
  width:630px;
}

.avatar{
  width:40px;
  height:40px;
  border-radius:20px;
  float:left;
  background:url('../img/wall/60blueProfile.png');
  background-size:cover;
}

/* dock */

#dock {
  position:relative;
  background-image: -webkit-linear-gradient(left, #292929, #404040);
  -webkit-box-shadow: inset -5px 0 25px rgba(0,0,0,0.8);
}

#dock a {
  height:94px;
  width:93px;
}

#dock a:nth-child(-n+5) {
  display:block;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
  border-bottom: 1px solid black;
}

.deedee {
  position:absolute;
  left:0;
  bottom:0;
}

/* public */
#public .option.left {

}

#public .option.left {
  /*background: url('../img/wall/mosaique.png') no-repeat center center;*/
}

