h1{
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

p{
	margin: 0px;
}

blockquote {
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

fieldset{
	-webkit-padding-before:0;
	-webkit-padding-after:0;
	-webkit-padding-start:0;
	-webkit-padding-end:0;
}

.popup{
	
}

/* 
 * =======
 * LIBRARY
 * =======
*/

.library{
	height: 100%;
	/*background-image: -webkit-linear-gradient(right bottom, rgb(87,106,162) 21%, rgb(114,138,195) 61%, rgb(149,166,234) 81%);*/
}


/* LIBRARY HEADER
   --------------
*/

.library-header, .brainstorm-header, .social-header, .settings-header{
	width: 1024px;
	height: 50px;
	margin: 0 auto;
}

.homeButton{
	float: left;
	position: relative;
	top: 5px;
	margin-left: 15px;
	width: 39px;
	height: 39px;
	background-image: url('/images/library/home.png');
	background-position: center;
	border-radius: 5px;
	border: 1px solid slateGray;
}

.avatar {
	float:left;
	position: relative;
	top: 5px;
	margin-left: 10px;
	height:40px;
	width: 40px;
	border-radius: 5px;
	resize:auto;
}

.meta {
	float:left;
	position: relative;
	top: 5px;
	margin-left:10px;
	font-family: Pacifico;
	line-height: 20px;
}

.contentMenu{
	float: left;
	margin-left: 100px;
	width: 344px;
	height: auto;
}

.contentMenu ul{
	list-style: none;
	padding-left: 1px;
	padding-right: 1px; 
}

.contentMenu ul > li{
	text-align: center;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

.actionMenu{
	float:right;
	width: 150px;
	text-align: right;
}

.brainstorm-start {
	float:right;
	position: relative;
	top: 5px;
	margin-right: 5px;
	width:39px;
	height: 39px;
	border: 1px solid slateGray;
	border-radius: 5px;
	background-image: url('/images/library/newsession.png');
	background-repeat: no-repeat;
	background-position: center;
}

.change-settings {
	float:right;
	position: relative;
	top: 5px;
	width: 39px;
	height: 39px;
	border: 1px solid slategray;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 10px;
	background-image: url('/images/library/settings.png');
	background-repeat: no-repeat;
	background-position: center;
}

/*
 *  LIBRARY CONTENT
 *  ---------------
 */

.library-content{
	height: 680px;
	margin-top: 50px;
}

.listbox{
	width: 300px;
	height: 660px;
	float:left;
	overflow: hidden;
	margin-left: 15px;
	border: 2px ridge #CCCCCC;
	margin-top: 15px;
	margin-bottom: 5px;
}

.contentbox{
	width: 680px;
	height: 660px;
	margin-left: 12px;
	float:left;
	overflow: hidden;
	border: 2px ridge #CCCCCC;
	margin-top: 15px;
	margin-bottom: 5px;
	background: transparent;
}

/* IDEAS
============*/

.ideas{
	overflow: hidden;
}

/* Left Box
   -------- */

.idealistheader{
	width: 300px;
	height: 45px;
	padding: 5px;
	display:block;
	background: whitesmoke;
	border-bottom: 1px solid lightgray;
}

.idealiststack{
	padding: 2px;
	margin-top: 5px;
	display: block;
	height: 608px;
	width: 300px;
	overflow: scroll;
	
}

.idealiststack ul{
	list-style: none;
	overflow: scroll;
	width: 289 px;
	margin-left: 1px;
	margin-right: 2px;
	margin-bottom: 5px;
	-webkit-padding-start: 0px;
}

.invisible{
	visibility: hidden;
	z-index: -100;
}

.ideadetails{
	width: 600px;
	height: 660px;
	float: left;
	margin-left: 10px;
	border: 2px ridge #CCCCCC;
	margin-top: 15px;
	margin-bottom: 5px;
	background: slateGray;
}

.searchbox{
	width: 130px;
	height: 38px;
	float: left;	
}

.searchresult{
	color: white;
	font-style: italic;
	font-family: Arial;
	font-size: smaller;
	margin-left: 5px;
}

.idealist-tools button{
	float:left;
	margin-left:10px;
	width:40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	box-shadow: 1px 1px 2px black;
}

.browseideas{
	background-image: url('/images/library/browsepublicbutton.png')
}

.sortideas{
	background-image: url('/images/library/sortbyname.png');
}

.addidea{
	background-image: url('/images/library/newideabutton.png');
}


/*Idea list */

.ideapreview{
        width: 289px;
        padding: 2px;
        display: block;
        font-family: helvetica;
    	text-align: center;
    	background: whitesmoke;
    	margin-left: 0px;
		margin-right: 0px;
		margin-top: 1px;
		margin-bottom: 1px;
		height: 92px;
		overflow: hidden;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid lightgray;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
		border-bottom: 2px solid #292929;
}

.highlighted{
	background: #a17dca;
}

.ideapreviewheader{
	display: table-cell;
	vertical-align: middle;
	height: 25px;
}

.idealisttitle{
	color:black;
	margin-top: 3px;
	font-variant: small-caps;
	font-size: 15px;
/*	text-shadow: 1px 1px 1px #d6c7e7; */
	padding-left:3px;
    padding-right: 3px;
    float: left;
    text-align: left;
    width: 200px;
}

.ideaabstract{
	display: table-cell;
	vertical-align: middle;
	color: #292929;
	font-family: helvetica;
	height: 35px;
	font-size: x-small;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.ideadate{
	color: #000000;
	font-size: xx-small;
	width: 80px;
	text-align: right;
	float: right;
}

.ideapreview hr{
        width: 150px;
        -webkit-margin-before: 2px;
        -webkit-margin-after: 2px;
	}
	
	
.idearating li{
	display: inline;
}

/* Right Box
   --------- */
 
.ideacontentstack{
	display: block;
	margin: 2px;
	overflow: hidden;
	height: 656px;
	width: 676px;
	background: transparent;
}

/* idea details*/

.ideacontent{
	float: left;
	height: 654px;
	width: 607px;
	border: 1px solid #FC5E20;
	border-radius: 3px;
/*	background: -webkit-linear-gradient(top,white, rgba(124, 72, 181, 0.2));*/
	background: white;
}

.ideaoptions{
	float: left;
	width: 50px;
	height: 600px;
	background: transparent;
	margin-left: 8px;
	margin-top: 11px;
	display: table-column;
}

.ideacontent textarea{
	display: table-cell;
	vertical-align: middle;
	width: 580px;
	padding: 10px;
	margin-left: 2px;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid ligthgray;
	font-family: helvetica;
	font-size: large;
	text-align: justify;
	background: #dedbee;
}

textarea.ideatitle{
	background-color: #5D7877;
	padding-top: 20px;
	font-variant: small-caps;
	font-weight: bold;
	font-size: xx-large;
	text-shadow: 1px 1px 1px slategray;
	text-align: center;
	color: white;
	height: 50px;
}

.SolutionDescription{
	height: 220px;
}

.SolutionImplementation{
	height: 220px;
}

.displayideafooter{
	padding-left: 10px;
	margin-top: 8px;
	width: 380px;
	height: 50px;
	color: black;
	font-family: pacifico;
	font-size: small;
	float: left;
}

.displayideafooter label{
	color: slategray;
	font-style: normal;
	font-size: small;
}

.displayauthors{
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space:nowrap;
	width: 370px;
}

.displayrating{
	margin-top: 10px;
	font-size: small;
	width: 120px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.displayrating ul{
	margin-top: 8px;
}

.displaytwocentbutton{
	float: left;
	width: 60px;
	padding-left: 0px;
	margin-left: 10px;
	background: slategray;
	color:white;
	font-family: Helvetica;
	font-size: x-small;
	margin-top: 15px;
	height: 25px;
	border-radius: 3px;
	text-align: center;
}

/* idea options */

.ideabuttons{
	-webkit-margin: 0px;
	-webkit-padding: 0px;
	background: whitesmoke;
	border: 2px solid rgba(124, 72, 181, 0.7);
	border-radius: 5px;
}

.ideabutton button{
	float:none;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*visibility: hidden;*/
	box-shadow: 1px 1px 2px black;
	background: slategray;
	background-repeat: no-repeat;
	background-position: center;
	font-size: smaller;
	color: white;
	text-align: center;
}

.editbutton{
	background-image: url('/images/library/editbutton.png');
}

.duplicatebutton{
	background-image: url('/images/library/duplicatebutton.png');
}


.sharebutton{
	background-image: url('/images/library/sharebutton.png');
}

.mailbutton{
	background-image: url('/images/library/mailbutton.png');
}

.printbutton{
	background-image: url('/images/library/printbutton.png');
}

.facebookbutton{
	background-image: url('/images/library/facebookbutton.png');
}

.twitterbutton{
	background-image: url('/images/library/twitterbutton.png');
}

.twocentsbutton{
	background-image: url('/images/library/request2cts.png');
}

.sendtwocents{
	background-image: url('/images/library/send2cts.png');
}

/* NEW & EDIT IDEA*/

.ideacard{
	margin-top: 5px;
	margin-left: 0px;
	/*background: white;*/
	font-family: helvetica;
	height: 656px;
}

.ideacard fieldset{
	display: block;
	padding: 5px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin: 2px;
	border: 2px groove #FC5E20;
	border-radius: 5px;
	width: 658px;
	height: 635px;
	/*background: -webkit-linear-gradient(top,white, rgba(124, 72, 181, 0.4));*/
	background: -webkit-linear-gradient(top,#F1E5B7, #00dbe2);
}

.ideacard textarea::-webkit-input-placeholder{
	background-color: white;
	color: #8E9E8B;
	font-size: small;
}

.ideacard legend{
	text-shadow: 1px 1px white;
	text-align: center;
	font-variant: small-caps;
	font-size: large;
	font-weight: bold;
	font-family: helvetica;
	background-color: whitesmoke;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px groove #FC5E20;
	border-radius: 3px;
}

.ideacard input::-webkit-input-placeholder{
	color: #8E9E8B;
	font-variant: small-caps;
	font-size: normal;
	line-height: 100%;
}

.ideacard label{
	line-height: 125%;
	font-variant: small-caps;
	font-family: Helvetica;
	color: black;
}

.ideaheader{
	margin-top: 10px;
	border-top: 1px solid slategray;
	border-bottom: 1px solid slategray;
	padding: 5px;
	padding-bottom: 10px;
}

.ideaheader input{
	display: table-cell;
	vertical-align: middle;
	width: 635px;
	padding: 5px;
	line-height: 150%;
	font-variant: small-caps;
	font-size: x-large;
	text-align: center;
	background: white;
	border-radius: 3px;
}

.ideadesc{
	margin-top: 5px;
	border-bottom: 1px solid slategray;
	padding: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
	height: 200px;
}

.ideasol{
	margin-top: 5px;
	border-bottom: 1px solid slategray;
	padding: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
	height: 200px;
}

.ideacard textarea{
	text-align: justify;
	width: 641px;
	height: 160px;
	margin-left: 2px;
	margin-top: 3px;
	padding: 3px;
	background: white;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	font-size: large;
}

.ideafooter{
	height: 50px;
	padding: 5px;
	font-family: helvetica;
	font-size: smaller;
}

.ideafooter td.authors{
	width: 475px;
	line-height: 100%;
	padding: 0px;
}

.ideafooter td.creationdate{
	width: 475px;
}

.newideadate{
}

.ideafooter td.ispublic{
	width: 75px;
}

.ideafooter input{
	margin-right: 5px;
	margin-top: 3px;
}

.idea-action{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 646px;
	height: 30px;
}

.idea-action button{
	height: 25px;
	width: 80px;
	border-radius: 8px;
	color: white;
	background-color: slategray;
	text-align: center;
	font-family: helvetica;
	font-size: 13px;
}

.requiredmissing{
	border:red;
}

/* Decks
============*/

/* Active Deck*/
.activedeck{
	width: 300px;
	height: 150px;
	text-align: center;
	font-family: helvetica;
	background: palegreen;
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2f4d9), color-stop(24%,#61c419), color-stop(50%,#ffffff), color-stop(71%,#41ce2b), color-stop(88%,#e8f4d9), color-stop(100%,#f7f9f4));*/
	color:slategray;
	border-bottom: 1px solid whitesmoke;
}

.activedeck legend{
	text-decoration: underline;
	font-size: small;
}

.decktitle{
	font-variant: small-caps;
	font-size: x-large;
	color: black;
}

.activedeck table{
	width: 280px;
	margin-left:10px;
	margin-right: 10px;
	height: 75px;
	margin-bottom: 3px;
}

.activedeck td{
	width: 70px;
	border: none;
	text-align: center;
}

.activedeckfooter{
	width: 300px;
	border-top: 1px solid slategray;
	padding: 5px;
	display: table-cell;
	font-family: arial;
	font-size: smaller;
	color: black;
}

.deckauthor{
	width: 150px;
	padding: 3px;
	text-align: left;
	vertical-align: center;
	float:left;
}

.deckdate{
	width: 80px;
	margin-left: 20px;
	text-align: right;
	padding-top:3px;
	vertical-align: center;
	float:left;
}

.deckcontentoverview button{
	width: 55px;
	height: 55px;
	border-radius: 8px;
	border: 2px outset lightgray;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}

.peoplebutton{
	background-image: url('/images/library/peoplebutton.png');
}

.contextbutton{
	background-image: url('/images/library/contextbutton.png');	
}

.problembutton{
	background-image: url('/images/library/problembutton.png');	
}

.technobutton{
	background-image: url('/images/library/technobutton.png');	
}

.nbcircle{
	position: absolute;
	text-align: center;
	margin-left:25px;
	margin-top: 15px;
	height: 24px;
	width: 24px;
	border-radius: 12px;
	background: white;
}

.nbcarditems{
	margin-top: 4px;
	font-size: 14px;
	font-weight: bold;
	font-family: helvetica;
}

/*decklist*/

.decklist{
	padding: 2px;
	margin-top: 15px;
	display: block;
	height: 503px;
	width: 300px;
	overflow: scroll;	
}
.deckpreview{
        width: 289px;
        padding: 2px;
        display: block;
        font-family: helvetica;
    	text-align: center;
    	background: slategray;
    	margin-left: 0px;
		margin-right: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
		height: 120px;
		overflow: hidden;
		border: 1px outset lightgray;
		-webkit-user-select: none;
}

.deckpreview button{
	width:287px;
	height: 125px;
	vertical-align:middle;
	text-align: center;
}

.decklisttitle{
	color:#222222;
	height: 20px;
	margin-top: 3px;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 18px;
/*	text-shadow: 1px 1px 1px #d6c7e7; */
	padding-left:3px;
    padding-right: 3px;
	
}

.deckabstract{
	display: table-cell;
	vertical-align: middle;
	color: #555555;
	font-family: Arial;
	height: 35px;
	font-size: x-small;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.deckdate{
	color: #000000;
	font-size: smaller;
	margin-right: 10px;
	text-align: right;
	margin-bottom:3px;
}

.deckpreview hr{
        width: 150px;
        -webkit-margin-before: 2px;
        -webkit-margin-after: 2px;
	}

.deckpreview .deckdate{
	width: 250px;
}

.deckstructure{
	width: 280px;
	height: 30px;
	text-align: center;
}

.deckstructure td{
	width: 70px;
}

/* deck contents */

.deckcontentheader{
	display: block;
	margin: 4px;
	height: 60px;
	width: 670px;
	border: 1px solid white;
	border-radius: 3px;
	background: lavender;
}

.deckcontentheader table{
	height: 50px;
	width: 670px;
	vertical-align: middle;
	text-align: center;
}

.deckcontentheader td{
	font-size: x-small;
	font-family: arial;
}

.deckcontentheader .deckstatus{
	width: 50px;
}

.deckstatus div{
	width:16px;
	height: 16px;
	margin: auto;
	border-radius: 8px;
	border: 1px solid slategray;
}

.deckcontentheader td.decktitle{
	width: 300px;
	text-align: left;
	font-size: large;
}

.deckcontentheader ul{
	width: 300px;
	height: 50px;
}

.deckcontentheader li{
	width: 55px;
	float:left;
	margin-left: 5px;
}

.deckcontentheader button{
	width: 40px;
	height: 40px;
	margin-bottom: 2px;
	border-radius: 4px;
}

.deckcontentstack{
	width: 656px;
	margin: 4px;
	height: 570px;
	border-radius: 3px;
	padding: 5px;
	border: 3px double slategray;
	background: whitesmoke;
}

/* deck overview */
.deckoverview{
	text-align: center;
	font-family: helvetica;
	height: 570px;
	overflow: scroll;
}

.deckoverviewtitle{
	font-size: xx-large;
	font-color: black;
	text-shadow: 1px 1px lightgray;
	padding: 5px;
	margin: auto;
	width: 390px;
	border: 5px outset slategray
}

.deckoverviewimg img{
	margin: 10px;
	border: 5px outset slategray;
}

.deckoverviewdesc{
	margin: auto;
	font-size: 14px;
	width: 400px;
	text-align: justify;
	height: 130px
}

.deckoverviewfooter{
	width: 150px;
	margin: auto;
	margin-top: 10px;
	line-height: 120%;
	font-size: small;
	margin-bottom: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.deckactivate{
	position: fixed;
	top: 625px;
	left: 925px;
	border-radius: 5px;
	text-align: center;
	background-color: whitesmoke;
	background-image: url('/images/library/activatebutton.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

/*deck contents: cards*/

.cardlist{
	width: 628px;
	height: 502px;
	padding: 10px;
	padding-left: 20px;
	background: transparent;
/*	background-image: url('/images/library/deckcontent.png');*/
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	overflow: scroll;
}

.deckfooter{
	width: 636px;
	height: 40px;
	display: table-cell;
	overflow-x: scroll;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	background: whitesmoke;
}

/*.cardlist li{
	width: 124px;
	height: 154px;
	box-shadow: 1px 1px 1px black;
	text-align: center;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
	border-radius: 5px;
}*/

.smallcharactercard, .smallcontextcard, .smallproblemcard, .smalltechnocard{
	width: 124px;
	height: 154px;
	box-shadow: 1px 1px 1px black;
	text-align: center;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.smallcharactercard {
	background: lavender;
	border: 3px double blue;
}

.smallcontextcard{
	background: #c5ffcb;
	border: 3px double green;
}

.smallproblemcard{
	background: mistyrose;
	border: 3px double red;
}

.smalltechnocard{
	background: khaki;
	border: 3px double orange;
}

.smallcardtitle{
	display: table-cell;
	vertical-align: middle;
	font-variant: small-caps;
	font-family: helvetica;
	font-weight:normal;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 1px black;
	height: 37px;
	width: 124px;
	border-bottom: 3px double white;
}

.smallcardtitle span{
	word-wrap: break-word;
}

.smallcharactercard h1{
	background: blue;
}

.smallcontextcard h1{
	background: green;
}

.smallproblemcard h1{
	background: red;
}

.smalltechnocard h1{
	background: orange;
}

div.smallcharpicture{
	width: 68px;
	height: 90px;
	position:relative;
	margin: auto;
/*	border: 1px inset blue;*/
	box-shadow: 0px 1px 3px black;
	margin-top: 3px;
	margin-bottom: 5px;
	z-index: 50;
}

div.smallcharpicture img{
	width: 68px;
}

div.smallcardpicture{
	width: 120px;
	height: 90px;
	margin: auto;
/*	border: 1px inset blue;*/
	box-shadow: 0px 1px 3px black;
	margin-top: 2px;
}

div.smallcardpicture img{
	height: 90px;
}

div.charage{
	border: 1px solid black;
	width: 14px;
	height: 14px;
	border-radius: 8px;
	margin-top: -22px;
	margin-left: 75px;
	background: white;
	padding: 1px;
	font-size: smaller;
	position:relative;
	z-index: 100;
	opacity: 1;
}

.smallcardinfo{
	display: table-cell;
	vertical-align: bottom;
	width: 124px;
	font-size: small;
	height: 18px;
	margin-top:5px;
}

.cardpagination{
	display: table;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

.cardpagination li{
	float: left;
	margin-left: 25px;
}

.cardpagination button{
	border-radius: 3px;
	background: lavender;
	height: 25px;
	font-family: helvetica;
}

.activesequence{
	font-weight: bold;
	color:blue;
	border-color: blue;
}

/* Sessions
============*/

.sessionheader{
	width: 976px;
	height: 50px;
	float:left;
	overflow: hidden;
	margin-left: 15px;
	border: 2px ridge #CCCCCC;
	margin-top: 15px;
	margin-bottom: 5px;
}

.sessionlist{
	width: 976px;
	height: 605px;
	float:left;
	overflow-y: scroll;
	margin-left: 15px;
	border: 2px ridge #CCCCCC;
	margin-bottom: 5px;
}

.sessionlist ul{
	width: 976px;
}

.sessionlist ul>li{
	width:974px;
	border: 1px outset white;
	height: 98px;
	margin-bottom: 1px;
	background: lavender;
}

.sessionoverview td{
	height: 98px;
	width: 120px;
	font-size: 14px;
	text-align: center;
	font-family: helvetica;
	word-wrap:break-word;
}

.sessionoverview td.sessionideas{
	font-size: x-small;
	word-wrap:break-word;
}

.boxoptions button{
	background-position: center;
	background-size:contain;
	width: 35px;
	height: 35px;
	-webkit-border-radius: 3px;
}

.deletesession{
	background-image: url('/images/library/deletesession.png');
	margin-left: 5px;
}

.playsession{
	background-image: url('/images/library/playsession.png');
}
