/* line 1, ../sass/brainstorm.scss */
#brainstorm {
  float: left;
  height: 748px;
  /*    background:#F2F2F2 url('../images/tmp/bg.png') no-repeat center center;*/
  background: #CCCCCC;
  background-size: 4px 3px;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

/* line 10, ../sass/brainstorm.scss */
#brainstorm, .brainstorm-header {
  width: 931px; }

/* line 14, ../sass/brainstorm.scss */
.brainstorm-header .date, .brainstorm-header .clock {
  position: absolute;
  z-index: 200;
  line-height: 30px; }

/* line 20, ../sass/brainstorm.scss */
.brainstorm-header .date {
  left: 15px; }

/* line 24, ../sass/brainstorm.scss */
.brainstorm-header .clock {
  right: 15px;
  top: 0;
  padding-left: 26px;
  background: url("../images/tmp/brainstorm/bell14x16.png") no-repeat left 10px;
  background-size: 14px 16px; }

/* line 32, ../sass/brainstorm.scss */
#brainstorm .timer {
  position: absolute;
  z-index: 500;
  height: 30px;
  width: 100px;
  right: 15px;
  top: 0;
  font-size: 0px; }

/* line 43, ../sass/brainstorm.scss */
#brainstorm .timer.showtimer {
  padding-left: 40px;
  line-height: 36px;
  text-align: right;
  color: #4d4d4d;
  width: auto;
  min-width: 65px;
  font-size: 14px;
  background: #9ac9cd;
  background-image: url("../images/tmp/brainstorm/greybell.png");
  background-repeat: no-repeat;
  background-position: 30px 10px;
  background-size: 14px 16px; }

/* line 58, ../sass/brainstorm.scss */
.help-brainstorm {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: url("../images/tmp/brainstorm/doctordeedee87x85.png") no-repeat center center;
  background-size: contain; }

/* line 68, ../sass/brainstorm.scss */
#ideafy-menu .brainstorm-header {
  margin-top: -36px; }

/* line 72, ../sass/brainstorm.scss */
#ideafy-menu ul {
  margin: 0 auto;
  margin-top: 195px;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(23, 41, 48, 0.4);
  background: white;
  font-family: Pacifico;
  font-size: 16px;
  letter-spacing: 1px;
  color: #4D4D4D;
  list-style: none; }

/* line 86, ../sass/brainstorm.scss */
#ideafy-menu ul > li {
  height: 60px;
  line-height: 60px;
  padding-left: 60px;
  background-size: 40px 40px;
  background-position: 10px center;
  background-repeat: no-repeat; }

/* line 95, ../sass/brainstorm.scss */
#ideafy-menu ul li:nth-child(n+2) {
  border-top: 1px solid #CCCCCC; }

/* line 99, ../sass/brainstorm.scss */
#ideafy-menu .inactive {
  color: white;
  background-color: #E5E5E5; }

/* quick brainstorming */
/* line 106, ../sass/brainstorm.scss */
.progressbar {
  height: 36px;
  width: 871px;
  z-index: 200;
  background: white;
  position: absolute;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 15px gray; }

/* line 117, ../sass/brainstorm.scss */
.exit-brainstorm {
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 20px;
  display: block;
  background: url("../images/tmp/brainstorm/exitdisable150.png") no-repeat center center;
  background-size: 70px 70px; }

/* line 127, ../sass/brainstorm.scss */
.exit-brainstorm.pressed {
  background: url("../images/tmp/brainstorm/exitActive150.png") no-repeat center center;
  background-size: 70px 70px; }

/* line 132, ../sass/brainstorm.scss */
#quicksteplist, #dashboard-about .steplist {
  list-style: none;
  display: inline-block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  height: 34px;
  border: 1px solid #aeb9bf;
  border-radius: 5px; }

/* line 143, ../sass/brainstorm.scss */
#quicksteplist .step, #dashboard-about .step {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  color: #B3B3B3;
  font-family: Helvetica;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  border-right: 1px solid #aeb9bf; }

/* line 156, ../sass/brainstorm.scss */
#quicksteplist .step:nth-last-child, #dashboard-about .step:nth-last-child {
  border-right: none; }

/* line 160, ../sass/brainstorm.scss */
#quicksteplist .step.pressed, #dashboard-about .step.pressed {
  color: white;
  font-weight: bold;
  text-shadow: none; }

/* line 166, ../sass/brainstorm.scss */
.inactive {
  color: #B3B3B3;
  background: #E5E5E5; }

/* line 171, ../sass/brainstorm.scss */
#quickstart .brainstorm-header, #quicksetup .brainstorm-header, #quickscenario .brainstorm-header, #quicktech .brainstorm-header, #quickidea .brainstorm-header, #quickwrapup .brainstorm-header {
  margin-top: -36px;
  line-height: 36px; }

/* line 176, ../sass/brainstorm.scss */
#quickscenario, #quickidea, #quickwrapup {
  background: white;
  width: 931px;
  height: 748px; }

/* line 182, ../sass/brainstorm.scss */
#quickstart .quickstart-form, #quicksetup .drawarea, #quicktech .drawarea {
  background: white;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px 1px rgba(23, 41, 48, 0.4); }

/* line 190, ../sass/brainstorm.scss */
.next-button {
  color: white;
  width: 56px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
  background: #94A3B8;
  border-radius: 5px; }

/* line 202, ../sass/brainstorm.scss */
.previousbutton {
  position: absolute;
  width: 200px;
  height: 36px;
  top: 0px;
  margin-left: 15px;
  z-index: 1000;
  background: #9ac9cd;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-image: url("../images/tmp/brainstorm/previousstep.png"); }

/* line 216, ../sass/brainstorm.scss */
.previousbutton.pressed {
  background-image: url("../images/tmp/brainstorm/previousactive.png");
  -webkit-box-shadow: none; }

/* line 221, ../sass/brainstorm.scss */
.drawarea {
  width: 441px;
  height: 425px;
  padding: 20px; }

/* line 227, ../sass/brainstorm.scss */
.drawok {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 58px;
  margin-right: 58px;
  background-size: contain;
  background: url("../images/tmp/brainstorm/lockdraw.png") no-repeat center center; }

/* line 237, ../sass/brainstorm.scss */
.drawok.pushed {
  background: url("../images/tmp/brainstorm/drawaccepted.png") no-repeat center center; }

/* line 241, ../sass/brainstorm.scss */
.leftarea {
  width: 167px;
  height: 712px;
  float: left;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(left, white 0%, #f2f2f2 100%);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  overflow-y: scroll; }

/* line 251, ../sass/brainstorm.scss */
.workarea {
  float: left;
  margin-left: 5px;
  width: 759px;
  height: 632px;
  background: white; }

/* line 259, ../sass/brainstorm.scss */
.whiteboard {
  width: 717px;
  height: 438px;
  background: #F2F2F2;
  border: 1px dashed #CCCCCC;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px; }

/* line 269, ../sass/brainstorm.scss */
.whiteboard .defaultcontent {
  display: inline-block;
  color: #657B99;
  font-size: 14px;
  font-family: Helvetica;
  width: 567px;
  margin-left: 75px;
  margin-top: 100px;
  text-align: justify; }

/* line 280, ../sass/brainstorm.scss */
.whiteboard .defaultcontent strong {
  color: #254066; }

/* line 284, ../sass/brainstorm.scss */
.whiteboard .doctor-deedee, #addcontact .doctor-deedee {
  float: left;
  width: 87px;
  height: 85px;
  background-image: url("../images/tmp/brainstorm/doctordeedee87x85.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain; }

/* line 294, ../sass/brainstorm.scss */
.whiteboard .help {
  float: left;
  width: 450px;
  padding-left: 30px; }

/* line 300, ../sass/brainstorm.scss */
.whiteboard div.help > p {
  margin-bottom: 5px; }

/* line 304, ../sass/brainstorm.scss */
.wbpostit {
  width: 190px;
  height: 285px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(23, 41, 48, 0.4); }

/* line 315, ../sass/brainstorm.scss */
.import .wbpostit {
  width: 480px;
  height: 340px;
  margin-top: 5px;
  padding: 20px 40px; }

/* line 322, ../sass/brainstorm.scss */
.import .postit-cancel {
  margin-top: -35px; }

/* line 326, ../sass/brainstorm.scss */
.importbutton {
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block; }

/* line 333, ../sass/brainstorm.scss */
.importbutton input {
  cursor: pointer;
  position: absolute;
  left: 290;
  top: 60;
  width: 110px;
  height: 40px;
  opacity: 0; }

/* line 343, ../sass/brainstorm.scss */
.importbutton div {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  font-family: Helvetica;
  font-size: 14px;
  color: #292929;
  text-align: center;
  border: 1px solid #E6E6E6;
  height: 30px;
  line-height: 30px; }

/* line 357, ../sass/brainstorm.scss */
.importbutton div.pressed {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  color: white;
  background: #666666; }

/* line 363, ../sass/brainstorm.scss */
.import .postpostit {
  margin-left: 145px; }

/* line 367, ../sass/brainstorm.scss */
.import .postpostit, .import .delpostit {
  margin-top: 5px; }

/* line 371, ../sass/brainstorm.scss */
.import .uploadprogress {
  float: right;
  margin-right: 5px;
  font-family: Helvetica;
  font-size: small;
  color: #292929; }

/* line 379, ../sass/brainstorm.scss */
.postit-cancel {
  float: right;
  width: 20px;
  height: 20px;
  display: block;
  margin-top: -30px;
  margin-right: -30px;
  background: url("../images/tmp/brainstorm/closeFrame.png") no-repeat center center;
  background-size: 10px 10px; }

/* line 390, ../sass/brainstorm.scss */
.postit-close {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: white;
  margin-top: -55px;
  margin-right: -40px;
  background-image: url("../images/tmp/brainstorm/closeFrame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px; }

/* line 403, ../sass/brainstorm.scss */
.postit {
  width: 150px;
  height: 150px;
  padding: 15px 20px 25px 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block; }

/* line 413, ../sass/brainstorm.scss */
.postit textarea {
  font-size: 16px;
  text-align: center;
  font-family: Pacifico;
  color: #4D4D4D;
  border: none;
  background: transparent;
  padding-top: 0px;
  line-height: 25px;
  widht: 100%;
  height: 100%;
  overflow-y: scroll; }

/* line 427, ../sass/brainstorm.scss */
.picframe {
  width: 480px;
  height: 300px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

/* line 435, ../sass/brainstorm.scss */
#preview {
  display: inline-block;
  border: 5px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(23, 41, 48, 0.4); }

/* line 442, ../sass/brainstorm.scss */
.wbmain {
  overflow-y: scroll; }

/* line 446, ../sass/brainstorm.scss */
.wbmain, .wbdrawing {
  width: 717px;
  height: 438px; }

/* line 451, ../sass/brainstorm.scss */
.wb-item {
  display: block;
  background-size: contain;
  width: 139px;
  height: 141px;
  margin-top: 20px;
  float: left;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-y: scroll; }

/* line 463, ../sass/brainstorm.scss */
.wb-item.postit {
  font-family: Pacifico;
  overflow-y: scroll;
  text-align: center; }

/* line 469, ../sass/brainstorm.scss */
.inner-postit {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  line-height: 26px;
  padding-bottom: 20px; }

/* line 477, ../sass/brainstorm.scss */
.photo, .drawing {
  margin: 30px 10px 20px 10px;
  background-size: contain;
  border: 5px solid white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(23, 41, 48, 0.4); }

/* line 485, ../sass/brainstorm.scss */
.photo {
  padding: 5px; }

/* line 489, ../sass/brainstorm.scss */
.drawing {
  border-top-width: 30px;
  border-bottom-width: 29px;
  padding: 0px;
  width: 139px;
  height: 100px; }

/* line 497, ../sass/brainstorm.scss */
.enlarge {
  width: 716px;
  height: 438px;
  z-index: 200;
  position: absolute;
  margin: 0;
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-size: contain;
  padding: 0px;
  border: none; }

/* line 510, ../sass/brainstorm.scss */
.choosecolorlbl {
  width: 190px;
  margin-top: 20px;
  disaply: block;
  color: #657B99;
  font-family: Pacifico;
  font-size: 14px;
  border-bottom: 2px solid #AEB9BF; }

/* line 520, ../sass/brainstorm.scss */
.postitcolors {
  margin-top: 10px;
  margin-left: 3px; }

/* line 525, ../sass/brainstorm.scss */
.postitcolor {
  display: block;
  float: left;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  color: white;
  font-size: 13px;
  line-height: 15px;
  text-align: center; }

/* line 537, ../sass/brainstorm.scss */
.postpostit, .delpostit {
  margin-top: 20px;
  float: left;
  width: 95px;
  height: 34px;
  background-size: cover; }

/* line 545, ../sass/brainstorm.scss */
.postpostit {
  background: url("../images/tmp/brainstorm/buttonPostDisable.png") no-repeat center center; }

/* line 549, ../sass/brainstorm.scss */
.delpostit {
  background: url("../images/tmp/brainstorm/buttonDeleteDisable.png") no-repeat center center; }

/* line 553, ../sass/brainstorm.scss */
.postpostit.pressed {
  background: url("../images/tmp/brainstorm/buttonPostActive.png") no-repeat center center; }

/* line 557, ../sass/brainstorm.scss */
.delpostit.pressed {
  background: url("../images/tmp/brainstorm/buttonDeleteActive.png") no-repeat center center; }

/* line 561, ../sass/brainstorm.scss */
.wbdrawing {
  background: white;
  border-radius: 10px; }

/* line 566, ../sass/brainstorm.scss */
.drawingtools {
  height: 438px;
  float: left;
  width: 60px;
  margin-right: 5px;
  background: #1A1A1A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 10px;
  -webkit-box-shadow: 0 0 5px 1px gray; }

/* line 581, ../sass/brainstorm.scss */
.pencil, .erase, .clear, .canceldrawing, .deletedrawing, .savedrawing {
  width: 60px;
  height: 39px;
  line-height: 39px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px; }

/* line 589, ../sass/brainstorm.scss */
.pencil, .erase, .clear, .canceldrawing, .deletedrawing {
  border-bottom: 1px solid white; }

/* line 593, ../sass/brainstorm.scss */
.pencil.selected, .erase.selected {
  background: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px; }

/* line 600, ../sass/brainstorm.scss */
.drawinglabel {
  height: 18px;
  border-bottom: 1px solid white;
  line-height: 18px; }

/* line 606, ../sass/brainstorm.scss */
.pencil {
  border-top-left-radius: 10px;
  background-image: url("../images/tmp/brainstorm/penToolDisable20.png"); }

/* line 611, ../sass/brainstorm.scss */
.pencil.selected {
  background-image: url("../images/tmp/brainstorm/penToolActive20.png"); }

/* line 615, ../sass/brainstorm.scss */
.erase {
  background-image: url("../images/tmp/brainstorm/eraserToolDisable.png"); }

/* line 619, ../sass/brainstorm.scss */
.erase.selected {
  background-image: url("../images/tmp/brainstorm/eraserToolActive.png"); }

/* line 623, ../sass/brainstorm.scss */
.clear.selected {
  background: white;
  color: #1A1A1A; }

/* line 628, ../sass/brainstorm.scss */
.vertical {
  -webkit-appearance: none;
  z-index: 500;
  background: url("../images/tmp/brainstorm/sizeRuler.png") no-repeat center center;
  background-size: cover;
  width: 153px;
  height: 50px;
  position: absolute;
  top: 180px;
  left: 289px;
  -webkit-transform: rotate(270deg); }

/* line 642, ../sass/brainstorm.scss */
.vertical::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: url("../images/tmp/brainstorm/rulerArrow.png") no-repeat left 30px;
  background-size: 20px 10px;
  border: none;
  width: 20px;
  height: 50px; }

/* line 651, ../sass/brainstorm.scss */
circle.stroke {
  stroke: rgba(145, 145, 145, 0.7); }

/* line 655, ../sass/brainstorm.scss */
.pencilpreview, .bgpreview {
  display: inline-block;
  margin-top: 4px;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6); }

/* line 661, ../sass/brainstorm.scss */
.pencilpreview {
  width: 36px;
  height: 36px;
  border-radius: 18px; }

/* line 667, ../sass/brainstorm.scss */
.bgpreview {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  border-radius: 3px; }

/* line 674, ../sass/brainstorm.scss */
#pencilcolors, #pencilbgcolors {
  position: absolute;
  left: 346px;
  padding: 15px 15px 15px 0px;
  height: 30px;
  background: #333333;
  z-index: 500;
  -webkit-box-shadow: 0 0 5px 1px gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 686, ../sass/brainstorm.scss */
#pencilcolors {
  top: 253px; }

/* line 690, ../sass/brainstorm.scss */
#pencilbgcolors {
  top: 315px; }

/* line 694, ../sass/brainstorm.scss */
li.color-item {
  margin-left: 15px;
  float: left; }

/* line 699, ../sass/brainstorm.scss */
.color-item div {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6); }

/* line 712, ../sass/brainstorm.scss */
#pencilcolors div {
  border-radius: 30px; }

/* line 716, ../sass/brainstorm.scss */
#pencilbgcolors div {
  border-radius: 5px; }

/* line 720, ../sass/brainstorm.scss */
.canceldrawing {
  background-image: url("../images/tmp/brainstorm/hideTool9x14.png");
  background-size: 12px 12px; }

/* line 725, ../sass/brainstorm.scss */
.deletedrawing {
  background-image: url("../images/tmp/brainstorm/whiteCrossDelete.png");
  background-size: 12px 12px; }

/* line 730, ../sass/brainstorm.scss */
.savedrawing {
  background: #B1C59B;
  background-image: url("../images/tmp/brainstorm/continueactive.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  height: 40px;
  border-bottom-left-radius: 10px; }

/* line 740, ../sass/brainstorm.scss */
.canceldrawing.selected, .deletedrawing.selected {
  -webkit-box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.6); }

/* line 744, ../sass/brainstorm.scss */
.savedrawing.selected {
  background: #6C8B4D;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  color: black;
  font-size: 12px; }

/* line 751, ../sass/brainstorm.scss */
#pencilcolor, #pencilbgcolor {
  width: 60px;
  height: 61px; }

/* line 756, ../sass/brainstorm.scss */
.drawingcanvas {
  float: left;
  background: white;
  height: 438px;
  width: 652px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

/* line 765, ../sass/brainstorm.scss */
#toolbox {
  margin: 0 159px;
  height: 130px;
  width: 390px;
  padding: 30px 0px; }

/* line 772, ../sass/brainstorm.scss */
.toolbox-button {
  width: 100px;
  height: 130px;
  margin: 0px 15px;
  float: left; }

/* line 779, ../sass/brainstorm.scss */
.toolbox-button div {
  width: 100px;
  height: 100px;
  background-size: contain; }

/* line 785, ../sass/brainstorm.scss */
.toolbox-button legend {
  width: 100px;
  padding: 0px;
  text-align: center;
  font-family: Pacifico;
  margin-top: 15px;
  line-height: 15px;
  color: #808080; }

/* line 795, ../sass/brainstorm.scss */
.toolbox-button .postit-button {
  background-image: url("../images/tmp/brainstorm/postItDisable100.png"); }

/* line 799, ../sass/brainstorm.scss */
.toolbox-button .importpic-button {
  background-image: url("../images/tmp/brainstorm/importDisable100.png"); }

/* line 803, ../sass/brainstorm.scss */
.toolbox-button .drawingtool-button {
  background-image: url("../images/tmp/brainstorm/drawingDisable100.png"); }

/* line 807, ../sass/brainstorm.scss */
.toolbox-button .postit-button.pushed {
  background-image: url("../images/tmp/brainstorm/postItActive100.png"); }

/* line 811, ../sass/brainstorm.scss */
.toolbox-button .importpic-button.pushed {
  background-image: url("../images/tmp/brainstorm/importActive100.png"); }

/* line 815, ../sass/brainstorm.scss */
.toolbox-button .drawingtool-button.pushed {
  background-image: url("../images/tmp/brainstorm/drawingActive100.png"); }

/* line 819, ../sass/brainstorm.scss */
#finish-button {
  width: 145px;
  height: 34px;
  line-height: 34px;
  color: white;
  font-size: 12px;
  background: #94A3B8;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto; }

/* quickstart */
/* line 833, ../sass/brainstorm.scss */
#quickstart .quickstart-form {
  width: 590px;
  height: 370px;
  padding: 40px 20px 40px 20px; }

/* line 839, ../sass/brainstorm.scss */
#quickstart .quickstart-form label {
  font-family: Pacifico;
  color: #657B99;
  font-size: 14px;
  letter-spacing: 1px; }

/* line 846, ../sass/brainstorm.scss */
#quickstart hr {
  border: none;
  background: #AEB9BF;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 10px;
  -webkit-margin-before: 0px;
  _webkit-margin-after: 0px; }

/* line 856, ../sass/brainstorm.scss */
#quickstart .quickstart-form textarea {
  font-size: 12px;
  background: #F2F2F2;
  border: none;
  width: 570px;
  padding: 10px;
  outline: 0px;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 866, ../sass/brainstorm.scss */
#quickstart .quickstart-title {
  height: 70px;
  margin-bottom: 40px; }

/* line 871, ../sass/brainstorm.scss */
#quickstart .quickstart-desc {
  height: 115px;
  margin-bottom: 20px; }

/* line 876, ../sass/brainstorm.scss */
#quickstart .next-button {
  margin-left: 534px; }

/* quicksetup */
/* line 882, ../sass/brainstorm.scss */
#quicksetup .drawbutton, #quicktech .drawbutton {
  display: inline-block;
  height: 107px;
  width: 107px;
  background-size: contain;
  border-radius: 50px;
  margin: 20px 20px 30px 20px; }

/* line 891, ../sass/brainstorm.scss */
.drawchar {
  background: url("../images/tmp/decks/charactersactive.png") no-repeat center center; }

/* line 895, ../sass/brainstorm.scss */
.drawcontext {
  background: url("../images/tmp/decks/contextactive.png") no-repeat center center; }

/* line 899, ../sass/brainstorm.scss */
.drawproblem {
  background: url("../images/tmp/decks/problemactive.png") no-repeat center center; }

/* line 903, ../sass/brainstorm.scss */
.drawtech {
  background: url("../images/tmp/decks/technologyactive.png") no-repeat center center; }

/* line 907, ../sass/brainstorm.scss */
.drawchar.pushed {
  background: url("../images/tmp/decks/characters.png") no-repeat center center; }

/* line 911, ../sass/brainstorm.scss */
.drawcontext.pushed {
  background: url("../images/tmp/decks/context.png") no-repeat center center; }

/* line 915, ../sass/brainstorm.scss */
.drawproblem.pushed {
  background: url("../images/tmp/decks/problem.png") no-repeat center center; }

/* line 919, ../sass/brainstorm.scss */
.drawtech.pushed {
  background: url("../images/tmp/decks/technology.png") no-repeat center center; }

/* line 923, ../sass/brainstorm.scss */
.reload {
  background: url("../images/tmp/brainstorm/reload.png") no-repeat center center; }

/* line 929, ../sass/brainstorm.scss */
#quicksetup .next-button {
  margin-top: 20px;
  margin-left: 364px; }

/* cards, reusable */
/* line 935, ../sass/brainstorm.scss */
.card {
  display: inline-block;
  float: left;
  margin: 0px 20px 10px 20px;
  height: 155px;
  width: 107px;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  background-size: 107px 155px; }

/* line 947, ../sass/brainstorm.scss */
.highlighted {
  -webkit-box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3); }

/* line 951, ../sass/brainstorm.scss */
.card .cardpicture, .cd-picarea .cardpicture, .cardlist .cardpicture {
  display: inline-block;
  margin: 10px 10px 25px 10px;
  width: 87px;
  height: 87px;
  border-radius: 5px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 962, ../sass/brainstorm.scss */
.cardlist .cardpicture {
  margin: 10px 10px 15px 10px; }

/* line 966, ../sass/brainstorm.scss */
.card .cardtitle {
  font-size: 14px;
  line-height: 14px;
  font-family: Pacifico;
  color: #808080; }

/* line 973, ../sass/brainstorm.scss */
.card.tech .cardpicture {
  margin-bottom: 15px;
  margin-top: 15px; }

/* line 978, ../sass/brainstorm.scss */
.card.tech .cardtitle {
  font-family: Helvetica; }

/*default cards in case picture is missing */
/* line 984, ../sass/brainstorm.scss */
.char.defaultcard {
  background: url("../images/tmp/decks/fullcards/activeCharacter.png") no-repeat; }

/* line 988, ../sass/brainstorm.scss */
.context.defaultcard {
  background: url("../images/tmp/decks/fullcards/activeContext.png") no-repeat; }

/* line 992, ../sass/brainstorm.scss */
.problem.defaultcard {
  background: url("../images/tmp/decks/fullcards/activeProblem.png") no-repeat; }

/* line 996, ../sass/brainstorm.scss */
.tech.defaultcard {
  background: url("../images/tmp/decks/fullcards/activeTechnology.png") no-repeat; }

/* line 1000, ../sass/brainstorm.scss */
.defaultscenario .cardpicture {
  background-image: url("../images/tmp/brainstorm/scenario-01.png");
  background-size: 100px;
  background-position: center top;
  margin-bottom: 15px; }

/* line 1007, ../sass/brainstorm.scss */
.char.defaultcard.highlighted {
  background: url("../images/tmp/decks/fullcards/disableCharacter.png") no-repeat; }

/* line 1011, ../sass/brainstorm.scss */
.context.defaultcard.highlighted {
  background: url("../images/tmp/decks/fullcards/disableContext.png") no-repeat; }

/* line 1015, ../sass/brainstorm.scss */
.problem.defaultcard.highlighted {
  background: url("../images/tmp/decks/fullcards/disableProblem.png") no-repeat; }

/* line 1019, ../sass/brainstorm.scss */
.tech.defaultcard.highlighted {
  background: url("../images/tmp/decks/fullcards/disableTechnology.png") no-repeat; }

/* card popup */
/* line 1024, ../sass/brainstorm.scss */
.cardpopup {
  width: 310px;
  height: 380px;
  z-index: 1000;
  position: absolute; }

/* line 1031, ../sass/brainstorm.scss */
.cardpopup .leftcaret {
  margin-top: 60px;
  margin-left: -310px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
  display: none;
  float: left; }

/* line 1041, ../sass/brainstorm.scss */
.cardpopup.popright .leftcaret {
  display: inline-block; }

/* line 1045, ../sass/brainstorm.scss */
.cardpopup.popright .rightcaret {
  display: none; }

/* line 1049, ../sass/brainstorm.scss */
.bottomcaret {
  margin-top: 320px; }

/* line 1053, ../sass/brainstorm.scss */
.cardpopup .rightcaret {
  margin-top: 60px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid white;
  display: inline-block;
  float: left; }

/* line 1062, ../sass/brainstorm.scss */
.cardpopup .card-detail {
  float: left;
  width: 300px;
  height: 380px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6); }

/* line 1070, ../sass/brainstorm.scss */
.cd-header {
  height: 30px;
  width: 270px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-family: Helvetica;
  line-height: 30px;
  font-size: 16px; }

/* line 1081, ../sass/brainstorm.scss */
.cd-header.story {
  height: 72px;
  fomt-family: Pacifico; }

/* line 1086, ../sass/brainstorm.scss */
.cd-header span, .close-popup {
  float: left; }

/* line 1090, ../sass/brainstorm.scss */
.cd-header span {
  width: 240px; }

/* line 1094, ../sass/brainstorm.scss */
.close-popup {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: block;
  background-image: url("../images/tmp/brainstorm/deleteBlue28.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover; }

/* line 1108, ../sass/brainstorm.scss */
.cd-picarea {
  padding: 20px 20px 0px 20px;
  width: 260px;
  height: 112px; }

/* line 1114, ../sass/brainstorm.scss */
.cd-picarea .cardpicture {
  float: left;
  margin: 0; }

/* line 1119, ../sass/brainstorm.scss */
.cardinfo {
  width: 158px;
  float: left;
  margin-left: 15px;
  font-family: Helvetica;
  font-size: 12px;
  height: 87px; }

/* line 1128, ../sass/brainstorm.scss */
.cardinfo span {
  margin-top: 3px; }

/* line 1132, ../sass/brainstorm.scss */
.cd-info {
  margin-left: 2px;
  word-wrap: break-word; }

/* line 1137, ../sass/brainstorm.scss */
.age-suffix {
  margin-left: 2px; }

/* line 1141, ../sass/brainstorm.scss */
.cd-creditslbl, .cd-sourcelbl, .cd-agelbl, .cd-locationlbl, .cd-joblbl, .cd-familylbl, .cd-introlbl {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 15px; }

/* line 1147, ../sass/brainstorm.scss */
.cd-creditslbl, .cd-sourcelbl {
  color: #999999;
  font-size: 11px;
  padding-left: 20px;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 15px; }

/* line 1157, ../sass/brainstorm.scss */
.cd-agelbl, .cd-locationlbl, .cd-joblbl, .cd-familylbl, .cd-introlbl {
  width: 15px;
  height: 15px;
  padding-right: 5px;
  display: inline-block; }

/* line 1164, ../sass/brainstorm.scss */
.cd-creditslbl {
  background-image: url("../images/tmp/decks/photoBy14.png"); }

/* line 1168, ../sass/brainstorm.scss */
.cd-sourcelbl {
  background-image: url("../images/tmp/decks/source14.png"); }

/* line 1172, ../sass/brainstorm.scss */
.cd-agelbl {
  background-image: url("../images/tmp/decks/creationDate14.png"); }

/* line 1176, ../sass/brainstorm.scss */
.cd-locationlbl {
  background-image: url("../images/tmp/decks/livesIn14.png"); }

/* line 1180, ../sass/brainstorm.scss */
.cd-joblbl {
  background-image: url("../images/tmp/decks/status14.png"); }

/* line 1184, ../sass/brainstorm.scss */
.cd-familylbl {
  background-image: url("../images/tmp/decks/children14.png"); }

/* line 1188, ../sass/brainstorm.scss */
.cd-contentarea {
  width: 260px;
  height: 193px;
  padding: 0px 20px 20px 20px; }

/* line 1194, ../sass/brainstorm.scss */
.cd-contentarea.story p {
  font-size: 12px; }

/* line 1198, ../sass/brainstorm.scss */
.cd-contentarea .contentTitle {
  font-family: Pacifico;
  font-size: 14px;
  color: #4D4D4D; }

/* line 1204, ../sass/brainstorm.scss */
.cd-contentarea p {
  border-top: 1px solid #E6E6E6;
  padding-top: 3px;
  font-size: 10px;
  overflow-y: scroll;
  text-align: justify; }

/* line 1212, ../sass/brainstorm.scss */
.storytitlelbl {
  background-image: url("../images/tmp/brainstorm/iconStory16x14.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 14px;
  padding-left: 20px; }

/* line 1220, ../sass/brainstorm.scss */
.storytitle span {
  width: auto;
  max-width: 200px;
  overflow: hidden; }

/* quickscenario */
/* line 1228, ../sass/brainstorm.scss */
#quickscenario-left {
  padding-top: 93px;
  height: 619px;
  text-align: center; }

/* line 1234, ../sass/brainstorm.scss */
#quickscenario-left .card {
  margin: 10px 30px; }

/* line 1242, ../sass/brainstorm.scss */
#quickscenario .next-button, #quickidea .next-button {
  margin-left: 683px; }

/* line 1246, ../sass/brainstorm.scss */
.writeup {
  padding: 20px 20px 10px 20px;
  font-family: Helvetica;
  font-size: 12px; }

/* line 1252, ../sass/brainstorm.scss */
.enterTitle, .enterDesc, .enterSol {
  padding: 10px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border: none;
  color: black; }

/* line 1262, ../sass/brainstorm.scss */
.enterTitle::-webkit-input-placeholder, .enterDesc::-webkit-input-placeholder, .enterSol::-webkit-input-placeholder {
  color: #657B99; }

/* line 1266, ../sass/brainstorm.scss */
.enterTitle {
  height: 20px;
  line-height: 20px;
  width: 530px; }

/* line 1272, ../sass/brainstorm.scss */
.enterDesc, .enterSol {
  width: 330px;
  height: 100px;
  margin-top: 15px; }

/* line 1278, ../sass/brainstorm.scss */
.enterSol {
  margin-left: 19px; }

/* quicktech */
/* line 1288, ../sass/brainstorm.scss */
#quicktech-left .card {
  margin: 240px 30px 30px 30px; }

/* line 1292, ../sass/brainstorm.scss */
#quicktech .drawarea {
  float: left;
  margin-left: 142px; }

/* line 1297, ../sass/brainstorm.scss */
#quicktech .drawbutton {
  margin-left: 167px; }

/* line 1301, ../sass/brainstorm.scss */
#quicktech .cards {
  overflow-x: scroll; }

/* line 1305, ../sass/brainstorm.scss */
#quicktech .next-button {
  margin-top: 20px;
  margin-left: 364px; }

/* quickidea */
/* line 1311, ../sass/brainstorm.scss */
#quickidea-left ul {
  list-style: none; }

/* line 1315, ../sass/brainstorm.scss */
#quickidea-left {
  padding-top: 15px;
  height: 717px; }

/* line 1320, ../sass/brainstorm.scss */
#quickidea-left .card {
  margin: 3px 30px 15px 30px; }

/* quickwrapup */
/* line 1325, ../sass/brainstorm.scss */
#quickwrapup {
  text-align: center; }

/* line 1329, ../sass/brainstorm.scss */
#quickwrapup .congrats {
  height: 92px;
  width: 445px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 113px; }

/* line 1337, ../sass/brainstorm.scss */
#quickwrapup .congrats .message {
  float: left;
  width: 330px;
  height: 72px;
  padding-top: 15px;
  background: #F2F2F2;
  border: 1px dashed #CCCCCC;
  border-radius: 5px;
  color: #657B99;
  font-family: Pacifico; }

/* line 1349, ../sass/brainstorm.scss */
#quickwrapup .congrats .messagetitle {
  font-size: 18px;
  display: block; }

/* line 1354, ../sass/brainstorm.scss */
#quickwrapup .congrats .sessioncompleted {
  display: block;
  font-size: 14px;
  line-height: 14px; }

/* line 1360, ../sass/brainstorm.scss */
#quickwrapup .congrats .enddeedee {
  display: inline-block;
  float: left;
  margin-left: 15px;
  width: 98px;
  height: 92px;
  background-image: url("../images/tmp/brainstorm/enddeedee.png");
  background-size: contain; }

/* line 1370, ../sass/brainstorm.scss */
#quickwrapup .summary {
  width: 664px;
  height: 430px;
  padding-left: 8px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 5px;
  background: url("../images/tmp/brainstorm/book.png");
  background-size: contain; }

/* line 1381, ../sass/brainstorm.scss */
#quickwrapup .storysummary, #quickwrapup .ideasummary {
  width: 262px;
  height: 385px;
  padding: 25px 0px 20px 25px;
  margin-left: 20px;
  float: left;
  text-align: left; }

/* line 1390, ../sass/brainstorm.scss */
#quickwrapup .storyheader, #quickwrapup .storytitle, #quickwrapup .ideaheader, #quickwrapup .ideatitle {
  color: white;
  font-family: Pacifico;
  font-size: 16px;
  text-overflow: ellipsis; }

/* line 1397, ../sass/brainstorm.scss */
#quickwrapup .storyheader, #quickwrapup .ideaheader {
  padding-left: 25px;
  background-repeat: no-repeat; }

/* line 1402, ../sass/brainstorm.scss */
#quickwrapup .storyheader {
  background-image: url("../images/tmp/brainstorm/iconStory16x14.png");
  background-position: left 10px;
  background-size: 16px 14px; }

/* line 1408, ../sass/brainstorm.scss */
#quickwrapup .ideaheader {
  background-image: url("../images/tmp/brainstorm/iconIdea12x16.png");
  background-position: left 8px; }

/* line 1413, ../sass/brainstorm.scss */
#quickwrapup .storycontent, #quickwrapup .ideacontent {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 280px; }

/* line 1419, ../sass/brainstorm.scss */
#quickwrapup .storycontent .summaryheader, #quickwrapup .ideacontent .summaryheader {
  text-align: left;
  font-family: Pacifico;
  font-size: 14px;
  height: 25px; }

/* line 1426, ../sass/brainstorm.scss */
#quickwrapup .storycontent .content, #quickwrapup .ideacontent .content {
  font-family: Helvetica;
  border-top: 1px solid #CCCCCC;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: justify; }

/* line 1436, ../sass/brainstorm.scss */
#quickwrapup .sessionresults {
  width: 624px;
  display: inline-block; }

/* line 1441, ../sass/brainstorm.scss */
#quickwrapup .sessiontime, #quickwrapup .sessionscore {
  float: left;
  display: inline-block;
  width: 252px;
  height: 40px;
  margin-left: 10px;
  padding-left: 50px;
  background-size: 40px 40px;
  background-position: left center;
  background-repeat: no-repeat; }

/* line 1453, ../sass/brainstorm.scss */
#quickwrapup .sessiontime span, #quickwrapup .sessionscore span {
  display: block;
  text-align: left;
  line-height: 20px;
  font-family: Pacifico;
  color: #808080;
  font-size: 16px;
  width: 80px;
  text-align: center; }

/* line 1464, ../sass/brainstorm.scss */
#quickwrapup .sessiontime {
  background-image: url("../images/tmp/brainstorm/yourTime40.png"); }

/* line 1468, ../sass/brainstorm.scss */
#quickwrapup .sessionscore {
  background-image: url("../images/tmp/brainstorm/yourScore40.png"); }

/* line 1472, ../sass/brainstorm.scss */
#quickwrapup .sessioncards {
  position: absolute;
  width: 931px;
  height: 240px;
  z-index: 100;
  top: 650px;
  overflow-y: scroll;
  padding-top: 15px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, white), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(bottom, white 0%, #f2f2f2 100%);
  -webkit-box-shadow: inset 0px 0px 1px 3px rgba(0, 0, 0, 0.3); }

/* line 1485, ../sass/brainstorm.scss */
#quickwrapup .sessioncards.expanded {
  top: 500px;
  -webkit-transition: top 0.2s ease-out 0; }

/* line 1490, ../sass/brainstorm.scss */
#quickwrapup .sessioncards legend {
  font-family: Pacifico;
  font-size: 14px;
  margin: 0 auto;
  color: #666666; }

/* line 1497, ../sass/brainstorm.scss */
#quickwrapup .cardlist {
  margin: 20px 0px 0px 20px; }
