/* line 1, ../sass/common.scss */
.overflow {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* Main Stack */
/* line 8, ../sass/common.scss */
#cache {
  height: 748px;
  width: 1024px;
  position: absolute;
  z-index: -1500;
  opacity: 0;
  background-image: -webkit-repeating-radial-gradient(circle, gray, black); }

/* line 17, ../sass/common.scss */
#cache.appear {
  opacity: 0.9;
  z-index: 1500;
  -webkit-transition: opacity 0.7s linear; }

/*utils */
/* line 25, ../sass/common.scss */
.blue-light {
  background: #9ac9cd; }

/* line 29, ../sass/common.scss */
.blue-dark {
  background: #657B99; }

/* line 33, ../sass/common.scss */
.header, .list h3, .detail-header h2, #contactdetails h2, #deckview .deckheader h2 {
  font-family: pacifico;
  letter-spacing: 1px; }

/* may be improve the .idea-edit .form input.input */
/* line 39, ../sass/common.scss */
.header, .header .option, .idea-edit .form input.input {
  height: 36px; }

/* line 43, ../sass/common.scss */
.header {
  position: relative;
  text-align: center;
  color: white; }

/* line 49, ../sass/common.scss */
.header .option {
  position: absolute;
  top: 0;
  width: 36px; }

/* line 55, ../sass/common.scss */
.invisible {
  display: none; }

/* line 59, ../sass/common.scss */
.left {
  left: 0; }

/* line 63, ../sass/common.scss */
.right {
  right: 0; }

/* line 67, ../sass/common.scss */
#dock, .list, .details, .idea-edit, .idea-sendmail {
  background: white; }

/* line 71, ../sass/common.scss */
#dock, .list, .details {
  height: 748px; }

/* line 75, ../sass/common.scss */
.list ul {
  height: 652px; }

/* line 79, ../sass/common.scss */
#deck-list {
  height: 712px; }

/* line 83, ../sass/common.scss */
.msglist ul, .contactlist ul, .twoq-list, .twoq-searchlist {
  height: 577px; }

/* line 87, ../sass/common.scss */
.contacttwoqlist {
  height: 500px; }

/* line 91, ../sass/common.scss */
#dock, .list {
  /* is absolute position better? */
  float: left; }

/* line 96, ../sass/common.scss */
.details {
  position: absolute;
  width: 630px;
  left: 394px;
  z-index: -10; }

/* utils list */
/* line 105, ../sass/common.scss */
.list {
  /* the position has to be relative to apply the shadow */
  position: relative;
  width: 301px;
  /*factorize with every box-shadow */
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 114, ../sass/common.scss */
.ideas-list, .twoq-list, .twoq-searchlist {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 120, ../sass/common.scss */
.list-item {
  min-height: 85px;
  border-bottom: 1px solid #CCC;
  padding: 10px 20px; }

/* line 126, ../sass/common.scss */
.list-item div, .menu-item a, .list-item p {
  /* prevent events */
  pointer-events: none; }

/* line 131, ../sass/common.scss */
.list-item.selected {
  /* background-image:-webkit-linear-gradient(top, #88A5CC 0%, #657B99 80%);*/
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #d4d4d4 80%);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 136, ../sass/common.scss */
.item-header span, .item-body p, .detail-header .date {
  color: gray;
  font-size: 12px; }

/* line 142, ../sass/common.scss */
.item-header {
  position: relative;
  min-height: 30px; }

/* line 147, ../sass/common.scss */
.item-header .avatar {
  display: none; }

/* line 151, ../sass/common.scss */
.item-header h2 {
  display: inline;
  font-size: 14px;
  font-weight: normal; }

/* line 157, ../sass/common.scss */
.date {
  float: right;
  font-style: italic; }

/* line 162, ../sass/common.scss */
.item-body h3 {
  padding-top: 3px;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #404040; }

/* line 170, ../sass/common.scss */
.item-body p {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 175, ../sass/common.scss */
.twoq-list .item-body p, .twoq-searchlist .item-body p {
  margin-top: 0;
  font-size: 16px; }

/* line 180, ../sass/common.scss */
.twoq-list .item-footer .replies, .twoq-searchlist .item-footer .replies {
  font-size: 12px;
  color: #B3B3B3;
  padding-left: 30px;
  background: url("../images/tmp/2centDisable.png") no-repeat left center;
  background-size: 30px 30px; }

/* line 188, ../sass/common.scss */
.item-acorn {
  margin-left: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  background-image: url("../images/tmp/wall/rateForList.png"); }

/* line 199, ../sass/common.scss */
.item-acorn .selected {
  background-image: url("../images/tmp/wall/vote.png"); }

/* line 203, ../sass/common.scss */
.item-footer .rating {
  display: inline-block;
  font-family: Helvetica;
  font-size: 12px;
  color: #B3B3B3; }

/* line 210, ../sass/common.scss */
.idea-type {
  width: 20px;
  height: 20px;
  float: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

/* line 219, ../sass/common.scss */
.idea-type.private {
  background-image: url("../images/tmp/public/privateForList.png");
  background-size: 15px 15px; }

/* line 224, ../sass/common.scss */
.idea-type.public {
  background-image: url("../images/tmp/public/publicForList.png");
  background-size: 19px 14px; }

/* line 229, ../sass/common.scss */
.tools {
  padding: 15px;
  height: 30px; }

/* line 234, ../sass/common.scss */
.search {
  border: 0;
  outline: 0;
  height: 25px;
  line-height: 25px;
  padding: 0 25px 0 10px;
  width: 160px;
  border-radius: 5px;
  background: #F2F2F2;
  font-size: 12px;
  background-image: url("../images/tmp/public/search.png");
  background-size: 15px 15px;
  background-position: 96%;
  background-repeat: no-repeat; }
