/* New idea / new Twoquestion popup */
/* line 2, ../sass/common-idea.scss */
#newidea-popup, #new2q-popup, #new2c-popup {
  position: absolute;
  width: 480px;
  height: 560px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
  z-index: 2000;
  background: white;
  left: 270px;
  bottom: -580px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 15, ../sass/common-idea.scss */
#new2q-popup {
  width: 560px;
  height: 300px;
  left: 230px;
  bottom: -320px; }

/* line 22, ../sass/common-idea.scss */
#new2c-popup {
  height: 320px;
  width: 650px;
  left: 185px;
  bottom: -340px; }

/* line 29, ../sass/common-idea.scss */
#new2q-popup .form textarea, #new2c-popup .form textarea {
  height: 180px;
  font-size: 18px;
  line-height: 30px;
  padding-right: 5px; }

/* line 36, ../sass/common-idea.scss */
#new2c-popup .form textarea {
  height: 200px; }

/* line 40, ../sass/common-idea.scss */
#newidea-popup .form p, #new2q-popup .form p, #new2c-popup .form p {
  margin-bottom: 20px;
  font-size: 14px; }

/* line 45, ../sass/common-idea.scss */
#new2c-popup .close-popup, #new2q-popup .close-popup, #newidea-popup .close-popup {
  right: 0px;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.6); }

/* line 50, ../sass/common-idea.scss */
#newidea-popup .visibility-input {
  text-align: center; }

/* line 54, ../sass/common-idea.scss */
#newidea-popup .visibility-slider {
  height: 30px;
  border-radius: 15px;
  width: 180px;
  background: transparent;
  margin: 0 auto;
  border: none; }

/* line 63, ../sass/common-idea.scss */
#newidea-popup .visibility-input div {
  background: #657B99;
  width: 180px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-family: Pacifico;
  font-size: 14px;
  margin: -33px auto;
  line-height: 30px; }

/* line 75, ../sass/common-idea.scss */
#newidea-popup .visibility-slider::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  border-radius: 15px; }

/* line 81, ../sass/common-idea.scss */
#newidea-popup .newidea-footer {
  margin-top: 70px; }

/* line 85, ../sass/common-idea.scss */
#newidea-popup .publicwarning {
  height: 50px;
  width: 230px;
  background-image: url("../images/tmp/brainstorm/deedeetopright.png");
  background-size: 30px 30px;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 40px;
  float: left;
  margin-top: -20px;
  font-family: helvetica;
  font-size: 12px;
  color: #404040; }

/* line 100, ../sass/common-idea.scss */
#help-popup, #tip-popup {
  position: absolute;
  width: 480px;
  max-height: 400px;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
  z-index: 2000;
  background: white;
  top: 134px;
  right: -565px; }

/* line 112, ../sass/common-idea.scss */
.help-doctor {
  display: block;
  width: 70px;
  height: 69px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("../images/tmp/brainstorm/doctordeedee.png") no-repeat top right;
  background-size: 70px 69px; }

/* line 123, ../sass/common-idea.scss */
.close-help, .close-tip {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 25px;
  top: -25px;
  right: 0px;
  background: white;
  background-image: url("../images/tmp/brainstorm/delete28.png");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center; }

/* line 138, ../sass/common-idea.scss */
.help-screen, .tip-screen {
  color: #657B99;
  font-family: Helvetica;
  border: 1px solid #657B99;
  padding: 30px;
  border-radius: 10px;
  max-height: 340px;
  overflow: scroll; }

/* line 148, ../sass/common-idea.scss */
.help-screen h2, .settingmodule legend {
  font-family: pacifico; }

/* line 152, ../sass/common-idea.scss */
.tip-screen .next-button {
  margin: 20px auto; }

/* line 156, ../sass/common-idea.scss */
.tip-screen {
  padding-bottom: 10px; }

/* line 160, ../sass/common-idea.scss */
.tip-screen legend {
  margin-top: -20px;
  margin-left: 10px;
  font-family: Pacifico;
  font-size: 20px; }

/* line 167, ../sass/common-idea.scss */
.tip-footer {
  margin-top: 10px;
  color: #808080;
  display: inline-table; }

/* line 172, ../sass/common-idea.scss */
.tip-footer input, .tip-footer label, .settingmodule .setting-input input, .settingmodule .setting-input label {
  vertical-align: middle; }

/* line 176, ../sass/common-idea.scss */
.tip-footer label, .settingmodule .setting-input label {
  margin-left: 5px; }

/* line 180, ../sass/common-idea.scss */
.help-screen p, .tip-screen p {
  text-align: justify;
  margin-top: 10px; }

/* line 185, ../sass/common-idea.scss */
.tip-screen p {
  line-height: 20px; }

/* line 189, ../sass/common-idea.scss */
.confirm {
  -webkit-box-shadow: 0px 0px 5px 2px #657B99;
  z-index: 2000;
  background: black;
  margin-top: 5px;
  position: absolute; }

/* line 197, ../sass/common-idea.scss */
.idea-edit .confirm {
  width: 280px;
  padding: 40px 30px 10px 30px;
  right: 20px; }

/* line 203, ../sass/common-idea.scss */
.confirm .help-doctor {
  width: 40px; }

/* line 207, ../sass/common-idea.scss */
.confirm p {
  text-align: left;
  color: white;
  font-family: Pacifico;
  line-height: 20px;
  margin-top: 10px;
  font-size: 16px; }

/* line 216, ../sass/common-idea.scss */
#newidea-popup.appear {
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform: translateY(-689px); }

/* line 221, ../sass/common-idea.scss */
#new2q-popup.appear {
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform: translateY(-550px); }

/* line 226, ../sass/common-idea.scss */
#new2c-popup.appear {
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform: translateY(-550px); }

/* line 231, ../sass/common-idea.scss */
#help-popup.appear {
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform: translateX(-797px); }

/* line 236, ../sass/common-idea.scss */
#tip-popup.visible {
  -webkit-transform: translateX(-797px); }

/* line 240, ../sass/common-idea.scss */
#cache.visible {
  opacity: 0.75;
  z-index: 1500; }

/* line 245, ../sass/common-idea.scss */
#newidea-popup .option, .confirm .option, #new2q-popup .option {
  width: 60px;
  height: 24px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #94A3B8;
  border-radius: 5px; }

/* line 256, ../sass/common-idea.scss */
.confirm .option {
  display: inline-block;
  width: 60px;
  font-family: Pacifico;
  font-size: 12px;
  border-color: white;
  margin: 5px; }

/* line 265, ../sass/common-idea.scss */
.confirm .option.pressed {
  color: white;
  background: #4D4D4D; }

/* line 270, ../sass/common-idea.scss */
#newidea-popup .option.pressed, .confirm .option.pressed, #new2q-popup .option.pressed {
  background: #94A3B8;
  border: 1px solid #657B99; }

/* line 275, ../sass/common-idea.scss */
#newidea-popup .left, #new2q-popup .left {
  left: 5px; }

/* line 279, ../sass/common-idea.scss */
#newidea-popup .right, #new2q-popup .right {
  right: 5px; }

/* line 283, ../sass/common-idea.scss */
#newidea-popup .form, #new2q-popup .form {
  font-size: 16px;
  padding: 20px; }

/* line 288, ../sass/common-idea.scss */
.newideatitle {
  height: 36px;
  font-size: 16px; }

/* line 293, ../sass/common-idea.scss */
.visibility, .toggle-replay {
  float: right;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px 15px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  color: #B3B3B3;
  text-align: center;
  border: 1px solid #E6E6E6;
  line-height: 30px;
  display: inline-block; }

/* line 309, ../sass/common-idea.scss */
.visibility {
  background-image: url("../images/tmp/public/privateForList.png"); }

/* line 313, ../sass/common-idea.scss */
.toggle-replay {
  background-image: url("../images/tmp/library/25goToSession.png");
  margin-left: 10px; }

/* line 318, ../sass/common-idea.scss */
.toggle-replay.pressed {
  background-image: url("../images/tmp/library/25goToSessionActive.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  color: white; }

/* line 326, ../sass/common-idea.scss */
.visibility.public {
  background-image: url("../images/tmp/public/publicForList.png");
  background-size: 18px 15px;
  margin-left: 10px; }

/* line 332, ../sass/common-idea.scss */
.visibility.pressed {
  color: white; }

/* line 336, ../sass/common-idea.scss */
.visibility.private.pressed {
  background-image: url("../images/tmp/brainstorm/byPublicActive.png");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: 3px center; }

/* line 343, ../sass/common-idea.scss */
.visibility.public.pressed {
  background-image: url("../images/tmp/brainstorm/byPrivateActive.png");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: 3px center; }

/* line 350, ../sass/common-idea.scss */
.visibility-slider {
  -webkit-appearance: none;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background: #657B99;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  background-image: url("../images/tmp/brainstorm/privateforslider.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 20px 20px;
  margin-left: 40px; }

/* line 364, ../sass/common-idea.scss */
.visibility-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 200;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #d4d4d4 80%);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
