/*CONNECT*/
/* line 3, ../sass/connect.scss */
.messages, .contacts {
  text-align: center; }

/* line 7, ../sass/connect.scss */
#connect-messages .selectors, #connect-contacts .selectors {
  display: inline-block;
  margin: 0 auto;
  height: 55px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCCCCC; }

/* line 16, ../sass/connect.scss */
#connect-messages .selectors li, #connect-contacts .selectors li {
  width: 65px;
  font-size: 11px;
  border-radius: 0px;
  border-right: none;
  color: black; }

/* line 24, ../sass/connect.scss */
#connect-messages .selectors li.pressed, #connect-contacts .selectors li.pressed {
  color: white; }

/* line 28, ../sass/connect.scss */
#connect-messages .selectors li:first-child, #connect-contacts .selectors li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

/* line 33, ../sass/connect.scss */
#connect-messages .selectors li:last-child, #connect-contacts .selectors li:last-child {
  border-right: 1px solid #CCCCCC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 39, ../sass/connect.scss */
.messages input, .contacts input {
  margin-top: 10px;
  margin-left: -70px; }

/* line 44, ../sass/connect.scss */
.msglist, .contactlist {
  margin-top: 20px; }

/* line 48, ../sass/connect.scss */
.msg, .contact {
  padding: 10px;
  text-align: left;
  min-height: 50px;
  overflow: hidden; }

/* line 55, ../sass/connect.scss */
.msg .actionbar, .contact .actionbar {
  margin-left: -10px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.8); }

/* line 61, ../sass/connect.scss */
.msg:first-child, .contact:first-child {
  border-top: 1px solid #cccccc; }

/* line 65, ../sass/connect.scss */
.msg-author, .contact-name {
  font-size: 16px;
  color: black; }

/* line 70, ../sass/connect.scss */
.msg-subject, .contact-intro {
  font-style: italic;
  font-size: 14px;
  color: #4D4D4D; }

/* line 76, ../sass/connect.scss */
.msg-author, .msg-subject, .contact-name, .contact-intro {
  margin-left: 50px;
  font-weight: normal;
  margin-bottom: 5px; }

/* line 82, ../sass/connect.scss */
.msg .date {
  color: #808080;
  font-size: 12px;
  margin-top: -20px; }

/* line 88, ../sass/connect.scss */
.unread {
  font-weight: bold; }

/* line 92, ../sass/connect.scss */
#msg-detail {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 97, ../sass/connect.scss */
.msgsplash {
  width: 630px;
  height: 712px; }

/* line 102, ../sass/connect.scss */
.innersplash {
  width: 100%;
  height: 100%;
  background: white;
  background-image: url("../images/tmp/brainstorm/doctordeedee87x85.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 200px;
  font-family: Pacifico;
  font-size: 24px;
  color: #404040; }

/* line 116, ../sass/connect.scss */
#msgdetail .header, #addcontact .header, #addgroup .header {
  text-align: left; }

/* line 121, ../sass/connect.scss */
#msgdetail .header span {
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0; }

/* line 127, ../sass/connect.scss */
#msgdetail .header .subjectlbl, #addcontact .header span, #addgroup .header span {
  margin-left: 20px; }

/* line 131, ../sass/connect.scss */
#msgdetail .detail-header {
  margin: 0 20px 0 20px;
  height: auto;
  padding-bottom: 20px; }

/* line 137, ../sass/connect.scss */
#msgdetail .detail-header p {
  margin-left: 80px;
  margin-top: 3px; }

/* line 142, ../sass/connect.scss */
#msgdetail .toList {
  font-size: 14px;
  color: #808080; }

/* line 147, ../sass/connect.scss */
#msgdetail .detail-header .date {
  font-size: 14px;
  float: none; }

/* line 152, ../sass/connect.scss */
#msgdetail .detail-body {
  padding-bottom: 10px; }

/* line 156, ../sass/connect.scss */
#msgdetail .showdoc {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: url("../images/tmp/disableLibrary.png") no-repeat center center;
  background-size: contain;
  -webkit-box-shadow: inset 0px 0px 3px gray; }

/* line 166, ../sass/connect.scss */
#msgdetail .showdoc.pushed {
  background: gray url("../images/tmp/activeLibrary.png") no-repeat center center;
  background-size: contain;
  -webkit-box-shadow: inset 0px 0px 3px black; }

/* line 172, ../sass/connect.scss */
.msgoptions {
  float: right; }

/* line 176, ../sass/connect.scss */
.msgoptions .defaultmsgoption {
  display: inline-block; }

/* line 180, ../sass/connect.scss */
.msgoptions .msgoptionlist {
  position: absolute;
  top: 105px;
  right: 20px;
  display: inline-block;
  background: white; }

/* line 188, ../sass/connect.scss */
.defaultmsgoption div, .msgoptionlist div {
  float: left;
  background-size: contain; }

/* line 193, ../sass/connect.scss */
.msgoptionlist div {
  height: 30px;
  text-align: right; }

/* line 198, ../sass/connect.scss */
.msgreply {
  background: url("../images/tmp/connect/buttonMinSendDisable.png") no-repeat center;
  width: 40px;
  height: 40px; }

/* line 204, ../sass/connect.scss */
.msgreply.pushed {
  background: url("../images/tmp/connect/buttonMinSendActive.png") no-repeat center;
  background-size: contain; }

/* line 209, ../sass/connect.scss */
.more {
  background: url("../images/tmp/connect/buttonMinSeeMoreDisable.png") no-repeat center;
  width: 30px;
  height: 40px; }

/* line 215, ../sass/connect.scss */
.more.pushed {
  background: url("../images/tmp/connect/buttonMinSeeMoreActive.png") no-repeat center;
  background-size: contain; }

/* line 220, ../sass/connect.scss */
.msgoptionlist.invisible {
  display: none; }

/* line 224, ../sass/connect.scss */
.msgoptionlist .sort-button {
  border-radius: 0px;
  border-left: none;
  margin: 0;
  line-height: 30px;
  font-size: 11px;
  width: 100px;
  text-align: center;
  float: left; }

/* line 235, ../sass/connect.scss */
.msgoptionlist .sort-button.pushed {
  color: white;
  background: #4D4D4D;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6); }

/* line 241, ../sass/connect.scss */
.msgoptionlist .replyall {
  border-left: 1px solid #cccccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

/* line 251, ../sass/connect.scss */
.msgoptionlist .deletemsg {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 256, ../sass/connect.scss */
.goto2q {
  width: 50px;
  height: 50px;
  background: url("../images/tmp/connect/twocent.png") no-repeat center center;
  background-size: contain;
  margin: 0 auto; }

/* line 264, ../sass/connect.scss */
.goto2q.pushed {
  background: url("../images/tmp/connect/twocentactive.png") no-repeat center center;
  background-size: contain; }

/* line 269, ../sass/connect.scss */
.acceptrejectCXR {
  height: 50px;
  margin-right: 20px;
  text-align: right; }

/* line 275, ../sass/connect.scss */
.acceptCXR, .rejectCXR {
  display: inline-block;
  padding-left: 35px;
  height: 35px;
  line-height: 35px;
  width: 50px;
  text-align: left;
  border: 1px solid #CCCCCC;
  font-family: helvetica;
  color: #404040;
  font-size: 12px; }

/* line 288, ../sass/connect.scss */
.acceptCXR {
  background-image: url("../images/tmp/connect/accept.png");
  background-size: 25px 25px;
  background-position: 5px center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

/* line 297, ../sass/connect.scss */
.rejectCXR {
  background-image: url("../images/tmp/connect/reject.png");
  background-size: 25px 25px;
  background-position: 5px center;
  background-repeat: no-repeat;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 307, ../sass/connect.scss */
.acceptCXR.pushed, .rejectCXR.pushed {
  color: white;
  background: #4D4D4D;
  background-size: 25px 25px;
  background-position: 5px center;
  background-repeat: no-repeat; }

/* line 315, ../sass/connect.scss */
.acceptCXR.pushed {
  background-image: url("../images/tmp/connect/accept.png"); }

/* line 319, ../sass/connect.scss */
.rejectCXR.pushed {
  background-image: url("../images/tmp/connect/reject.png"); }

/* line 323, ../sass/connect.scss */
#newmsg .avatar, #msgreply .avatar {
  margin: 20px; }

/* line 327, ../sass/connect.scss */
#newmsg .form, #msgreply .form {
  margin-left: 80px;
  padding: 20px; }

/* line 332, ../sass/connect.scss */
#newmsg .form p, #msgreply .form p {
  margin-bottom: 10px; }

/* line 336, ../sass/connect.scss */
.form legend, #msgreply .subject {
  font-family: pacifico;
  font-size: 12px; }

/* line 341, ../sass/connect.scss */
.autocontact {
  position: absolute;
  background: white;
  border: 1px solid #CCC;
  width: 488px;
  margin-top: -10px;
  height: 120px;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 356, ../sass/connect.scss */
.autocontact li {
  float: left;
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
  color: #404040;
  width: 190px;
  margin-left: 15px;
  height: 30px;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
  background: url("../images/tmp/connect/contactDisable.png") no-repeat left center;
  background-size: 25px 25px; }

/* line 371, ../sass/connect.scss */
.autocontact li.group {
  background: url("../images/tmp/connect/folderDisable.png") no-repeat left center;
  background-size: 25px 25px; }

/* line 376, ../sass/connect.scss */
.autocontact li.selected {
  color: black;
  font-weight: bold;
  background: url("../images/tmp/connect/contactActive.png") no-repeat left center;
  background-size: 25px 25px; }

/* line 383, ../sass/connect.scss */
.autocontact li.selected.group {
  background: url("../images/tmp/connect/folderActive.png") no-repeat left center;
  background-size: 25px 25px; }

/* line 388, ../sass/connect.scss */
.autoclose {
  float: right;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../images/tmp/brainstorm/closeFrame.png") no-repeat center center;
  background-size: 15px 15px; }

/* line 397, ../sass/connect.scss */
#msgreply blockquote {
  font-size: 12px;
  font-style: italic;
  padding: 5px;
  border: 1px dashed #657B99; }

/* line 404, ../sass/connect.scss */
.signature {
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 10px 0 0 10px;
  border: 0px;
  border-radius: 0px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  line-height: 15px;
  min-height: 65px;
  max-height: 75px;
  font-size: 14px; }

/* line 419, ../sass/connect.scss */
#contactdetails .avatar {
  float: left;
  width: 80px;
  height: 80px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  background-size: cover; }

/* line 430, ../sass/connect.scss */
#contactdetails .detail-contents {
  padding: 20px; }

/* line 434, ../sass/connect.scss */
#contactdetails .basicinfo {
  margin-left: 120px; }

/* line 438, ../sass/connect.scss */
#contactdetails .contactdashboard {
  margin-top: 10px;
  border: 1px dashed #cccccc;
  border-radius: 5px;
  width: 588px;
  margin-top: 30px;
  height: 240px; }

/* line 447, ../sass/connect.scss */
#contactdetails .contactstats, #contactdetails .contactbadges {
  float: left;
  width: 50%;
  height: 240px;
  overflow-y: scroll; }

/* line 454, ../sass/connect.scss */
.contactbadge {
  height: 86px; }

/* line 458, ../sass/connect.scss */
.contactbadge div {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px auto; }

/* line 465, ../sass/connect.scss */
#contactdetails .contactstats legend, #contactdetails .contactbadges legend {
  margin: 10px;
  width: 90%;
  border-bottom: 2px solid #cccccc; }

/* line 471, ../sass/connect.scss */
.contactstats .userscore {
  width: 90%;
  margin: 0px 0px 0px 10px;
  border: none; }

/* line 477, ../sass/connect.scss */
.contactstats table {
  margin-left: 10px;
  width: 90%;
  border-spacing: 0px; }

/* line 484, ../sass/connect.scss */
#contactdetails .contactbadges label {
  font-family: Pacifico;
  font-size: small; }

/* line 489, ../sass/connect.scss */
#contactdetails .contactnotes {
  height: 295px;
  padding: 20px; }

/* line 494, ../sass/connect.scss */
#contactdetails .editnotes {
  margin-top: -20px; }

/* line 498, ../sass/connect.scss */
#uploadnotes, #cancelnotes {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  float: right;
  margin-top: -20px; }

/* line 506, ../sass/connect.scss */
#uploadnotes {
  background: url("../images/tmp/connect/updateNote.png") no-repeat center center;
  background-size: 25px 25px;
  margin-right: 60px; }

/* line 512, ../sass/connect.scss */
#cancelnotes {
  background: url("../images/tmp/connect/deleteNote.png") no-repeat center center;
  background-size: 20px 20px;
  margin-right: 20px; }

/* line 518, ../sass/connect.scss */
#uploadnotes.pushed, #cancelnotes.pushed {
  -webkit-box-shadow: inset 0 0 1px 1px #cccccc; }

/* line 522, ../sass/connect.scss */
#contactdetails .contactnotes textarea {
  height: 260px;
  margin-top: 10px;
  background-color: transparent;
  background-image: url("../images/tmp/connect/bg-note.jpg");
  background-size: cover;
  padding-left: 35px;
  font-family: Pacifico;
  font-size: large;
  color: #292929; }

/* line 534, ../sass/connect.scss */
#addcontact .detail-contents, #addgroup .detail-contents, #groupdetails .detail-contents {
  padding: 20px;
  background: white;
  -webkit-box-shadow: none; }

/* line 540, ../sass/connect.scss */
#addgroup .detail-contents, #groupdetails details-contents {
  max-height: 672px;
  overflow-y: scroll; }

/* line 545, ../sass/connect.scss */
.addcontactform {
  color: #657b99;
  margin-left: 100px; }

/* line 550, ../sass/connect.scss */
#addcontact legend, #addgroup legend, .userdetails legend, .edituserdetails .addtlinfo legend, #groupdetails legend, .aboutcontent legend {
  width: 100%;
  padding-bottom: 5px;
  font-family: Pacifico;
  color: #657b99;
  border-bottom: 1px solid #cccccc;
  margin-top: 15px; }

/* line 559, ../sass/connect.scss */
.addcontactform p.half {
  width: 46%;
  padding: 2%;
  padding-top: 0;
  float: left;
  font-size: 14px;
  text-align: justify; }

/* line 568, ../sass/connect.scss */
.addcontactform .search {
  margin-top: 15px;
  width: 460px;
  background-position: 475px center; }

/* line 574, ../sass/connect.scss */
.addcontactform .searchcontact {
  width: 495px; }

/* line 578, ../sass/connect.scss */
.addcontactform .search.half {
  width: 205px;
  background-position: 220px center; }

/* line 583, ../sass/connect.scss */
.addcontactform .search.half.right {
  margin-left: 15px; }

/* line 587, ../sass/connect.scss */
.addcontactform .searchresult {
  min-height: 20px;
  margin-top: 10px;
  line-height: 20px;
  font-style: italic;
  color: #F27B3D; }

/* line 595, ../sass/connect.scss */
#addcontact .contactlist {
  padding: 0px 20px 0px 20px;
  margin-top: 0px; }

/* line 600, ../sass/connect.scss */
#addcontact .contact {
  width: 48%;
  float: left;
  height: 70px;
  border-top: none;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%; }

/* line 610, ../sass/connect.scss */
#addcontact .select-contact {
  pointer-events: auto;
  display: block;
  float: right;
  margin-top: -43px;
  width: 14px;
  height: 14px;
  border: 1px solid #cccccc;
  color: #5F8F28;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold; }

/* line 624, ../sass/connect.scss */
#addcontact textarea.input {
  margin-top: 20px;
  height: 100px; }

/* line 629, ../sass/connect.scss */
.addcontactbtns {
  display: inline-block;
  text-align: right;
  position: absolute;
  bottom: 290px;
  right: 20px; }

/* line 637, ../sass/connect.scss */
#addcontact .addcontactbtns {
  bottom: 310px; }

/* line 641, ../sass/connect.scss */
.addct {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url("../images/tmp/connect/buttonAddDisable.png") no-repeat center center;
  background-size: contain; }

/* line 650, ../sass/connect.scss */
.cancelct {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url("../images/tmp/connect/buttonDeleteDisable.png") no-repeat center center;
  background-size: contain; }

/* line 660, ../sass/connect.scss */
.addct.pushed {
  background: url("../images/tmp/connect/buttonAddActive.png") no-repeat center center;
  background-size: contain; }

/* line 665, ../sass/connect.scss */
.cancelct.pushed {
  background: url("../images/tmp/connect/buttonDeleteActive.png") no-repeat center center;
  background-size: contain; }

/* line 670, ../sass/connect.scss */
#CXRconfirm {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65) url("../images/tmp/bg.png") repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  opacity: 0.8; }

/* line 681, ../sass/connect.scss */
#CXRconfirm span {
  display: inline-block;
  margin-top: 300px;
  padding: 10px;
  font-size: 16px;
  font-family: Helvetica;
  border: 1px solid #657B99;
  border-radius: 5px;
  background: white; }

/* line 692, ../sass/connect.scss */
#toggleadd {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px; }

/* line 701, ../sass/connect.scss */
#toggleadd.group {
  display: block;
  background: url("../images/tmp/connect/folderDisable.png") no-repeat center center;
  background-size: contain; }

/* line 707, ../sass/connect.scss */
#toggleadd.user {
  display: block;
  background: url("../images/tmp/connect/contactDisable.png") no-repeat center center;
  background-size: contain; }

/* line 713, ../sass/connect.scss */
#toggleadd.group.pressed {
  background: url("../images/tmp/connect/folderActive.png") no-repeat center center;
  background-size: contain; }

/* line 718, ../sass/connect.scss */
#toggleadd.user.pressed {
  background: url("../images/tmp/connect/contactActive.png") no-repeat center center;
  background-size: contain; }

/* line 723, ../sass/connect.scss */
#addgroup .folderpic, #groupdetails .folderpic {
  float: left;
  width: 60px;
  height: 60px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/tmp/connect/graygroup.png"); }

/* line 733, ../sass/connect.scss */
#addgroup form, #groupdetails form {
  margin-left: 80px; }

/* line 737, ../sass/connect.scss */
#addgroup textarea.input, #groupdetails textarea.input {
  height: 80px;
  margin-top: 10px; }

/* line 742, ../sass/connect.scss */
#addgroup .groupcolors, #groupdetails .groupcolors {
  display: inline-block;
  padding-top: 10px; }

/* line 747, ../sass/connect.scss */
.groupcolors li {
  display: block;
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: white;
  text-align: center; }

/* line 759, ../sass/connect.scss */
.addgroupbtns {
  display: inline-block; }

/* line 763, ../sass/connect.scss */
#profile-content {
  padding: 20px; }

/* line 767, ../sass/connect.scss */
.addgrpcontacts .search {
  margin-top: 10px;
  width: 300px; }

/* line 772, ../sass/connect.scss */
.addgrpcontacts .autocontact {
  position: relative;
  margin-top: 10px; }

/* line 777, ../sass/connect.scss */
#addgroup .contactlist legend, #addgroup .addgrpcontacts legend, #groupdetails .contactlistdetail legend, #groupdetails .addgrpcontacts legend {
  background: url("../images/tmp/public/hide.png") no-repeat right center;
  background-size: 15px 15px; }

/* line 782, ../sass/connect.scss */
#addgroup legend.hide, #groupdetails legend.hide {
  background: url("../images/tmp/public/show.png") no-repeat right center;
  background-size: 15px 15px; }

/* line 787, ../sass/connect.scss */
#addgroup .contactlist li, #groupdetails .contactlistdetail li {
  border-top: none;
  width: 45%;
  margin-right: 10px;
  float: left;
  height: 65px;
  padding-bottom: 0px; }

/* line 796, ../sass/connect.scss */
#groupdetails .contactlistdetail {
  display: inline-block;
  width: 100%; }

/* line 801, ../sass/connect.scss */
#addgroup .errormsg, #groupdetails .errormsg {
  float: left;
  display: block;
  line-height: 40px;
  width: 400px;
  height: 40px;
  margin-left: 80px;
  font-style: italic;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold; }

/* line 814, ../sass/connect.scss */
#addgroup .remove-contact, #group-details .remove-contact {
  width: 20px;
  height: 20px;
  float: right;
  background: url("../images/tmp/connect/deleteBlue.png") no-repeat center center;
  background-size: contain;
  margin-top: -20px; }

/* line 823, ../sass/connect.scss */
#mtc-list {
  width: 301px;
  float: left;
  height: 748px;
  background: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 831, ../sass/connect.scss */
#mtc-list legend {
  font-family: Pacifico;
  color: #657B99;
  border-bottom: 1px solid #657B99;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 261px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px; }

/* line 842, ../sass/connect.scss */
#mtc-list input {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 226px; }

/* line 848, ../sass/connect.scss */
#mtc-list .selectcontact .rightcaret {
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 10px solid #808080;
  margin-right: 5px;
  float: right; }

/* line 856, ../sass/connect.scss */
#mtc-list .autocontact {
  float: right;
  margin-left: 321px;
  margin-top: -40px; }

/* line 862, ../sass/connect.scss */
#mtc-list .entercontact {
  width: 200px;
  hight: 30px;
  line-height: 30px;
  font-size: 12px; }

/* line 869, ../sass/connect.scss */
#connect-tc .twoqbuttons {
  margin: 20px 73px 0px 74px;
  height: 40px; }

/* line 874, ../sass/connect.scss */
#connect-tc .twoqbuttons li {
  width: 50px;
  height: 30px;
  float: left;
  border: 1px solid #cccccc; }

/* line 880, ../sass/connect.scss */
#connect-tc .twoqbuttons li.pushed {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6); }

/* line 884, ../sass/connect.scss */
#connect-tc .twoqbuttons li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none; }

/* line 890, ../sass/connect.scss */
#connect-tc .twoqbuttons li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none; }

/* line 896, ../sass/connect.scss */
#connect-tc .twoqbuttons li.mytwoq {
  background: url("../images/tmp/connect/2questiondisabled.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 901, ../sass/connect.scss */
#connect-tc .twoqbuttons li.contacttwoq {
  background: url("../images/tmp/connect/contactDisable.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 906, ../sass/connect.scss */
#connect-tc .twoqbuttons li.mytwoc {
  background: url("../images/tmp/connect/twocent.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 911, ../sass/connect.scss */
#connect-tc .twoqbuttons li.mytwoq.pushed {
  background: #4d4d4d url("../images/tmp/connect/2questionactive.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 916, ../sass/connect.scss */
#connect-tc .twoqbuttons li.contacttwoq.pushed {
  background: #4d4d4d url("../images/tmp/connect/contactActive.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 921, ../sass/connect.scss */
#connect-tc .twoqbuttons li.mytwoc.pushed {
  background: #4d4d4d url("../images/tmp/connect/twocentactive.png") no-repeat center center;
  background-size: 35px 35px; }

/* line 926, ../sass/connect.scss */
.twocent-detail .detail-header {
  height: 120px; }

/* line 930, ../sass/connect.scss */
.twocent-detail p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 75px; }

/* line 936, ../sass/connect.scss */
.twocent-detail .detail-footer {
  padding: 10px 40px 10px 30px;
  height: 40px; }

/* line 941, ../sass/connect.scss */
.twocent-detail .tcbutton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  background: url("../images/tmp/connect/twocent.png") no-repeat center center;
  background-size: contain; }

/* line 950, ../sass/connect.scss */
.twocent-detail .tcbutton.pressed {
  background: url("../images/tmp/connect/twocentactive.png") no-repeat center center;
  background-size: contain; }

/* line 955, ../sass/connect.scss */
.twocent-detail .tcreplies {
  height: 40px;
  line-height: 40px;
  float: right;
  font-size: 12px; }
