/* line 1, ../sass/dashboard.scss */
#dashboard-profile, #dashboard-settings, #dashboard-about {
  background: white;
  margin-left: 93px;
  width: 100%;
  height: 748px; }

/* line 8, ../sass/dashboard.scss */
#dashboard-profile .leftprofile, #dashboard-profile .rightprofile {
  height: 692px;
  overflow-y: scroll;
  position: absolute }

/* line 14, ../sass/dashboard.scss */
#dashboard-profile .leftprofile {
  width: 578px; }

/* line 18, ../sass/dashboard.scss */
#dashboard-profile .rightprofile {
  width: 293px;
  left: 710px; top: 60px; }

/* line 23, ../sass/dashboard.scss */
.userdetails h2 {
  font-family: Pacifico;
  text-align: center;
  margin: -20px 15px -20px 0; }

/* line 29, ../sass/dashboard.scss */
.userdetails blockquote {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  color: #808080;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 18px; }

/* line 38, ../sass/dashboard.scss */
.userdetails, .edituserdetails, .mystats, .recentactivity {
  width: 536px;
  padding: 20px;
  border: 1px dashed #cccccc;
  border-radius: 5px;
  margin-bottom: 20px; }

/* line 46, ../sass/dashboard.scss */
.userscore, .userachievements {
  border: 1px dashed #cccccc;
  border-radius: 5px;
  margin-top: 20px; }

/* line 52, ../sass/dashboard.scss */
.userdetails .editbtn {
  float: right;
  width: 20px;
  height: 20px;
  background: url("../images/tmp/wall/lastModified14-01.png") no-repeat center center;
  background-size: contain;
  margin-top: -10px;
  margin-right: -5px; }

/* line 62, ../sass/dashboard.scss */
.userdetails .cd-picarea {
  padding: 0;
  width: 100%; }

/* line 67, ../sass/dashboard.scss */
.userdetails .cardpicture {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 32px; }

/* line 74, ../sass/dashboard.scss */
.userdetails .cardinfo {
  width: 441px; }

/* line 78, ../sass/dashboard.scss */
.userdetails .cd-contentarea {
  padding: 0;
  width: auto;
  height: auto;
  margin-top: 15px; }

/* line 85, ../sass/dashboard.scss */
.userdetails .cd-contentarea p {
  border-top: 1px solid #657b99;
  font-size: 12px; }

/* line 90, ../sass/dashboard.scss */
.userdetails .cd-contentarea p.fb, .userdetails .cd-contentarea p.gp, .userdetails .cd-contentarea p.tw, .userdetails .cd-contentarea p.lin {
  border-top: none;
  padding-left: 25px; }

/* line 95, ../sass/dashboard.scss */
.userdetails .cd-contentarea p.fb {
  border-top: 1px solid #657b99;
  background: url("../images/tmp/profile/fb.png") no-repeat;
  background-size: contain; }

/* line 101, ../sass/dashboard.scss */
.userdetails .cd-contentarea p.gp {
  background: url("../images/tmp/profile/google.png") no-repeat;
  background-size: contain; }

/* line 106, ../sass/dashboard.scss */
.userdetails .cd-contentarea p.tw {
  background: url("../images/tmp/profile/twitter.png") no-repeat;
  background-size: contain; }

/* line 111, ../sass/dashboard.scss */
.userdetails .cd-contentarea p.lin {
  background: url("../images/tmp/profile/linkedin.png") no-repeat;
  background-size: contain; }

/* line 116, ../sass/dashboard.scss */
.userdetails .contentTitle {
  color: #657B99; }

/* line 120, ../sass/dashboard.scss */
.userdetails .cd-introlbl {
  background-image: url("../images/tmp/decks/lastModified14-01.png"); }

/* line 124, ../sass/dashboard.scss */
.userdetails legend, .edituserdetails .addtlinfo legend {
  border-bottom: 1px solid #657b99; }

/* line 129, ../sass/dashboard.scss */
.edituserdetails .socialnw li {
  float: left;
  padding-left: 48px;
  width: 220px;
  background-size: 35px;
  background-position: left 0px;
  background-repeat: no-repeat; }

/* line 138, ../sass/dashboard.scss */
.socialnw li.fb {
  background-image: url("../images/tmp/profile/fb.png"); }

/* line 142, ../sass/dashboard.scss */
.socialnw li.gp {
  background-image: url("../images/tmp/profile/google.png"); }

/* line 146, ../sass/dashboard.scss */
.socialnw li.lin {
  background-image: url("../images/tmp/profile/linkedin.png"); }

/* line 150, ../sass/dashboard.scss */
.socialnw li.tw {
  background-image: url("../images/tmp/profile/twitter.png"); }

/* line 154, ../sass/dashboard.scss */
.edituserdetails .socialnw input {
  width: 225px;
  font-size: 12px; }

/* line 159, ../sass/dashboard.scss */
.completionbar {
  margin-top: 10px;
  display: block;
  width: 540px;
  height: 20px;
  border-radius: 5px;
  background-image: url("../images/tmp/bg2.png");
  background-size: cover;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 170, ../sass/dashboard.scss */
.innerbar {
  background: green;
  display: inline-block;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

/* line 179, ../sass/dashboard.scss */
.mystats legend, .recentactivity legend, .edituserdetails .addtlinfo legend, #contactdetails legend {
  font-family: Pacifico;
  color: #657B99; }

/* line 184, ../sass/dashboard.scss */
li.innerbar {
  float: left;
  border-radius: 0px; }

/* line 189, ../sass/dashboard.scss */
.mystats table {
  width: 100%;
  border-spacing: 0px;
  margin-top: 10px; }

/* line 195, ../sass/dashboard.scss */
.mystats th, .mystats td, .contactstats th, .contactstats td {
  border-bottom: 2px solid #657b99; }

/* line 199, ../sass/dashboard.scss */
.mystats th, .contactstats th {
  width: 90%;
  text-align: left;
  font-family: Pacifico;
  font-size: 12px; }

/* line 206, ../sass/dashboard.scss */
.mystats td, .contactstats td {
  width: 10%;
  text-align: right;
  font-family: Helvetica;
  font-size: 12px; }

/* line 213, ../sass/dashboard.scss */
.myids th {
  color: #657B99; }

/* line 217, ../sass/dashboard.scss */
li.myids {
  background: #657B99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

/* line 223, ../sass/dashboard.scss */
.myss th {
  color: #9ac9cd; }

/* line 227, ../sass/dashboard.scss */
li.myss {
  background: #9ac9cd; }

/* line 231, ../sass/dashboard.scss */
.myctcts th {
  color: #e3d71e; }

/* line 235, ../sass/dashboard.scss */
li.myctcts {
  background: #e3d71e; }

/* line 239, ../sass/dashboard.scss */
.my2q th {
  color: #f27b3d; }

/* line 243, ../sass/dashboard.scss */
li.my2q {
  background: #f27b3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 249, ../sass/dashboard.scss */
.my2q th, .my2q td {
  border-bottom: none; }

/* line 253, ../sass/dashboard.scss */
.recentactivity {
  padding: 20px; }

/* line 257, ../sass/dashboard.scss */
.recentactivity ul {
  width: 100%;
  margin-top: 20px; }

/* line 262, ../sass/dashboard.scss */
.recentactivity li {
  min-height: 56px;
  display: table-row; }

/* line 267, ../sass/dashboard.scss */
.recentactivity li:nth-child(odd) {
  background: #F2F2F2; }

/* line 271, ../sass/dashboard.scss */
.recentactivity li > div, .recentactivity li > p {
  /*float: left;*/
  display: table-cell;
  vertical-align: middle; }

/* line 277, ../sass/dashboard.scss */
.newsdate {
  font-family: Helvetica;
  font-size: 14px;
  color: #808080;
  text-align: center;
  width: 112px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #cccccc; }

/* line 287, ../sass/dashboard.scss */
.newstype {
  display: inline-block;
  height: 56px;
  width: 56px;
  background: blue; }

/* line 294, ../sass/dashboard.scss */
.newstext {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  display: table-cell;
  width: 356px; }

/* line 302, ../sass/dashboard.scss */
.newsinfo {
  font-family: Pacifico;
  color: black; }

/* line 307, ../sass/dashboard.scss */
.infoslider {
  -webkit-appearance: none;
  position: absolute;
  top: 56px;
  right: 97px;
  margin-left: 77px;
  width: 140px;
  height: 30px;
  border-radius: 15px;
  background: #9AC9CD;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 320, ../sass/dashboard.scss */
.infoslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 200;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #d4d4d4 80%);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }

/* line 330, ../sass/dashboard.scss */
.slidertext {
  position: absolute;
  width: 140px;
  top: 56px;
  line-height: 30px;
  right: 97px;
  color: white;
  font-family: Pacifico;
  text-align: center; }

/* line 341, ../sass/dashboard.scss */
.userscore .ip {
  font-size: 20px; }

/* line 345, ../sass/dashboard.scss */
.userscore {
  height: 70px;
  margin-top: 50px;
  background-image: url("../images/tmp/brainstorm/yourScore40.png");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 40px;
  font-size: 14px;
  padding-left: 65px;
  font-family: pacifico;
  color: #657B99;
  line-height: 70px; }

/* line 359, ../sass/dashboard.scss */
.userachievements {
  background: #F2F2F2;
  padding: 20px;
  font-family: Pacifico;
  font-size: 14px;
  display: table-cell; }

/* line 367, ../sass/dashboard.scss */
.userachievements .grade {
  color: #657B99;
  font-size: 16px; }

/* line 372, ../sass/dashboard.scss */
.userachievements .badges, #contactbadges .badges {
  display: inline;
  height: 125px; }

/* line 377, ../sass/dashboard.scss */
.userachievements .badge, .contactbadge {
  float: left;
  text-align: center;
  width: 83px; }

/* line 383, ../sass/dashboard.scss */
.userachievements .badge div {
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto; }

/* line 390, ../sass/dashboard.scss */
.userachievements .badge legend, .contactbadge label {
  width: 60px;
  margin: 0 auto;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  line-height: 100%; }

/* line 398, ../sass/dashboard.scss */
#leaderboard {
  padding-left: 20px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll; }

/* line 404, ../sass/dashboard.scss */
#leaderboard ul {
  margin-top: 75px;
  width: 891px; }

/* line 409, ../sass/dashboard.scss */
#leaderboard li:nth-child(odd) {
  background: #F2F2F2; }

/* line 413, ../sass/dashboard.scss */
#leaderboard li {
  height: 60px; }

/* line 417, ../sass/dashboard.scss */
#leaderboard li > div {
  float: left; }

/* line 421, ../sass/dashboard.scss */
#leaderboard .avatar {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  background-size: cover; }

/* line 431, ../sass/dashboard.scss */
#leaderboard .username {
  color: #292929;
  font-size: 16px;
  font-family: Pacifico;
  line-height: 60px;
  margin-left: 5px;
  width: 583px;
  border-right: 1px solid #CCCCCC; }

/* line 441, ../sass/dashboard.scss */
#leaderboard .grade, #leaderboard .distinction {
  width: 60px;
  height: 60px; }

/* line 446, ../sass/dashboard.scss */
#leaderboard .score {
  font-family: Pacifico;
  font-size: 21px;
  text-align: center;
  line-height: 60px;
  width: 120px;
  border-left: 1px solid #cccccc; }

/* line 455, ../sass/dashboard.scss */
.edituserdetails .setavatar {
  float: left;
  height: 671px;
  width: 110px;
  display: block; }

/* line 462, ../sass/dashboard.scss */
.edituserdetails .currentavatar {
  width: 80px;
  height: 80px;
  border-radius: 40px; }

/* line 468, ../sass/dashboard.scss */
.edituserdetails .profileinfo {
  height: 671px;
  width: 426px;
  display: block;
  float: left; }

/* line 475, ../sass/dashboard.scss */
.edituserdetails label {
  color: #292929;
  font-family: Helvetica;
  font-size: 14px; }

/* line 481, ../sass/dashboard.scss */
.edituserdetails .input {
  height: 30px;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #666666;
  font-family: Helvetica;
  font-size: 14px; }

/* line 490, ../sass/dashboard.scss */
.edituserdetails .firstname, .edituserdetails .lastname, .edituserdetails .city, .edituserdetails .zipstate {
  width: 208px;
  float: left; }

/* line 495, ../sass/dashboard.scss */
.edituserdetails .firstname, .edituserdetails .city {
  padding-right: 5px; }

/* line 499, ../sass/dashboard.scss */
.edituserdetails .lastname, .edituserdetails .zipstate {
  padding-left: 5px; }

/* line 503, ../sass/dashboard.scss */
.edituserdetails .state {
  float: left;
  width: 58px;
  margin-right: 10px; }

/* line 509, ../sass/dashboard.scss */
.edituserdetails .zip {
  float: left;
  width: 140px; }

/* line 514, ../sass/dashboard.scss */
.edituserdetails .dob {
  margin-top: 3px;
  margin-bottom: 5px; }

/* line 519, ../sass/dashboard.scss */
.edituserdetails .dob input, .edituserdetails .dob select, .edituserdetails .family select, .edituserdetails .job select, #dashboard-settings select {
  height: 30px;
  border-radius: 5px;
  line-height: 28px;
  padding: 0px;
  border: 1px solid #CCC;
  text-align: center;
  color: #292929;
  font-family: Helvetica;
  font-size: 14px; }

/* line 531, ../sass/dashboard.scss */
.edituserdetails .dob .day {
  width: 40px;
  margin-right: 10px; }

/* line 536, ../sass/dashboard.scss */
.edituserdetails .dob select, .edituserdetails .family select, .edituserdetails .job select, #dashboard-settings select {
  -webkit-appearance: none;
  text-align: center;
  width: 120px;
  padding-left: 5px;
  padding-right: 30px;
  margin-right: 10px;
  background: url("../images/tmp/profile/buttonMinSeeMoreDisable.png") no-repeat right center;
  background-size: 30px 30px; }

/* line 547, ../sass/dashboard.scss */
.edituserdetails .dob .year {
  width: 60px; }

/* line 551, ../sass/dashboard.scss */
.edituserdetails .family, .edituserdetails .job select {
  margin-top: 3px;
  margin-bottom: 5px; }

/* line 556, ../sass/dashboard.scss */
.edituserdetails .family select.status {
  width: 180px;
  margin-bottom: 5px; }

/* line 561, ../sass/dashboard.scss */
.edituserdetails .family select.children {
  width: 50px;
  margin-bottom: 5px; }

/* line 566, ../sass/dashboard.scss */
.edituserdetails .addtlinfo label {
  display: block;
  float: left;
  margin-bottom: 3px; }

/* line 572, ../sass/dashboard.scss */
.edituserdetails .addtlinfo input, .edituserdetails .addtlinfo label {
  width: 200px; }

/* line 576, ../sass/dashboard.scss */
.edituserdetails .addtlinfo input.description, .edituserdetails .addtlinfo label.description {
  width: 326px;
  margin-left: 10px; }

/* line 581, ../sass/dashboard.scss */
.edituserdetails .addtlinfo legend {
  margin-bottom: 5px; }

/* line 585, ../sass/dashboard.scss */
.edituserdetails .importbutton {
  margin: 10px 0; }

/* line 589, ../sass/dashboard.scss */
.edituserdetails .importbutton div {
  line-height: 15px;
  margin-left: 0px;
  width: 70px;
  text-align: center;
  font-size: 12px; }

/* line 597, ../sass/dashboard.scss */
.edituserdetails .defaultAvatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px; }

/* line 604, ../sass/dashboard.scss */
.edituserdetails .avatarcache {
  width: 80px;
  height: 80px;
  background: url("../images/tmp/brainstorm/reload.png") no-repeat center center;
  background-size: contain;
  margin-top: -84px;
  border-radius: 40px;
  opacity: 0.6; }

/* line 614, ../sass/dashboard.scss */
#changeavatar p {
  font-size: 12px;
  color: #292929;
  text-align: center;
  width: 60px;
  padding: 10px; }

/* line 622, ../sass/dashboard.scss */
#changeavatar .checkbox {
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cccccc;
  margin: 10px;
  line-height: 18px;
  color: #5F8F28;
  text-align: center;
  font-size: 14px;
  font-weight: bold; }

/* line 635, ../sass/dashboard.scss */
#changeavatar .defaultlist div {
  float: left; }

/* line 639, ../sass/dashboard.scss */
#changeavatar .uploadprogress {
  float: none;
  height: 15px;
  background: #657B99;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  border-radius: 3px;
  font-size: smaller;
  line-height: 15px;
  color: white;
  text-align: center; }

/* line 653, ../sass/dashboard.scss */
#rotate {
  width: 20px;
  height: 15px;
  background: url("../images/tmp/profile/rotate.png") no-repeat center center;
  background-size: contain;
  float: right;
  margin-right: 15px;
  margin-top: -80px; }

/* line 663, ../sass/dashboard.scss */
.comingsoon {
  color: gray;
  font-family: Pacifico;
  font-size: 48px;
  display: table-cell;
  width: 630px;
  height: 748px;
  text-align: center;
  vertical-align: middle; }

/* line 674, ../sass/dashboard.scss */
.settingscontent {
  width: 891px;
  height: 672px;
  padding: 20px;
  overflow-y: scroll; }

/* line 681, ../sass/dashboard.scss */
.settingmodule {
  margin-bottom: 20px;
  padding: 20px;
  min-height: 260px;
  background: #f2f2f2;
  border: 1px dashed #cccccc;
  border-radius: 5px; }

/* line 690, ../sass/dashboard.scss */
#dashboard-about .progressbar {
  position: relative;
  margin-bottom: 30px; }

/* line 695, ../sass/dashboard.scss */
#dashboard-about .aboutcontent {
  padding: 20px;
  margin: 20px;
  border: 1px solid #657b99;
  border-radius: 5px;
  width: 851px;
  height: 530px;
  overflow-y: scroll; }

/* line 705, ../sass/dashboard.scss */
.aboutcontent textarea {
  height: 300px;
  margin-bottom: 15px; }

/* line 710, ../sass/dashboard.scss */
.aboutcontent legend:first-child {
  margin-top: 0px; }

/* line 714, ../sass/dashboard.scss */
.aboutcontent legend {
  padding: 0px; }

/* line 718, ../sass/dashboard.scss */
.aboutcontent a {
  text-decoration: underline; }

/* line 722, ../sass/dashboard.scss */
#dashboard-about .aboutcontent legend.support {
  border: none; }

/* line 726, ../sass/dashboard.scss */
.aboutcontent p, .aboutcontent ul {
  line-height: 25px;
  font-size: 18px;
  font-family: Helvetica;
  text-align: justify;
  color: #404040;
  margin-top: 10px; }

/* line 735, ../sass/dashboard.scss */
.aboutcontent .contributor {
  width: 150px;
  display: inline-block; }

/* line 740, ../sass/dashboard.scss */
.aboutcontent .contribution {
  font-family: Pacifico;
  font-size: 16px;
  color: #808080; }

/* line 746, ../sass/dashboard.scss */
.settingmodule ul {
  font-family: Helvetica;
  color: #404040;
  font-size: 14px;
  margin-top: 5px; }

/* line 753, ../sass/dashboard.scss */
.settingmodule li {
  padding: 10px 20px;
  display: inline-table;
  width: 100%; }

/* line 759, ../sass/dashboard.scss */
.settingmodule li > span {
  vertical-align: middle; }

/* line 763, ../sass/dashboard.scss */
.settingmodule li:nth-child(odd) {
  background: white; }

/* line 767, ../sass/dashboard.scss */
.settingmodule input.input {
  width: 215px;
  height: 30px;
  line-height: 30px;
  margin-left: 15px; }

/* line 774, ../sass/dashboard.scss */
.settingmodule .changeok {
  margin-left: 15px;
  font-size: 24px;
  color: #5F8F28; }

/* line 780, ../sass/dashboard.scss */
.settingmodule .next-button {
  float: right;
  margin-right: 50px;
  width: 70px;
  vertical-align: middle; }

/* line 787, ../sass/dashboard.scss */
#dashboard-settings .settingmodule select {
  float: right;
  margin-right: 50px; }

/* line 792, ../sass/dashboard.scss */
.settingmodule option {
  text-align: center; }

/* line 796, ../sass/dashboard.scss */
#dashboard-settings .startupscreen select {
  width: 250px; }

/* line 800, ../sass/dashboard.scss */
.settingmodule li:nth-child(even) {
  background: #e3e3e3; }

/* line 804, ../sass/dashboard.scss */
.videocontent {
  text-align: center; }

/* line 808, ../sass/dashboard.scss */
.videocontent video {
  margin-top: 20px; }

/* line 812, ../sass/dashboard.scss */  
#userguidetoc li{
    margin-left: 20px;
    text-decoration: underline;
    color: #657B99;}

/* line 817, ../sass/dashboard.scss */
.aboutcontent .backtotop{
    float:right;
    color: #AEB9BF;
    font-size: 12px;
    text-decoration: underline;}

/* line 823, ../sass/dashboard.scss */
p.p1 {margin: 0; font-size: 14px}
p.p2 {margin: 0; font-size: 14px; min-height: 15px}
p.p3 {margin: 0; text-align: justify; font-size: 18px}
p.p4 {margin: 0; text-align: justify; font-size: 14.0px; min-height: 17.0px}
p.p5 {margin: 0; font-size: 14px; min-height: 17.0px}
p.p7 {margin: 0; text-align: justify; font-size: 14.0px; color: #021eaa}
li.li3 {margin: 10px 0; text-align: justify; font-size: 14.0px}
li.li6 {margin: 5px 0; line-height: 15.0px; font-size: 14.0px}
span.s1 {letter-spacing: 0px}
span.s3 {text-decoration: underline ; letter-spacing: 0.0px}
ol.ol1 {list-style-type: lower-alpha}
ol.ol2 {list-style-type: lower-roman}
ol.ol3 {list-style-type: decimal}
