/* LIBRARY */
/*ideas*/
/*sessions*/
/* line 5, ../sass/library.scss */
#session-list {
  width: 931px; }

/* line 9, ../sass/library.scss */
.session-sorting {
  margin-left: 20px;
  height: 65px;
  border-bottom: 1px solid #CCCCCC; }

/* line 15, ../sass/library.scss */
.session-tools .search {
  width: 400px;
  margin: 15px 0px 0px 265px; }

/* line 21, ../sass/library.scss */
#sessionsearchresult {
  height: 15px;
  margin-left: 30px;
  font-size: 10px;
  font-style: italic; }

/* line 28, ../sass/library.scss */
.sort-button {
  border-radius: 5px;
  font-size: 14px;
  color: #B3B3B3;
  text-align: center;
  border: 1px solid #E6E6E6;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-top: 17px;
  margin-bottom: 15px; }

/* line 41, ../sass/library.scss */
.selectsort {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  background: #666666; }

/* line 46, ../sass/library.scss */
.sort-caret {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  margin-top: 10px;
  height: 0;
  width: 0;
  float: right;
  margin-right: 10px; }

/* line 57, ../sass/library.scss */
.sort-ascending {
  border-bottom: 10px solid #B3B3B3;
  border-top: none; }

/* line 62, ../sass/library.scss */
.sort-descending {
  border-bottom: none;
  border-top: 10px solid #B3B3B3; }

/* line 67, ../sass/library.scss */
.selectsort .sort-ascending {
  border-bottom: 10px solid white; }

/* line 71, ../sass/library.scss */
.selectsort .sort-descending {
  border-top: 10px solid white; }

/* line 75, ../sass/library.scss */
#sbytitle {
  width: 110px;
  margin-left: 10px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

/* line 84, ../sass/library.scss */
#sbydate {
  width: 70px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

/* line 90, ../sass/library.scss */
#sbyidea {
  margin-left: 25px;
  width: 95px; }

/* line 95, ../sass/library.scss */
#sbyscore {
  width: 85px;
  margin-left: 465px; }

/* line 100, ../sass/library.scss */
.session-details {
  width: 931px;
  height: 600px;
  overflow-y: scroll; }

/* line 106, ../sass/library.scss */
.session-details ul {
  list-style: none;
  overflow-y: scroll; }

/* line 111, ../sass/library.scss */
.session-item table {
  width: 931px;
  font-size: 14px;
  border-spacing: 0px;
  border: none; }

/*ALL ACTION BARS HERE */
/* line 120, ../sass/library.scss */
#sessions .session-item .actionbar {
  display: none;
  width: 931px;
  text-align: center;
  margin-left: 0px;
  background-image: -webkit-linear-gradient(bottom, #292929, #404040);
  -webkit-box-shadow: 0 1px 0 white, inset 0 0 5px 1px rgba(0, 0, 0, 0.8);
  padding: 0px; }

/* line 130, ../sass/library.scss */
.list .actionbar {
  pointer-events: all;
  float: left;
  margin-left: -20px;
  z-index: 300;
  width: 301px;
  text-align: center;
  background-image: -webkit-linear-gradient(bottom, #404040, #606060);
  -webkit-box-shadow: 0 1px black, inset 0 0 5px 1px rgba(0, 0, 0, 0.8);
  position: relative; }

/* line 142, ../sass/library.scss */
.list .actionbar .buttonlist {
  height: 40px;
  padding: 5px;
  display: inline-block;
  text-align: center; }

/* line 149, ../sass/library.scss */
.buttonlist .actionbutton {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-size: contain;
  background-position: center center; }

/* line 160, ../sass/library.scss */
.actionbar .replaysession, .actionbar .deletesession {
  display: inline-block;
  width: 70px;
  height: 61px;
  background-size: 40px 40px; }

/* line 167, ../sass/library.scss */
.actionbar .replaysession {
  background: url("../images/tmp/library/25goToSession.png") no-repeat center center; }

/* line 171, ../sass/library.scss */
.actionbar .deletesession {
  background: url("../images/tmp/library/25delete.png") no-repeat center center; }

/* -- removed - doesn't look good as outline shows
.replaysession.active{
    background: url('../images/tmp/library/25goToSessionActive.png') no-repeat center center;     
}

.deletesession.active{
    background: url('../images/tmp/library/25deleteActive.png') no-repeat center center;     
}
*/
/* line 185, ../sass/library.scss */
.session-item:nth-child(odd) {
  background: #F2F2F2; }

/* line 189, ../sass/library.scss */
.session-item tr, .session-item td, .boxscore {
  padding: 0px;
  height: 61px; }

/* line 194, ../sass/library.scss */
.session-type {
  width: 70px;
  background: url("../images/tmp/library/sessionQuick.png") no-repeat center center;
  background-size: 40px 40px; }

/* line 200, ../sass/library.scss */
.session-item td.session-info {
  width: 150px;
  border-right: 1px solid #CCCCCC;
  text-align: left;
  overflow-x: hidden;
  padding-right: 2px;
  font-size: 12px; }

/* line 209, ../sass/library.scss */
.session-item td.session-date {
  color: #808080;
  font-style: italic; }

/* line 214, ../sass/library.scss */
.session-item td.session-idea {
  height: 61px;
  text-align: left;
  padding-left: 10px;
  width: 220px;
  font-family: Pacifico; }

/* line 222, ../sass/library.scss */
.session-item .avatarlist ul {
  text-align: right;
  width: 186px;
  max-height: 61px; }

/* line 228, ../sass/library.scss */
.avatarlist li {
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* line 240, ../sass/library.scss */
.session-status {
  width: 144px;
  font-style: italic;
  color: #F27B3D;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  text-align: center; }

/* line 249, ../sass/library.scss */
.session-score {
  width: 145px;
  color: #666666;
  font-family: Pacifico;
  text-align: center; }

/* line 256, ../sass/library.scss */
.session-score .points {
  font-size: 21px; }

/*decks*/
/* line 261, ../sass/library.scss */
#decklist .item-footer {
  display: inline-block;
  width: 100%;
  line-height: 30px; }

/* line 267, ../sass/library.scss */
#decklist .item-footer label, #decklist .item-footer .author, #decklist .item-footer span.date {
  color: #808080;
  font-size: 12px; }

/* line 272, ../sass/library.scss */
#decklist .item-footer label {
  float: left;
  margin-right: 10px;
  font-style: italic; }

/* line 278, ../sass/library.scss */
#decklist .item-footer .author {
  display: inline-block;
  color: #657b99;
  font-weight: bold;
  height: 30px;
  min-width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left; }

/* line 289, ../sass/library.scss */
#decklist .item-footer .date {
  float: right; }

/* line 293, ../sass/library.scss */
#deckview .card-menu {
  height: 100px;
  padding: 20px;
  text-align: center; }

/* line 299, ../sass/library.scss */
#deckview .card-menu li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px; }

/* line 308, ../sass/library.scss */
#deckview .card-menu .characters {
  background: url("../images/tmp/decks/charactersactive.png") no-repeat center center;
  background-size: contain; }

/* line 313, ../sass/library.scss */
#deckview .card-menu .contexts {
  background: url("../images/tmp/decks/contextactive.png") no-repeat center center;
  background-size: contain; }

/* line 318, ../sass/library.scss */
#deckview .card-menu .problems {
  background: url("../images/tmp/decks/problemactive.png") no-repeat center center;
  background-size: contain; }

/* line 323, ../sass/library.scss */
#deckview .card-menu .techno {
  background: url("../images/tmp/decks/technology.png") no-repeat center center;
  background-size: contain; }

/* line 328, ../sass/library.scss */
#deckview .card-menu .characters.active {
  background: url("../images/tmp/decks/characters.png") no-repeat center center;
  background-size: contain; }

/* line 333, ../sass/library.scss */
#deckview .card-menu .contexts.active {
  background: url("../images/tmp/decks/context.png") no-repeat center center;
  background-size: contain; }

/* line 338, ../sass/library.scss */
#deckview .card-menu .problems.active {
  background: url("../images/tmp/decks/problem.png") no-repeat center center;
  background-size: contain; }

/* line 343, ../sass/library.scss */
#deckview .card-menu .techno.active {
  background: url("../images/tmp/decks/technologyactive.png") no-repeat center center;
  background-size: contain; }

/* line 348, ../sass/library.scss */
#deckview .cardlist, #deckview .deckdetails {
  width: 100%;
  height: 608px;
  background-image: url("../images/tmp/library/bgdeck.jpg");
  background-size: cover;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 357, ../sass/library.scss */
#deckview .cardlist .cardpage {
  width: 100%;
  height: 100%; }

/* line 362, ../sass/library.scss */
#deckview .cardlist .pagenb {
  position: absolute;
  margin-top: -10px;
  width: 150px;
  height: 20px;
  line-height: 20px;
  color: #404040;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  display: inline-block;
  margin-left: 225px; }

/* line 376, ../sass/library.scss */
#deckview .cardlist .pagenb .leftcaret {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #808080;
  float: left; }

/* line 383, ../sass/library.scss */
#deckview .cardlist .pagenb .rightcaret {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #808080;
  float: right; }

/* line 391, ../sass/library.scss */
#deckview .cardlist .card {
  background: white;
  margin: 20px; }

/* line 396, ../sass/library.scss */
#deckview .deckdetails {
  background: none;
  padding: 0;
  font-family: Helvetica;
  -webkit-box-shadow: none; }

/* line 403, ../sass/library.scss */
#deckview .deckinfo {
  padding: 25px 40px 50px 20px;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5); }

/* line 409, ../sass/library.scss */
#deckview .deckheader {
  padding: 12px;
  background: transparent; }

/* line 414, ../sass/library.scss */
#deckview .deckheader span {
  font-size: 0px 20px; }

/* line 418, ../sass/library.scss */
#deckview .deckheader .decklogo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
  background-size: contain;
  margin-right: 20px; }

/* line 427, ../sass/library.scss */
#deckview .deckdescription {
  height: 118px;
  border-top: 1px solid #CCC;
  padding: 12px 0px;
  font-size: 12px;
  text-align: justify; }

/* line 435, ../sass/library.scss */
#deckview .deckcarousel {
  height: 303px;
  z-index: 0;
  background: #555555;
  -webkit-box-shadow: inset 0 1px 10px 1px rgba(0, 0, 0, 0.8);
  text-align: center; }

/* line 443, ../sass/library.scss */
#deckview .innercarousel {
  height: 303px;
  width: 100%;
  z-index: 200;
  background: -webkit-linear-gradient(left, #333333 0%, transparent 25%, transparent 75%, #333333 100%);
  position: absolute;
  pointer-events: none; }

/* line 452, ../sass/library.scss */
#deckview .deckcarousel ul {
  margin-top: 55px;
  display: inline-block; }

/* line 457, ../sass/library.scss */
#deckview .deckcarousel li {
  margin: 0px 8px 0px 8px;
  float: left;
  width: 107px;
  height: 155px;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.3))); }

/* line 465, ../sass/library.scss */
#deckview .deckcarousel li:last-child, #deckview .deckcarousel li:first-child {
  -webkit-transform: scale(0.7);
  margin: 0px; }

/* line 470, ../sass/library.scss */
#deckview .deckcarousel ul li:nth-child(2), #deckview .deckcarousel ul li:nth-child(4) {
  -webkit-transform: scale(0.8);
  margin: 0px 5px 0px 5px; }

/* line 475, ../sass/library.scss */
#deckview .deckcarousel .card {
  display: inline-block;
  float: left;
  z-index: 100;
  margin: 0px;
  height: inherit;
  width: inherit;
  -webkit-box-shadow: inset 0px 0px 3px #CCC;
  background: white;
  border-radius: 5px;
  text-align: center;
  background-size: 107px 155px; }

/* line 489, ../sass/library.scss */
#deckview .deckcarousel input {
  -webkit-appearance: none;
  bottom: 20px;
  left: 70px;
  width: 490px;
  height: 10px;
  border: 1px solid #999999;
  background: transparent;
  border-radius: 5px;
  z-index: 5000;
  position: absolute; }

/* line 502, ../sass/library.scss */
#deckview .deckcarousel input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgba(204, 204, 204, 0.3);
  height: 10px;
  border-radius: 5px;
  width: 50px;
  border: none; }

/* line 511, ../sass/library.scss */
#cardlist-popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0; }
