/* public */
/* line 3, ../sass/public.scss */
#public .list, #ideas .list {
  /*-webkit-transition: width 100ms ease-in;*/
  z-index: 1000; }

/* line 8, ../sass/public.scss */
.mosaic .list {
  /*-webkit-transition: width 100ms ease-in-out;*/
  width: 874px;
  background: white; }

/* line 14, ../sass/public.scss */
.mosaic .list ul {
  padding-top: 10px;
  background: url("../images/tmp/library/bgdeck.jpg");
  -webkit-box-shadow: inset 0px 5px 5px #ccc;
  background-size: cover; }

/* line 22, ../sass/public.scss */
.mosaic .tools {
  padding-bottom: 10px; }

/* line 26, ../sass/public.scss */
.mosaic .tools input {
  width: 300px; }

/* line 30, ../sass/public.scss */
.mosaic li:nth-child(7n) {
  border-left: 10px solid #657B99; }

/* line 34, ../sass/public.scss */
.mosaic li:nth-child(7n+1) {
  border-left: 10px solid #F27B3D; }

/* line 38, ../sass/public.scss */
.mosaic li:nth-child(7n+2) {
  border-left: 10px solid #9AC9CD; }

/* line 42, ../sass/public.scss */
.mosaic li:nth-child(7n+3) {
  border-left: 10px solid #4D4D4D; }

/* line 46, ../sass/public.scss */
.mosaic li:nth-child(7n+4) {
  border-left: 10px solid #F2E520; }

/* line 50, ../sass/public.scss */
.mosaic li:nth-child(7n+5) {
  border-left: 10px solid #BD262C; }

/* line 54, ../sass/public.scss */
.mosaic li:nth-child(7n+6) {
  border-left: 10px solid #5F8F28; }

/* line 58, ../sass/public.scss */
.mosaic .list-item {
  display: block;
  width: 170px;
  padding: 5px 10px;
  float: left;
  height: 180px;
  margin: 9px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: inset 0px 0px 10px #CCCCCC; }

/* line 70, ../sass/public.scss */
.mosaic .list-item span.date {
  float: none;
  display: block; }

/* line 75, ../sass/public.scss */
.mosaic .item-body {
  height: 108px;
  overflow-y: scroll; }

/* line 80, ../sass/public.scss */
.mosaic .list-item h3 {
  padding-top: 0px;
  letter-spacing: 0px; }

/* line 85, ../sass/public.scss */
.mosaic .item-header {
  height: 40px;
  overflow: hidden; }

/* line 90, ../sass/public.scss */
.mosaic .item-body p {
  margin-top: 10px;
  height: 83px;
  overflow-y: scroll; }

/* line 96, ../sass/public.scss */
.mosaic .item-footer {
  float: left;
  margin-top: 5px;
  width: 100%; }

/*#public .option {

}*/
/* line 105, ../sass/public.scss */
#public-list .search, #idea-list .search {
  float: left; }

/* line 109, ../sass/public.scss */
#public-list .tools-button, #ideas-list .tools-button {
  display: inline-block;
  float: left;
  width: 32px;
  height: 23px;
  border: 1px solid #CCCCCC;
  background: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 121, ../sass/public.scss */
#public-list .tools-button.bydate, #ideas-list .tools-button.bydate {
  margin-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url("../images/tmp/public/byDateDisable.png"); }

/* line 128, ../sass/public.scss */
#public-list .tools-button.byrating, #ideas-list .tools-button.byrating {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background-image: url("../images/tmp/public/byRatingDisable.png"); }

/* line 135, ../sass/public.scss */
#public-list .tools-button.bydate.pushed, #ideas-list .tools-button.bydate.pushed {
  background-image: url("../images/tmp/public/byDateActive.png"); }

/* line 139, ../sass/public.scss */
#public-list .tools-button.byrating.pushed, #ideas-list .tools-button.byrating.pushed {
  background-image: url("../images/tmp/public/byRatingActive.png"); }

/* line 144, ../sass/public.scss */
#public-list .option.right, #idea-list .option.right, #connect-messages .option.right, #connect-contacts .option.right, #mtc-list .option.right {
  background: url("../images/tmp/public/plus2.png") no-repeat center center;
  background-size: 20px; }

/* line 149, ../sass/public.scss */
#public-list .option.left, #idea-list .option.left {
  background: url("../images/tmp/public/mosaicenabled.png") no-repeat center center;
  background-size: 30px 30px; }

/* line 154, ../sass/public.scss */
#public-list .option.left.mosaic, #idea-list .option.left.mosaic {
  background: url("../images/tmp/public/listenabled.png") no-repeat center center;
  background-size: 30px 30px; }

/* public details */
/* line 160, ../sass/public.scss */
#public-detail, #ideas-detail, #message-detail {
  -webkit-transition: opacity 480ms ease-out;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 166, ../sass/public.scss */
.mosaic #public-detail {
  opacity: 0.3; }

/* factorize with other header buttons */
/* line 171, ../sass/public.scss */
#public-detail .option.right, #ideas-detail .option.right {
  background-size: 40%; }

/* line 175, ../sass/public.scss */
#public-detail .option.right[href="#public-favorites"], #ideas-detail .option.right[href="#library-favorites"] {
  background: url("../images/tmp/public/vote.png") no-repeat center center;
  background-size: 15px; }

/* line 180, ../sass/public.scss */
#public-detail .option.right[href="#public-edit"], #ideas-detail .option.right[href="#library-edit"] {
  background: url("../images/tmp/wall/headerModifyYourIdea.png") no-repeat center center;
  background-size: 20px; }

/* line 185, ../sass/public.scss */
#public-detail .option.left[href="#public-2cents"], #ideas-detail .option.left[href="#library-2cents"] {
  background: url("../images/tmp/public/2cents.png") no-repeat center center;
  background-size: 20px; }

/* line 190, ../sass/public.scss */
#public-detail .option.left[href="#public-share"], #ideas-detail .option.left[href="#library-share"] {
  background: url("../images/tmp/wall/25shareActive.png") no-repeat center center;
  background-size: 30px; }

/* line 195, ../sass/public.scss */
#ideas-detail .detail-footer .sharedwith {
  float: left;
  padding-left: 20px;
  margin-left: 40px;
  font-size: 14px;
  color: #292929;
  font-style: italic;
  background: url("../images/tmp/brainstorm/multiuser.png") no-repeat left center;
  background-size: 15px; }

/* line 206, ../sass/public.scss */
#sharelist {
  position: relative;
  margin: 10px 40px;
  float: left;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.7); }

/* line 215, ../sass/public.scss */
.detail-contents {
  background-image: -webkit-linear-gradient(top, white 74%, #e5e5e5);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 220, ../sass/public.scss */
.detail-header, .detail-body {
  margin-left: 40px;
  margin-right: 40px; }

/* line 225, ../sass/public.scss */
.detail-header {
  height: 80px;
  padding-top: 25px;
  border-bottom: 1px solid #CCC; }

/* line 231, ../sass/public.scss */
.detail-header .avatar, #newmsg .avatar, #msgreply .avatar {
  float: left;
  width: 60px;
  height: 60px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  background-size: cover; }

/* line 242, ../sass/public.scss */
.detail-header h2, #contactdetails h2 {
  margin-left: 15px;
  font-size: 24px;
  font-weight: normal;
  display: inline; }

/* line 249, ../sass/public.scss */
.detail-header .date {
  margin-top: 10px; }

/* line 253, ../sass/public.scss */
.detail-header .author {
  /* may be use an other display */
  display: inline;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14 px;
  color: #F27B3D; }

/* line 263, ../sass/public.scss */
.commentlbl {
  display: inline;
  margin-left: 2px;
  font-size: 14px;
  font-family: Helvetica;
  color: black; }

/* line 271, ../sass/public.scss */
.detail-body {
  font-size: 14px;
  overflow-y: scroll; }

/* line 276, ../sass/public.scss */
.detail-body p {
  margin-top: 15px;
  text-align: justify; }

/* line 281, ../sass/public.scss */
#public-detail .detail-footer, #ideas-detail .detail-footer {
  height: 40px;
  padding-top: 20px; }

/* line 286, ../sass/public.scss */
.detail-footer {
  height: 60px; }

/* idea voting piece */
/* line 291, ../sass/public.scss */
#public-detail .rateIdea, #ideas-detail .rateIdea {
  position: absolute;
  left: 490px; }

/* line 296, ../sass/public.scss */
#public-detail a.item-acorn, #ideas-detail a.item-acorn {
  background-image: url("../images/tmp/wall/ideaVoteActive.png");
  height: 15px;
  width: 15px;
  float: left; }

/* line 303, ../sass/public.scss */
#public-detail .rateIdea .rating, #ideas-detail .rateIdea .rating {
  float: left;
  font-family: Helvetica;
  margin-right: 5px;
  font-size: 13px;
  line-height: 20px; }

/* line 311, ../sass/public.scss */
#public-detail .publicButton, #ideas-detail .publicButton {
  float: left;
  height: 20px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  line-height: 20px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: 5px;
  background: #657B99; }

/* line 326, ../sass/public.scss */
.pressed {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  background: #666666; }

/* line 331, ../sass/public.scss */
.acorns {
  display: inline-block;
  width: 140px;
  height: 20px;
  margin: auto;
  background: white;
  padding: 3px;
  text-align: center;
  border: 1px dashed #657b99;
  border-radius: 5px; }

/* line 343, ../sass/public.scss */
.acorns .item-acorn {
  margin-left: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  /*background: url('../images/tmp/wall/rateForList.png') no-repeat center center;*/ }

/* line 351, ../sass/public.scss */
.votes {
  color: black;
  margin-left: 5px;
  line-height: 20px;
  font-size: 10px;
  font-style: italic;
  font-family: Helvetica;
  float: left; }

/* line 361, ../sass/public.scss */
.popup {
  display: none; }

/* line 365, ../sass/public.scss */
.appear {
  display: block; }

/* line 369, ../sass/public.scss */
#ratingPopup {
  position: relative;
  margin-top: -5px;
  margin-left: -250px; }

/* public detail stack */
/* refactor with .details position absolute */
/* line 378, ../sass/public.scss */
.detail-stack {
  position: absolute;
  width: 630px;
  overflow-y: scroll; }

/* line 383, ../sass/public.scss */
.idea-edit .header, .idea-sendmail .header {
  z-index: 1000; }

/* line 387, ../sass/public.scss */
.idea-edit .input {
  font-size: 14px; }

/* line 391, ../sass/public.scss */
.form {
  /* may be set margin instead padding, in this way we don't have to set p margin */
  padding: 20px 20px 0px 20px; }

/* line 396, ../sass/public.scss */
.form p {
  /* may be try to amelioreate margin and padding to have less css */
  margin-bottom: 20px; }

/* line 401, ../sass/public.scss */
.input {
  /* keep width 100% size of container with padding */
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 10px;
  border: 0px;
  border-radius: 0px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 413, ../sass/public.scss */
textarea.input {
  resize: none;
  padding-top: 15px;
  font-size: 14px; }

/* line 419, ../sass/public.scss */
.idea-sendmail .mail-header, #newmsg .mail-header, #msgreply .mail-header {
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 10px 0 0 10px;
  border: 0px;
  border-radius: 0px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
  line-height: 15px;
  min-height: 25px;
  max-height: 75px;
  font-size: 14px; }

/* set input size...better solution*/
/* line 435, ../sass/public.scss */
textarea.description {
  height: 100px; }

/* line 439, ../sass/public.scss */
textarea.solution {
  height: 175px; }

/* line 443, ../sass/public.scss */
.options {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%; }

/* line 449, ../sass/public.scss */
.edit-visibility, .current-visibility {
  display: inline-block;
  font-size: 12px;
  height: 30px; }

/* line 455, ../sass/public.scss */
.edit-visibility {
  text-align: right;
  color: #b3b3b3;
  width: 65%; }

/* line 461, ../sass/public.scss */
.current-visibility {
  padding-left: 25px;
  background-position: left center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  color: #F27B3D;
  width: 30%;
  background-image: url("../images/tmp/public/privateForList.png"); }

/* line 471, ../sass/public.scss */
.current-visibility.replay {
  background-image: url("../images/tmp/library/25goToSession.png"); }

/* line 475, ../sass/public.scss */
.edit-visibility.replay, .current-visibility.replay {
  margin-top: 5px; }

/* line 479, ../sass/public.scss */
.edit-visibility .label, .current-visibility .label {
  font-family: Pacifico;
  line-height: 30px; }

/* line 484, ../sass/public.scss */
.edit-visibility span, .current-visibility span {
  font-family: Helvetica; }

/* may be create a class button ...they are label to stay in p*/
/* line 489, ../sass/public.scss */
.submit label {
  -webkit-border-radius: 4px;
  text-align: center;
  /* inline-block because labels are inline */
  display: inline-block;
  padding: 6px 0;
  width: 92px;
  font-weight: bold;
  font-size: 12px;
  color: white; }

/* line 501, ../sass/public.scss */
.submit .editerror {
  width: 50%;
  font-size: 10px;
  font-family: Helvetica;
  color: #4D4D4D; }

/* line 508, ../sass/public.scss */
.submit {
  margin-top: 20px; }

/* line 512, ../sass/public.scss */
.publish {
  background: #8CAB68;
  margin-right: 2%;
  width: 24%; }

/* line 518, ../sass/public.scss */
.cancel {
  background: #E69B73;
  width: 24%; }

/* detail stack send mail */
/* line 524, ../sass/public.scss */
.idea-sendmail {
  background: white; }

/* line 528, ../sass/public.scss */
.idea-sendmail .avatar {
  margin: 20px; }

/* line 532, ../sass/public.scss */
.idea-sendmail .form {
  width: 530px;
  margin-left: 60px;
  padding: 20px; }

/* line 538, ../sass/public.scss */
.idea-sendmail .input, #newmsg .input, #msgreply .input, #addgroup .input, #groupdetails .input {
  height: 30px;
  padding-left: 10px;
  font-size: 14px; }

/* line 544, ../sass/public.scss */
.idea-sendmail textarea.input, #newmsg textarea.input, #msgreply textarea.input {
  padding: 20px;
  min-height: 200px;
  line-height: 20px; }

/* send mail attachment styles */
/* line 552, ../sass/public.scss */
.attachment {
  border: 1px solid #CCC;
  -webkit-border-radius: 5px;
  padding: 30px 20px 30px 20px; }

/* line 558, ../sass/public.scss */
.attachment-header {
  padding-bottom: 20px; }

/* line 562, ../sass/public.scss */
.idea-sendmail .attachment-header .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 573, ../sass/public.scss */
.attachment-header h2 {
  margin-left: 75px;
  font-family: Pacifico;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: normal; }

/* line 582, ../sass/public.scss */
.attachment-header .date {
  font-size: 12px;
  color: #808080; }

/* line 587, ../sass/public.scss */
.attachment-header .author {
  margin-left: 15px;
  font-size: 16px;
  color: #F27B3D;
  font-weight: bold; }

/* line 594, ../sass/public.scss */
.attachment-header .visibility-icon {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -10px; }

/* line 602, ../sass/public.scss */
.visibility-icon.public {
  background: url("../images/tmp/public/publicForList.png") no-repeat center center;
  background-size: contain; }

/* line 607, ../sass/public.scss */
.visibility-icon.private {
  background: url("../images/tmp/public/privateForList.png") no-repeat center center;
  background-size: contain; }

/* line 612, ../sass/public.scss */
.attachment-body {
  margin-left: 20px;
  padding-top: 12px;
  border-top: 1px solid #cccccc; }

/* line 618, ../sass/public.scss */
.attachment-body p {
  font-size: 14px; }

/* line 622, ../sass/public.scss */
.sendmail-footer p.send, .edituserdetails p.update, #groupdetails p.update {
  padding-bottom: 20px;
  margin-top: 20px; }

/* line 627, ../sass/public.scss */
.send .editerror, .edituserdetails .update .editerror {
  float: left;
  font-weight: bold;
  color: black;
  font-size: 12px; }

/* detail stack send mail */
/* line 635, ../sass/public.scss */
#sharelistauto {
  width: 568px;
  margin-top: 2px;
  position: relative; }

/* line 641, ../sass/public.scss */
.idea-share .selectall {
  float: right;
  background: #657B99;
  color: white;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  width: 120px;
  text-align: center; }

/* line 653, ../sass/public.scss */
.idea-share .form {
  padding-bottom: 20px; }

/* line 657, ../sass/public.scss */
.idea-share .form legend {
  width: 100%;
  color: #657b99;
  font-size: 16px;
  padding-bottom: 3px;
  margin-top: 10px; }

/* line 665, ../sass/public.scss */
.idea-share .search {
  width: 300px; }

/* line 669, ../sass/public.scss */
.idea-share textarea.sharemessage {
  height: 200px;
  line-height: 20px; }

/* line 674, ../sass/public.scss */
.sharecontactlist {
  margin-top: 10px; }

/* line 678, ../sass/public.scss */
.sharecontactlist .contact:first-child {
  border-top: none; }

/* line 682, ../sass/public.scss */
.sharecontactlist li {
  float: left;
  width: 284px;
  height: 34px;
  border-top: none;
  padding: 3px 0px 3px 0px;
  overflow-y: hidden;
  min-height: 0; }

/* line 692, ../sass/public.scss */
.sharecontactlist p {
  padding: 0;
  margin: 0px 0px 0px 10px; }

/* line 697, ../sass/public.scss */
.sharecontactlist .remove-contact {
  float: right;
  margin-top: -10px;
  width: 15px;
  height: 15px;
  background: url("../images/tmp/wall/35delete.png") no-repeat center center;
  background-size: 15px 15px; }
