/* TWOCENTS */
/* line 3, ../sass/twocents.scss */
#public-twocents, #library-twocents, #connect-twocents {
  width: 628px;
  overflow-y: scroll;
  font-family: Helvetica; }

/* line 9, ../sass/twocents.scss */
.twocentList li:nth-child(even) {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f8f8f8 90%); }

/* line 13, ../sass/twocents.scss */
.replies li:nth-child(even) {
  background: white; }

/* line 17, ../sass/twocents.scss */
.writeTwocent {
  padding: 20px 20px 0px 20px;
  -webkit-box-shadow: 0px 0px 3px #cccccc; }

/* line 22, ../sass/twocents.scss */
.writeTwocent .date {
  float: none;
  color: gray;
  font-size: 12px; }

/* line 28, ../sass/twocents.scss */
.twocentText {
  padding: 10px;
  width: 500px;
  margin-left: 20px;
  border: none;
  border-radius: 0;
  height: 150px;
  overflow-y: scroll;
  font-family: Helvetica;
  font-size: 12px;
  color: #808080;
  /*background-image: -webkit-gradient(linear, center top, center bottom, from(white 74%), to(#e5e5e5))*/
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3); }

/* line 44, ../sass/twocents.scss */
.writeTwocent .writeFooter {
  width: 520px;
  min-height: 30px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-left: 60px; }

/* line 52, ../sass/twocents.scss */
.writeTwocent .twocentContext .user, .writeTwocent .twocentContext .creadate, .writeTwocent .twocentContext .moddate {
  background-repeat: no-repeat;
  background-position: left 0.2em;
  line-height: 20px;
  margin-bottom: 2px;
  background-size: 12px 12px; }

/* line 60, ../sass/twocents.scss */
.writeTwocent .twocentContext .user {
  background-image: url("../images/tmp/wall/authoredBy14.png"); }

/* line 64, ../sass/twocents.scss */
.writeTwocent .twocentContext .creadate {
  background-image: url("../images/tmp/wall/creationDate14.png"); }

/* line 68, ../sass/twocents.scss */
.writeTwocent .twocentContext .moddate {
  background-image: url("../images/tmp/wall/lastModified14-01.png"); }

/* line 72, ../sass/twocents.scss */
.writeTwocent .twocentContext .userlbl, .writeTwocent .twocentContext .creadatelbl, .writeTwocent .twocentContext .moddatelbl {
  margin-left: 20px;
  font-size: 12px;
  font-family: Helvetica; }

/* line 78, ../sass/twocents.scss */
.writeTwocent .twocentContext .userlbl {
  color: #F27B3D;
  font-family: Helvetica; }

/* line 83, ../sass/twocents.scss */
.writeTwocent .twocentPublish, .writeTwocent .twocentCancel, .sendmail, .cancelmail, .edituserdetails label.updateprofile, .edituserdetails label.cancelprofile, .aboutcontent .cancel, .aboutcontent .send {
  height: 26px;
  width: 92px;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: white;
  float: right; }

/* line 96, ../sass/twocents.scss */
.writeTwocent .twocentPublish, .sendmail, .updateprofile, .aboutcontent .send {
  background: #8cab68; }

/* line 100, ../sass/twocents.scss */
.writeTwocent .twocentCancel, .cancelmail, .cancelprofile, .aboutcontent .cancel {
  margin-left: 15px;
  background: #e69b73; }

/* line 105, ../sass/twocents.scss */
.details .twocent {
  padding: 20px 40px 20px 30px; }

/* line 109, ../sass/twocents.scss */
.twocentAvatar, .twocentAvatar .avatar, .replyAvatar, .replyAvatar .avatar, .idea-sendmail .avatar, .msglist .avatar, .contactlist .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 119, ../sass/twocents.scss */
.replyAvatar {
  margin-left: 15px; }

/*
#public .twocentAvatar{
  background-image:url('../images/tmp/wall/60redProfile.png'); 
}

#public .replyAvatar{
  background-image:url('../images/tmp/wall/60yellowProfile.png'); 
}*/
/* line 131, ../sass/twocents.scss */
.twocentAuthor, .twocent .commentLabel {
  float: left;
  font-size: 14px;
  font-family: Helvetica; }

/* line 137, ../sass/twocents.scss */
.twocentAuthor {
  margin-left: 10px;
  color: #657B99;
  font-weight: bold; }

/* line 143, ../sass/twocents.scss */
.twocent .commentLabel {
  color: black;
  margin-left: 2px; }

/* line 148, ../sass/twocents.scss */
.twocent .twocentDate {
  float: none;
  color: gray;
  font-size: 12px;
  line-height: 15px;
  max-width: 150px;
  margin-left: 50px; }

/* line 157, ../sass/twocents.scss */
.twocentMenu {
  float: right;
  width: 120px;
  text-align: center;
  height: 15px;
  margin-top: -20px; }

/* line 165, ../sass/twocents.scss */
.twocentButton {
  float: right;
  height: 20px;
  width: 25px;
  margin-left: 10px;
  background-position: center;
  background-size: 80%; }

/* line 174, ../sass/twocents.scss */
.twocentEditButton {
  background: url("../images/tmp/wall/25modify.png") no-repeat;
  background-size: 80%; }

/* line 179, ../sass/twocents.scss */
.twocentDeleteButton {
  background: url("../images/tmp/wall/25delete.png") no-repeat;
  background-size: 80%; }

/* line 184, ../sass/twocents.scss */
.twocentReplyButton {
  background: url("../images/tmp/wall/25x35reply.png") no-repeat;
  background-size: 120%; }

/* line 189, ../sass/twocents.scss */
.twocentBody {
  width: 100%; }

/* line 193, ../sass/twocents.scss */
.twocentMessage {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-top: 15px;
  padding-top: 12px;
  border-top: 1px solid #CCCCCC;
  font-size: 12px; }

/* line 203, ../sass/twocents.scss */
.repliesButton, .editnotes {
  height: 18px;
  line-height: 14px;
  font-family: Pacifico;
  font-size: 14px;
  color: #657B99;
  margin-left: 10px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 4px;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 15px 15px; }

/* line 217, ../sass/twocents.scss */
.showReplies, .editnotes {
  background-image: url("../images/tmp/public/show.png"); }

/* line 221, ../sass/twocents.scss */
.hideReplies {
  background-image: url("../images/tmp/public/hide.png"); }

/* line 225, ../sass/twocents.scss */
.replies {
  width: 558px; }

/* line 229, ../sass/twocents.scss */
.twocentReply {
  padding: 20px 30px 20px 20px;
  margin-top: 10px;
  margin-left: 10px;
  background: #f2f2f2;
  border: 1px dashed #CCCCCC;
  border-radius: 5px; }

/* line 238, ../sass/twocents.scss */
.twocentReply .twocentDate {
  margin-left: 65px; }

/* line 242, ../sass/twocents.scss */
.writePublicTwocentReply .writeTwocent {
  padding-right: 0px;
  min-height: 150px; }

/* line 247, ../sass/twocents.scss */
.writePublicTwocentReply .replyMessage {
  max-height: 50px;
  overflow-y: scroll;
  width: 458px; }

/* line 253, ../sass/twocents.scss */
.writePublicTwocentReply .writeFooter {
  padding-left: 0px;
  width: 478px; }

/* line 258, ../sass/twocents.scss */
.writeTwocent .twocentContext {
  float: left;
  width: 250px;
  text-overflow: ellipsis;
  padding-left: 15px; }

/* line 265, ../sass/twocents.scss */
.replyToReply .writeTwocent {
  padding-left: 0px; }

/* line 269, ../sass/twocents.scss */
.replyToReply textarea.replyMessage {
  width: 390px;
  margin-left: 15px; }

/* line 274, ../sass/twocents.scss */
.replyToReply div.writeFooter {
  width: 420px; }

/* line 278, ../sass/twocents.scss */
.replyToReply .writeFooter .twocentContext {
  width: 200px;
  padding-left: 10px; }

/* line 283, ../sass/twocents.scss */
.writeTwocentReply {
  padding-left: 0px;
  padding-right: 0px; }

/* line 288, ../sass/twocents.scss */
.writeTwocentReply .twocentText {
  width: 443px;
  max-height: 80px; }

/* line 292, ../sass/twocents.scss */
.writeTwocentReply .writeFooter {
  width: 480px; }
