.dashboard-header .contentMenu{
    position: relative;
    left: 50%;
    width: 450px;
    margin-left: -225px;
}
.dashboardcontent{
    height: 680px;
    width: 980px;
    margin-top: 70px;
    text-align: center;
}
.profilemenu, .aboutmenu{
    height: 680px;
    width: 150px;
    float: left;
    text-align: center;
}
.profilemenu li, .aboutmenu li{
    height: 138px;
    width: 138px;
    line-height: 138px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background:white;
    box-shadow: 2px 2px 5px lightgray;
}
.profilecontentstack, aboutstack{
    height: 680px;
    width: 820px;
    float: left;
    margin-left: 5px;
}
.profiledetails{
    height: 680px;
    width: 820px;
    background: white;
}
.profileheader{
    height: 160px;
    width: 820px;
    
    background: whitesmoke;
    box-shadow: 0px 3px #292929;
}
.avatarbox{
    width: 260px;
    height: 165px;
    float:left;
}
.profileheader .pictureid{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border: 4px solid white;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.avatarform{
    float: left;
    width: 260px;
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
    line-height: 20px;
    text-align: center;
}
.chooseavatar{
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    float: left;
}
.chooseavatar button{
    background: #657B99;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    font-family: Pacifico;
    color: white;
    padding: 4px 18px; 
}
.chooseavatar input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 100px;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}
#submitavatar{
    float:left;
    margin-left: 5px;
    height: 36px;
}
#uploadprogress{
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
    font-size: x-small;
    float: left;
}
.avatarlist{
    width: 90px;
    height: 108px;
    padding-top: 10px;
    margin-left: 5px;
    float: left;
}
.avatarlist li{
    float: left;
}
.avatarlist img{
    width: 30px;
    resize: auto;
}
.profileheader .titlebox{
    float: left;
    width: 540px;
    height: 140px;
    padding-top: 10px;
    text-align: center;
    font-family: Helvetica;   
}
.userprofile .profiletabs{
    width: 100%;
    height: 35px;
    margin-top: 5px;
}
.userprofile .profiletabs ul{
    width: 75%;
    margin: 0 auto;
}
.userprofile .profiletabs li{
    width: 25%;
    margin: 0 auto;
}
.userprofile .profilebuttons button{
    height: 30px;
    line-height: 30px;
    width: 150px;
    font-family: Pacifico;
    font-size: 15px;
    text-align: center;
    background: white;
    color: #292929;
}
.innerprofilestack{
    height: 460px;
    margin: 0 auto;
    width: 95%;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0,64,128,0.4);
}
.innerprofilestack fieldset{
    margin:auto;
    position:relative;
    width:95%;
    height:95%;
    font-family: Helvetica;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #657B99;
    text-decoration: none;
    border:none;
    padding:10px;
}
.innerprofilestack input {
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.stats .profileheader, .stats .titlebox, .stats .avatarbox{
    height: 130px;
}
.stats ul{
    width: 720px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}
.achievements, .leaderboard{
    overflow-y: scroll;
    rext-algin: center;
}
.achievementslist{
    margin: 0 auto;
}
.achievementslist li{
    width: 120px;
    height: 150px;
    padding: 10px;
    border: 2px solid #657B99;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
}
.achievementslist legend{
    font-family: Pacifico;
    width: 100px;
    line-height: 18px;
    font-size: 14px;
}
.leaderlist {
    counter-reset:li;
    margin-left:0;
    padding-left:0;
}
.leader {
    position:relative; 
    margin:0 0 6px 2em; 
    padding:4px 8px; 
    list-style:none; 
    border-top:2px solid #657B99;
}
.leader:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:-2px;
    left:-2em;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#657B99;
    font-weight:bold;
    font-family:helvetica;
    text-align:center;
}
.leadername, .leaderscore{
    color: #657B99;
    font-family: helvetica;
}
.leaderscore{
    float: right;
}
