#brainstorm{
    float: left;
    height: 748px;
/*    background:#F2F2F2 url('../images/tmp/bg.png') no-repeat center center;*/
    background: #CCCCCC;
    background-size: 4px 3px;
    background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%, rgba(255,255,255,.2) 75%,transparent 75%, transparent);
}

#brainstorm, .brainstorm-header{
    width: 931px;
}

.brainstorm-header .date, .brainstorm-header .clock{
    position: absolute;
    z-index: 200;
    line-height: 30px;        
}

.brainstorm-header .date{
    left: 15px;
}

.brainstorm-header .clock{
    right: 15px;
    top: 0;
    padding-left: 26px;
    background: url('../images/tmp/brainstorm/bell14x16.png') no-repeat left 10px;
    background-size: 14px 16px;
}

#brainstorm .timer{
    position: absolute;
    z-index: 500;
    height: 30px;
    width:100px;
    right: 15px;
    top: 0;
    font-size:0px;
    
}

#brainstorm .timer.showtimer{
    padding-left: 40px;
    line-height: 36px;
    text-align:right;
    color: #4d4d4d;
    width: auto;
    min-width: 65px;
    font-size: 14px;
    background: #9ac9cd;
    background-image: url('../images/tmp/brainstorm/greybell.png');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 14px 16px;    
}

.help-brainstorm{
    position: absolute;
    top: 50px;
    right: 10px;
    width:60px;
    height: 60px;
    background:url('../images/tmp/brainstorm/doctordeedee87x85.png') no-repeat center center;
    background-size: contain;
}

#ideafy-menu .brainstorm-header{
    margin-top: -36px;
}

#ideafy-menu ul{
    margin: 0 auto;
    margin-top: 195px;
    width: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(23,41,48,0.4);
    background: white;
    font-family: Pacifico;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4D4D4D;
    list-style: none;
}

#ideafy-menu ul>li{
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    background-size: 40px 40px;
    background-position: 10px center;
    background-repeat:no-repeat;
}

#ideafy-menu ul li:nth-child(n+2) {
    border-top:1px solid #CCCCCC;
}

#ideafy-menu .inactive{
    color: white;
    background-color: #E5E5E5;
}

/* quick brainstorming */

.progressbar{
    height: 36px;
    width: 871px;
    z-index: 200;
    background: white;
    position: absolute;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 15px 15px gray;
}

.exit-brainstorm{
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 20px;
    display: block;
    background: url('../images/tmp/brainstorm/exitdisable150.png') no-repeat center center;
    background-size: 70px 70px;
}

.exit-brainstorm.pressed{
    background: url('../images/tmp/brainstorm/exitActive150.png') no-repeat center center;
    background-size: 70px 70px;
}

#quicksteplist, #dashboard-about .steplist{
    list-style: none;
    display: inline-block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    height: 34px;
    border: 1px solid #aeb9bf;
    border-radius: 5px;  
}

#quicksteplist .step, #dashboard-about .step{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: #B3B3B3;
    font-family: Helvetica;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    border-right: 1px solid #aeb9bf;   
}

#quicksteplist .step:nth-last-child, #dashboard-about .step:nth-last-child{
    border-right: none;
}

#quicksteplist .step.pressed, #dashboard-about .step.pressed{
    color: white;
    font-weight: bold;
    text-shadow: none;
}

.inactive{
    color: #B3B3B3;
    background: #E5E5E5;
}

#quickstart .brainstorm-header, #quicksetup .brainstorm-header, #quickscenario .brainstorm-header, #quicktech .brainstorm-header, #quickidea .brainstorm-header, #quickwrapup .brainstorm-header{
    margin-top: -36px;
    line-height: 36px;
}

#quickscenario, #quickidea, #quickwrapup{
    background: white;
    width: 931px;
    height: 748px;
}

#quickstart .quickstart-form, #quicksetup .drawarea, #quicktech .drawarea{
    background: white;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(23,41,48,0.4);
}

.next-button{
    color: white;
    width: 56px;
    height: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    background: #94A3B8;
    border-radius: 5px;    
}

.previousbutton{
    position: absolute;
    width: 200px;
    height: 36px;
    top: 0px;
    margin-left: 15px;
    z-index: 1000;
    background: #9ac9cd;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px auto ;
    background-image: url('../images/tmp/brainstorm/previousstep.png');
}

.previousbutton.pressed{
    background-image: url('../images/tmp/brainstorm/previousactive.png');
    -webkit-box-shadow: none;
}

.drawarea{
    width: 441px;
    height: 425px;
    padding: 20px;
}

.drawok{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 58px;
    margin-right: 58px;
    background-size: contain;
    background: url('../images/tmp/brainstorm/lockdraw.png') no-repeat center center;
}

.drawok.pushed{
    background: url('../images/tmp/brainstorm/drawaccepted.png') no-repeat center center;
}

.leftarea{
    width: 167px;
    height: 712px;
    float: left;
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ffffff),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(left,#ffffff 0%,#f2f2f2 100%);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;   
}

.workarea{
    float: left;
    margin-left: 5px;
    width: 759px;
    height: 632px;
    background: white;    
}

.whiteboard{
    width: 717px;
    height: 438px;
    background: #F2F2F2;
    border: 1px dashed #CCCCCC;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;    
}

.whiteboard .defaultcontent{
    display: inline-block;
    color: #657B99;
    font-size: 14px;
    font-family: Helvetica;
    width: 567px;
    margin-left: 75px;
    margin-top: 100px;
    text-align: justify;
}

.whiteboard .defaultcontent strong{
    color: #254066;
}

.whiteboard .doctor-deedee, #addcontact .doctor-deedee{
    float: left;
    width: 87px;
    height: 85px;
    background-image: url('../images/tmp/brainstorm/doctordeedee87x85.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;  
}

.whiteboard .help{
    float: left;
    width: 450px;
    padding-left: 30px;
}

.whiteboard div.help>p{
    margin-bottom: 5px;
}

.wbpostit{
    width: 190px;
    height: 285px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(23,41,48,0.4);
}

.import .wbpostit{
    width: 480px;
    height: 340px;
    margin-top: 5px;
    padding: 20px 40px;
}

.import .postit-cancel{
    margin-top:-35px;
}

.importbutton{
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

.importbutton input{
    cursor: pointer;
    position: absolute;
    left: 290;
    top: 60;
    width: 110px;
    height:40px;
    opacity: 0;    
}

.importbutton div{
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
    font-family: Helvetica;
    font-size: 14px;
    color: #292929;
    text-align: center;
    border: 1px solid #E6E6E6;
    height: 30px;
    line-height: 30px;
}

.importbutton div.pressed{
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
    color: white;
    background: #666666;
}

.import .postpostit{
    margin-left:145px;
}

.import .postpostit, .import .delpostit{
    margin-top: 5px;    
}

.import .uploadprogress{
    float: right;
    margin-right: 5px;
    font-family: Helvetica;
    font-size: small;
    color: #292929;
}

.postit-cancel{
    float: right;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: -30px;
    margin-right: -30px;
    background: url('../images/tmp/brainstorm/closeFrame.png') no-repeat center center;
    background-size: 10px 10px;
}

.postit-close{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: white;
    margin-top: -55px;
    margin-right: -40px;
    background-image: url('../images/tmp/brainstorm/closeFrame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.postit{
    width: 150px;
    height: 150px;
    padding: 15px 20px 25px 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.postit textarea{
    font-size: 16px;
    text-align: center;       
    font-family: Pacifico;
    color: #4D4D4D;
    border: none;
    background: transparent;
    padding-top: 0px;
    line-height: 25px;
    widht:100%;
    height:100%;
    overflow-y: scroll;
}

.picframe{
    width: 480px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#preview{
    display: inline-block;
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(23,41,48,0.4);
}

.wbmain{
    overflow-y: scroll;
}

.wbmain, .wbdrawing{
    width: 717px;
    height: 438px;  
}

.wb-item{
    display:block;
    background-size:contain;
    width: 139px;
    height: 141px;
    margin-top: 20px;
    float: left;
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-y: scroll;
}

.wb-item.postit{
    font-family: Pacifico;
    overflow-y: scroll;
    text-align: center;
}

.inner-postit{
    width:100%;
    height:80%;
    overflow-y:scroll;
    line-height:26px;
    padding-bottom: 20px;
}

.photo, .drawing{
    margin: 30px 10px 20px 10px;
    background-size: contain;
    border: 5px solid white;
    border-radius:3px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(23,41,48,0.4); 
}

.photo{
    padding: 5px;    
}

.drawing{
    border-top-width: 30px;
    border-bottom-width:29px;
    padding: 0px;
    width: 139px;
    height:100px;    
}

.enlarge{
    width: 716px;
    height: 438px;
    z-index: 200;
    position: absolute;
    margin: 0;
    -webkit-box-shadow: none;
    border-radius: 10px;
    background-size:contain;
    padding: 0px;
    border: none;
}

.choosecolorlbl{
    width: 190px;
    margin-top: 20px;
    disaply: block;
    color: #657B99;
    font-family: Pacifico;
    font-size: 14px;
    border-bottom: 2px solid #AEB9BF;
}

.postitcolors{
    margin-top: 10px;
    margin-left: 3px;
}

.postitcolor{
    display: block;
    float: left;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.postpostit, .delpostit{
    margin-top: 20px;
    float: left;
    width: 95px;
    height: 34px;
    background-size: cover;
}

.postpostit{
    background: url('../images/tmp/brainstorm/buttonPostDisable.png') no-repeat center center;
}

.delpostit{
    background: url('../images/tmp/brainstorm/buttonDeleteDisable.png') no-repeat center center;
}

.postpostit.pressed{
    background: url('../images/tmp/brainstorm/buttonPostActive.png') no-repeat center center;
}

.delpostit.pressed{
    background: url('../images/tmp/brainstorm/buttonDeleteActive.png') no-repeat center center;
}

.wbdrawing{
    background: white;
    border-radius:10px; 
}

.drawingtools{
        height: 438px;
        float:left;
        width:60px;
        margin-right: 5px;
        background:#1A1A1A;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align:center;
        color:white;
        font-family: Helvetica;
        font-size:10px;
        -webkit-box-shadow: 0 0 5px 1px gray;
}

.pencil, .erase, .clear, .canceldrawing, .deletedrawing, .savedrawing{
    width:60px;
    height:39px;
    line-height:39px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 20px 20px;
}
.pencil, .erase, .clear, .canceldrawing, .deletedrawing{
    border-bottom: 1px solid white;
}

.pencil.selected, .erase.selected{
    background: white;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 20px 20px; 
}

.drawinglabel{
    height: 18px;
    border-bottom: 1px solid white;
    line-height: 18px;
}

.pencil{
    border-top-left-radius: 10px;
    background-image: url('../images/tmp/brainstorm/penToolDisable20.png');
}

.pencil.selected{
    background-image: url('../images/tmp/brainstorm/penToolActive20.png');
}

.erase{
    background-image: url('../images/tmp/brainstorm/eraserToolDisable.png');    
}

.erase.selected{
    background-image: url('../images/tmp/brainstorm/eraserToolActive.png');    
}

.clear.selected{
    background: white;
    color: #1A1A1A;
}

.vertical{
    -webkit-appearance:none;
    z-index:500;
    background: url('../images/tmp/brainstorm/sizeRuler.png') no-repeat center center;
    background-size: cover;
    width: 153px;
    height:50px;
    position:absolute;
    top:180px;
    left: 289px;
    -webkit-transform:rotate(270deg);

}

.vertical::-webkit-slider-thumb {
     -webkit-appearance: none;
    background: url('../images/tmp/brainstorm/rulerArrow.png') no-repeat left 30px;
    background-size: 20px 10px;
    border: none;
    width: 20px;
    height: 50px;
}

circle.stroke {
    stroke:rgba(145,145,145,0.7);
}

.pencilpreview, .bgpreview{
    display: inline-block;
    margin-top: 4px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}

.pencilpreview{
    width:36px;
    height:36px;
    border-radius: 18px;
}

.bgpreview{
    width:30px;
    height:30px;
    margin-top: 7px;
    border-radius: 3px;
}

#pencilcolors, #pencilbgcolors{
    position:absolute;
    left: 346px;
    padding: 15px 15px 15px 0px;
    height: 30px;
    background: #333333;
    z-index: 500;
    -webkit-box-shadow: 0 0 5px 1px gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pencilcolors{
    top: 253px;
}

#pencilbgcolors{
    top: 315px;
}

li.color-item{
    margin-left:15px;
    float: left;
}

.color-item div{
    display: block;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    line-height:30px;
    font-size:20px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}

#pencilcolors div{
    border-radius:30px;
}

#pencilbgcolors div{
    border-radius:5px;
}

.canceldrawing{
    background-image: url('../images/tmp/brainstorm/hideTool9x14.png');
    background-size: 12px 12px;   
}

.deletedrawing{
    background-image: url('../images/tmp/brainstorm/whiteCrossDelete.png');
    background-size: 12px 12px;     
}

.savedrawing{
    background: #B1C59B;
    background-image: url('../images/tmp/brainstorm/continueactive.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 40px 40px;
    height:40px;
    border-bottom-left-radius:10px; 
}

.canceldrawing.selected, .deletedrawing.selected{
    -webkit-box-shadow: inset 0 0 10px 1px rgba(255,255,255,0.6);
}

.savedrawing.selected{
    background: #6C8B4D;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
    color: black;
    font-size: 12px;
}

#pencilcolor, #pencilbgcolor{
    width:60px;
    height:61px;   
}

.drawingcanvas{
    float:left;
    background:white;
    height: 438px;
    width: 652px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#toolbox{
    margin: 0 159px;
    height: 130px;
    width: 390px;
    padding: 30px 0px;
}

.toolbox-button{
    width:100px;
    height:130px;
    margin: 0px 15px;
    float: left;
}

.toolbox-button div{
    width: 100px;
    height: 100px;
    background-size: contain;
}

.toolbox-button legend{
    width: 100px;
    padding: 0px;
    text-align: center;
    font-family: Pacifico;
    margin-top: 15px;
    line-height: 15px;
    color: #808080;
}

.toolbox-button .postit-button{
    background-image: url('../images/tmp/brainstorm/postItDisable100.png');
}

.toolbox-button .importpic-button{
    background-image: url('../images/tmp/brainstorm/importDisable100.png');
}

.toolbox-button .drawingtool-button{
    background-image: url('../images/tmp/brainstorm/drawingDisable100.png');
}

.toolbox-button .postit-button.pushed{
    background-image: url('../images/tmp/brainstorm/postItActive100.png');
}

.toolbox-button .importpic-button.pushed{
    background-image: url('../images/tmp/brainstorm/importActive100.png');
}

.toolbox-button .drawingtool-button.pushed{
    background-image: url('../images/tmp/brainstorm/drawingActive100.png');
}

#finish-button{
    width: 145px;
    height: 34px;
    line-height: 34px;
    color: white;
    font-size: 12px;
    background: #94A3B8;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

/* quickstart */

#quickstart .quickstart-form{
    width: 590px;
    height: 370px;    
    padding:40px 20px 40px 20px;    
}

#quickstart .quickstart-form label{
    font-family: Pacifico;
    color: #657B99;
    font-size: 14px;
    letter-spacing: 1px;
}

#quickstart hr{
    border: none;
    background:#AEB9BF;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 10px;
    -webkit-margin-before: 0px;
    _webkit-margin-after: 0px;
}

#quickstart .quickstart-form textarea{
    font-size: 12px;
    background: #F2F2F2;
    border: none;
    width: 570px;
    padding: 10px;
    outline: 0px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);    
}

#quickstart .quickstart-title{
    height: 70px;
    margin-bottom: 40px;
}

#quickstart .quickstart-desc{
    height: 115px;
    margin-bottom: 20px;
}

#quickstart .next-button{
    margin-left: 534px;
}

/* quicksetup */

#quicksetup .drawbutton, #quicktech .drawbutton{
    display: inline-block;
    height: 107px;
    width: 107px;
    background-size: contain;
    border-radius: 50px;
    margin: 20px 20px 30px 20px;
}

.drawchar{
    background: url('../images/tmp/decks/charactersactive.png') no-repeat center center;
}

.drawcontext{
    background: url('../images/tmp/decks/contextactive.png') no-repeat center center;    
}

.drawproblem{
    background: url('../images/tmp/decks/problemactive.png') no-repeat center center;
}

.drawtech{
    background: url('../images/tmp/decks/technologyactive.png') no-repeat center center;
}

.drawchar.pushed{
    background: url('../images/tmp/decks/characters.png') no-repeat center center;
}

.drawcontext.pushed{
    background: url('../images/tmp/decks/context.png') no-repeat center center;    
}

.drawproblem.pushed{
    background: url('../images/tmp/decks/problem.png') no-repeat center center;
}

.drawtech.pushed{
    background: url('../images/tmp/decks/technology.png') no-repeat center center;
}

.reload{
    background: url('../images/tmp/brainstorm/reload.png') no-repeat center center;
}



#quicksetup .next-button{
    margin-top: 20px;
    margin-left: 364px;
}

/* cards, reusable */
.card{
    display: inline-block;
    float: left;
    margin: 0px 20px 10px 20px;
    height: 155px;
    width: 107px;
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: center;
    background-size: 107px 155px;   
}

.highlighted{
    -webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.3);    
}

.card .cardpicture, .cd-picarea .cardpicture, .cardlist .cardpicture{
    display: inline-block;
    margin: 10px 10px 25px 10px;
    width: 87px;
    height: 87px;
    border-radius: 5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.cardlist .cardpicture{
    margin: 10px 10px 15px 10px;
}

.card .cardtitle{
    font-size: 14px;
    line-height: 14px;
    font-family: Pacifico;
    color: #808080;
}

.card.tech .cardpicture{
    margin-bottom: 15px;
    margin-top:15px;
}

.card.tech .cardtitle{
    font-family: Helvetica;
}

/*default cards in case picture is missing */

.char.defaultcard{
    background: url('../images/tmp/decks/fullcards/activeCharacter.png') no-repeat;
} 

.context.defaultcard{
    background: url('../images/tmp/decks/fullcards/activeContext.png') no-repeat;
}

.problem.defaultcard{
    background: url('../images/tmp/decks/fullcards/activeProblem.png') no-repeat;
}

.tech.defaultcard{
    background: url('../images/tmp/decks/fullcards/activeTechnology.png') no-repeat;
}

.defaultscenario .cardpicture{
    background-image: url('../images/tmp/brainstorm/scenario-01.png');
    background-size: 100px;
    background-position: center top;
    margin-bottom: 15px;    
}

.char.defaultcard.highlighted{
    background: url('../images/tmp/decks/fullcards/disableCharacter.png') no-repeat;
} 

.context.defaultcard.highlighted{
    background: url('../images/tmp/decks/fullcards/disableContext.png') no-repeat;
}

.problem.defaultcard.highlighted{
    background: url('../images/tmp/decks/fullcards/disableProblem.png') no-repeat;
}

.tech.defaultcard.highlighted{
    background: url('../images/tmp/decks/fullcards/disableTechnology.png') no-repeat;
}

/* card popup */
.cardpopup{
    width: 310px;
    height: 380px;
    z-index: 1000;
    position: absolute;
}

.cardpopup .leftcaret{
    margin-top: 60px;
    margin-left: -310px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    display: none;
    float: left;    
}

.cardpopup.popright .leftcaret{
    display: inline-block;
}

.cardpopup.popright .rightcaret{
    display: none;
}

.bottomcaret {
    margin-top: 320px;    
}

.cardpopup .rightcaret{
    margin-top: 60px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    display: inline-block;
    float: left;    
}

.cardpopup .card-detail{
    float: left;
    width: 300px;
    height: 380px;
    background: white;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
}

.cd-header{
    height: 30px;
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: Helvetica;
    line-height: 30px;
    font-size: 16px;
}

.cd-header.story{
    height:72px;
    fomt-family: Pacifico;
}

.cd-header span, .close-popup{
    float: left;
}

.cd-header span{
    width: 240px;
}

.close-popup{
    position: absolute;
    top: -15px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: block;
    background-image: url('../images/tmp/brainstorm/deleteBlue28.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.cd-picarea{
   padding: 20px 20px 0px 20px;
   width: 260px;
   height: 112px;
}

.cd-picarea .cardpicture{
    float: left;
    margin: 0;
}

.cardinfo{
    width: 158px;
    float: left;
    margin-left: 15px;
    font-family: Helvetica;
    font-size: 12px;
    height: 87px;
}

.cardinfo span{
    margin-top: 3px;
}

.cd-info{
    margin-left: 2px;
    word-wrap: break-word;
}

.age-suffix{
    margin-left: 2px;
}

.cd-creditslbl, .cd-sourcelbl, .cd-agelbl, .cd-locationlbl, .cd-joblbl, .cd-familylbl, .cd-introlbl{
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 15px;
}

.cd-creditslbl, .cd-sourcelbl{
    color: #999999;
    font-size: 11px;
    padding-left: 20px;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 15px;
}

.cd-agelbl, .cd-locationlbl, .cd-joblbl, .cd-familylbl, .cd-introlbl{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    display: inline-block;    
}

.cd-creditslbl{
    background-image: url('../images/tmp/decks/photoBy14.png');
}

.cd-sourcelbl{
    background-image: url('../images/tmp/decks/source14.png');
}

.cd-agelbl{
    background-image: url('../images/tmp/decks/creationDate14.png');
}

.cd-locationlbl{
    background-image: url('../images/tmp/decks/livesIn14.png');
}

.cd-joblbl{
    background-image: url('../images/tmp/decks/status14.png');
}

.cd-familylbl{
    background-image: url('../images/tmp/decks/children14.png');
}

.cd-contentarea{
    width: 260px;
    height: 193px;
    padding: 0px 20px 20px 20px;
}

.cd-contentarea.story p{
    font-size: 12px;
}

.cd-contentarea .contentTitle{
    font-family: Pacifico;
    font-size: 14px;
    color: #4D4D4D;
}

.cd-contentarea p{
    border-top: 1px solid #E6E6E6;
    padding-top: 3px;
    font-size: 10px;
    overflow-y: scroll;
    text-align: justify;
}

.storytitlelbl{
    background-image: url('../images/tmp/brainstorm/iconStory16x14.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 14px;
    padding-left: 20px;
}

.storytitle span{
    width: auto;
    max-width: 200px;
    overflow: hidden;
}

/* quickscenario */

#quickscenario-left{
    padding-top: 93px;
    height: 619px;
    text-align: center;
}

#quickscenario-left .card{
    margin: 10px 30px;
}

#quickscenario-right{
 
}

#quickscenario .next-button, #quickidea .next-button{
    margin-left: 683px;
}

.writeup{
    padding: 20px 20px 10px 20px;
    font-family: Helvetica;
    font-size: 12px;
}

.enterTitle, .enterDesc, .enterSol{
    padding: 10px;
    font-size: 14px;
    background-image: -webkit-linear-gradient(top, #F2F2F2, #F2F2F2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
    border-radius: 0;
    border: none;
    color: black;
}

.enterTitle::-webkit-input-placeholder, .enterDesc::-webkit-input-placeholder, .enterSol::-webkit-input-placeholder{
    color: #657B99;
}

.enterTitle{
    height: 20px;
    line-height: 20px;
    width: 530px;
}

.enterDesc, .enterSol{
    width: 330px;
    height: 100px;
    margin-top: 15px;    
}

.enterSol{
    margin-left: 19px;
}

.finish-writeup{
    
}

/* quicktech */

#quicktech-left .card{
    margin: 240px 30px 30px 30px;
}

#quicktech .drawarea{
    float: left;
    margin-left: 142px;
}

#quicktech .drawbutton{
    margin-left: 167px;
}

#quicktech .cards{
    overflow-x: scroll;
}

#quicktech .next-button{
    margin-top: 20px;
    margin-left: 364px;
}

/* quickidea */
#quickidea-left ul{
    list-style: none;
}

#quickidea-left{
    padding-top: 15px;
    height: 717px;
}

#quickidea-left .card{
    margin: 3px 30px 15px 30px;
}

/* quickwrapup */
#quickwrapup{
    text-align: center;
}

#quickwrapup .congrats{
    height: 92px;
    width: 445px; 
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 113px;
}

#quickwrapup .congrats .message{
    float: left;
    width: 330px;
    height: 72px;
    padding-top:15px;
    background: #F2F2F2;
    border: 1px dashed #CCCCCC;
    border-radius: 5px;
    color: #657B99;
    font-family: Pacifico;    
}

#quickwrapup .congrats .messagetitle{
    font-size: 18px;
    display: block;
}

#quickwrapup .congrats .sessioncompleted{
    display: block;
    font-size: 14px;
    line-height: 14px;   
}

#quickwrapup .congrats .enddeedee{
    display: inline-block;
    float: left;
    margin-left: 15px;
    width: 98px;
    height: 92px;
    background-image: url('../images/tmp/brainstorm/enddeedee.png');
    background-size: contain;
}

#quickwrapup .summary{
    width: 664px;
    height: 430px;
    padding-left: 8px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 5px;
    background: url('../images/tmp/brainstorm/book.png');
    background-size: contain;
}

#quickwrapup .storysummary, #quickwrapup .ideasummary{
    width: 262px;
    height: 385px;
    padding: 25px 0px 20px 25px;
    margin-left: 20px;
    float: left;
    text-align: left;
}

#quickwrapup .storyheader, #quickwrapup .storytitle, #quickwrapup .ideaheader, #quickwrapup .ideatitle{
    color: white;
    font-family: Pacifico;
    font-size: 16px;
    text-overflow: ellipsis;        
}

#quickwrapup .storyheader, #quickwrapup .ideaheader{
    padding-left: 25px;
    background-repeat: no-repeat;
}

#quickwrapup .storyheader{
    background-image: url('../images/tmp/brainstorm/iconStory16x14.png');
    background-position: left 10px;   
    background-size: 16px 14px;    
}

#quickwrapup .ideaheader{
    background-image: url('../images/tmp/brainstorm/iconIdea12x16.png');
        background-position: left 8px;    
}

#quickwrapup .storycontent, #quickwrapup .ideacontent{
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 280px;
}

#quickwrapup .storycontent .summaryheader, #quickwrapup .ideacontent .summaryheader{
    text-align: left;
    font-family: Pacifico;
    font-size: 14px;
    height: 25px;
}

#quickwrapup .storycontent .content, #quickwrapup .ideacontent .content{
    font-family: Helvetica;
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: justify;
}

#quickwrapup .sessionresults{
    width: 624px;
    display: inline-block;
}

#quickwrapup .sessiontime, #quickwrapup .sessionscore{
    float: left;
    display: inline-block;
    width: 252px;
    height: 40px;
    margin-left: 10px;
    padding-left: 50px;
    background-size: 40px 40px;
    background-position: left center;
    background-repeat: no-repeat;   
}

#quickwrapup .sessiontime span, #quickwrapup .sessionscore span{
    display: block;
    text-align: left;
    line-height:20px;
    font-family: Pacifico;
    color: #808080;
    font-size: 16px;
    width: 80px;
    text-align:center;
}

#quickwrapup .sessiontime{
    background-image: url('../images/tmp/brainstorm/yourTime40.png');    
}

#quickwrapup .sessionscore{
    background-image: url('../images/tmp/brainstorm/yourScore40.png');      
}

#quickwrapup .sessioncards{
    position:absolute;
    width: 931px;
    height: 240px;
    z-index: 100;
    top: 650px;
    overflow-y: scroll;
    padding-top: 15px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#ffffff),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(bottom,#ffffff 0%,#f2f2f2 100%);
    -webkit-box-shadow: inset 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#quickwrapup .sessioncards.expanded{
    top:500px;
    -webkit-transition:top 0.2s ease-out 0;
}

#quickwrapup .sessioncards legend{
    font-family: Pacifico;
    font-size: 14px;
    margin: 0 auto;
    color: #666666;
}

#quickwrapup .cardlist{
    margin: 20px 0px 0px 20px;
}
